{% extends 'base.html' %}

{% load search_tags %}

{% load menubuilder %}
{% block content %}

<div class="wrapper clearfix" id="search">
	<div class="secondary-header">
			<h3>Subsidyscope</h3>
	</div>
		
		{% include "includes/static_side_nav.html" %}

    <div class="page-content">	
		    
			<h2>Search</h2>		
			<p id="top-note-box">Didn't find what you were looking for? Try searching for something else.</p>
		    <form id="search_page_search" class="search_page_search" action="." method="GET">
				{{ form.query }}
				<button class="submit" type="submit" value="Search">Search</button>
			</form>
				    

			<p>&nbsp;</p>
			{% if page_result_set %}
			<h4>Results:</h4>
			<ul class="search_results">
				{% for page in page_result_set %}
					<li>
						
				
					{% if page.object.program_number %}
						
						{% for sector in page.object.sectors.all %}
						
									
								<img src="{{ sector.image_url_small }}"/>
						{% endfor %}
						
						
						<h5><a href="{% url transportation-cfda-programpage page.object.id  %}">{{ page.object.program_number }} &mdash; {{ page.title }}</a></h5>{% for text in page.highlighted.text|safe_highlight %}{{ text|safe_highlight }}{% endfor %}</li>
					
					{% else %}
							{% if page.object.sector.image_url_small %}
								<img src="{{ page.object.sector.image_url_small }}"/>
							{% endif %}
							
						<h5><a href="{{ page.url }}/">{{ page.title }}</a></h5>
						{% for text in page.highlighted.text|safe_highlight %}{{ text|safe_highlight }}{% endfor %}</li>
					{% endif %}
				{% endfor %} 
			</ul>
			{% else %}
				<ul>
					<em>No results found.</em>
				</ul>
				<p>&nbsp;</p>
			{% endif %}
	    </div>
		
	
		
</div> <!--ends container-->
{% endblock %}