{% extends "base.html" %}

{% load media %}

{% block content %}
<style>
#portsearch input.term {
    width: 32%;
    margin-left: 3px;
}
#portsearch label {
    font-weight: normal;
}
#portsearch .submit {
    background-color: #F6F8FB;
    border: 1px solid #899EAB;
    font-size: .8em;
    padding: 0 3px;
    margin-left: 15px;
}
.searchterms, .options {
    display:block;
    margin-top: 15px;
}
.options select {
    font-size: .9em;
}
.searchterms span {
    margin: 0 20px;
}
.results {
    margin-top:20px;
    border-top: 1px solid #EFEFEF;
}
ul.headers li{
    float:left;
    width: 17%;
    text-align: center;
    font-size: .9em;
    padding: 4px;
}
ul.headers li:first-child, .portdetail ul li:first-child {
    width: 30%;
    text-align:left;
}
ul.headers {
    border: 1px solid #1D235F;
    float:left;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 5px;
}
.portdetail{
    float:left;
    width: 100%;
    padding-top: 10px;
}
.portdetail ul {
    float:left;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 5px;
}
.portdetail ul li {
    float: left;
    width: 16%;
    text-align: center;
    padding: 0 5px;
}
.portdetail ul li.city{
    padding-left: 10px;
}
.portdetail ul li.st {
    padding-left: 10px
}
.even {
    background-color: #EFEFEF;
}
</style>

<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
    <span class="span-24">
        <div id="header_area"><h3>Airport Improvement Program Grant Search</h3></div>
        <div class="content_area">
        <p> Some information about AIP and how to use the search goes here maybe. </p>
        <strong>Search By: </strong>
        <form id="portsearch">
            <span class="searchterms"><label>Airport Name:</label><input class="term" type="text" name="portname" /><span><em> &mdash; or &mdash;</em></span><label>Airport Code:</label><input class="term" type="text" name="portcode" /><input type="submit" class="submit" value="Search"/></span>
            <span class="options"><label>filter by year: </label><select name="yearfilter"><option value="all">All available</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option></select>
        </form>
        {% if error %}
            {{error}}
        {% endif %}
 
        {% if grants %}
        <div class="results">
            <ul class="headers">
            <li>Airport Name</li><li>Total Grants (2005-09)</li><li>City</li><li>State</li>
            </ul>

            {% for port in grants %}
                <div class="portdetail{% if forloop.counter|divisibleby:"2"  %} even {%endif%}">
                <ul>
                <li>{{port.0.name}}</li><li>
                {{port.1}}
                </li><li class="city">{{port.0.city}}</li><li class="st">{{port.0.state}}</li>
                </ul>
                </div>
            {% endfor %}
        </div>
        {% endif %} 
        {% if port %}
        <div class="results">
            {{port.name}}
        </div>
        {% endif %}

        </div>
    </span>
</div>

{% endblock %}
