{% extends "base.html" %}

{% load media %}
{% load humanize %}
{% block content %}
{% load smarterif %}
{% js "jquery.easing.1.3.js" %}
{#{% js "aip.js" %}#}
{% css "aip.css" %}
<style>
.searchterms, .options {display: block; margin: 10px;}
#portsearch fieldset, #projectsearch fieldset {padding-top :20px;padding-left: 1.8em;}
#portsearch fieldset.collapsed, #projectsearch fieldset.collapsed { margin:0px; padding-top:0px; border-bottom: none; border-right: none;border-left: none;}
#portsearch fieldset.collapsed div.form_content, #projectsearch fieldset.collapsed div.form_content { display: none; }

#projectsearch {display: block;}
#projectsearch fieldset select { margin: 10px auto;}
#projectsearch fieldset span {margin: 0 auto; width: 350px;display: block;}
#projectsearch fieldset span a {margin-left: 15px;}
#projectsearch .submit, #portsearch .submit { font-size: 1.1em; float:right;}
#projectsearch .submit {background-color: #f6f8fb; border: 1px solid #899EAB; margin-left: 15px; padding: 0 3px;}
td.dollars {text-align:right; }
th.sortable {background: url(/media/images/bg.gif) no-repeat center right; cursor: pointer;}
.pages { margin:15px; display: block; font-size: 1.1em; text-align:right; }
#project_results table { margin-bottom: 0; }
#projectsearch fieldset legend, #portsearch fieldset legend {background: transparent url(/media/images/collapse_minus.png) no-repeat scroll right 5px; cursor: pointer;padding-right:1.3em;}
#projectsearch fieldset.collapsed legend, #portsearch fieldset.collapsed legend { background: transparent url(/media/images/collapse_plus.png) no-repeat scroll right 5px;}
</style>


<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
    <span class="span-24">
        <div id="header_area"><h3>Airport Improvement Program Grant Search</h3></div>
        <div class="content_area">
        <p>The Airport Improvement Program is a <a href="/projects/transportation/direct-expenditures/programs/">CFDA program</a> that administers grants to airports around the country. Use the search options below to look up grant funding and enplanement<sup>1</sup> data by state or airport.</p>
        <form id="portsearch">
            <fieldset {% if type == 'project' %} class="collapsed" {% endif %}>    
            <legend id="expand_airport">Search by Airport</legend>
            <div class="form_content" >    
            <input type="hidden" name="searchtype" value="airport"/>
            <strong>Search by Specific Airport: </strong>
            <span class="searchterms"><label>Airport Name:</label><input class="term" type="text" name="portname" {%if name%} value="{{name}}" {%endif%} /><span><em> &mdash; or &mdash;</em></span><label>Airport Code:</label><input class="term" type="text" name="portcode" {% if code %} value="{{code}}" {% endif %} /></span>
            <strong>Search by Region:</strong>
            <span class="options">By State:&nbsp;<select name="state" id="choose_state">
    <option value="">All</option>
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="AR">Arkansas</option>
    <option value="CA">California</option>
    <option value="CO">Colorado</option>
    <option value="CT">Connecticut</option>
    <option value="DE">Delaware</option>
    <option value="DC">District of Columbia</option>
    <option value="FSM">Federated States of Micronesia</option>
    <option value="FL">Florida</option>
    <option value="GA">Georgia</option>
    <option value="HI">Hawaii</option>
    <option value="ID">Idaho</option>
    <option value="IL">Illinois</option>
    <option value="IN">Indiana</option>
    <option value="IA">Iowa</option>
    <option value="KS">Kansas</option>
    <option value="KY">Kentucky</option>
    <option value="LA">Louisiana</option>
    <option value="ME">Maine</option>
    <option value="MD">Maryland</option>
    <option value="MA">Massachusetts</option>
    <option value="MI">Michigan</option>
    <option value="MN">Minnesota</option>
    <option value="MS">Mississippi</option>
    <option value="MO">Missouri</option>
    <option value="MT">Montana</option>
    <option value="NE">Nebraska</option>
    <option value="NV">Nevada</option>
    <option value="NH">New Hampshire</option>
    <option value="NJ">New Jersey</option>
    <option value="NM">New Mexico</option>
    <option value="NY">New York</option>
    <option value="NC">North Carolina</option>
    <option value="ND">North Dakota</option>
    <option value="OH">Ohio</option>
    <option value="OK">Oklahoma</option>
    <option value="OR">Oregon</option>
    <option value="PA">Pennsylvania</option>
    <option value="RI">Rhode Island</option>
    <option value="SC">South Carolina</option>
    <option value="SD">South Dakota</option>
    <option value="TN">Tennessee</option>
    <option value="TX">Texas</option>
    <option value="UT">Utah</option>
    <option value="VT">Vermont</option>
    <option value="VA">Virginia</option>
    <option value="WA">Washington</option>
    <option value="WV">West Virginia</option>
    <option value="WI">Wisconsin</option>
    <option value="WY">Wyoming</option>
    </select>

    <span style="margin-left: 20px;">By District:&nbsp;
    <select name="district" id="choose_district">
        <option value="">All</option>
        {%for d in districts %}
        <option value="{{d}}">{{d}}</option>
        {% endfor %}
    </select>
    </span>
    <input type="submit" class="submit" value="Search" />
</span>
</div>
</fieldset>
</form>
<form id="projectsearch">
    <input type="hidden" name="fysort" value='{% if sorts.fysort == 'asc' %}asc {%elif sorts.fysort == 'desc'%}desc{%else %}none{%endif%}' />
    <input type="hidden" name="nprsort" value='{% if sorts.nprsort == 'asc'%}asc{% elif sorts.nprsort == 'desc'%}desc{%else %}none{%endif%}' />
    <input type="hidden" name="airportsort" value='{% if sorts.airportsort == 'asc'%}asc{% elif sorts.airportsort == 'desc'%}desc{%else%}none{%endif%}' />
    <input type="hidden" name="totalsort" value='{% if sorts.totalsort == 'asc'%}asc{%elif sorts.totalsort == 'desc'%}desc{%else%}none{%endif%}' />

    <fieldset {% if type == 'airport' %} class="collapsed" {% endif %}>
        <legend id="expand_project">Search by Project</legend>
        <input type="hidden" name="searchtype" value="project" />
        <div class="form_content">
        <span>
            Limit by year range:
        <select name="year_range_first">
            {% for y in years %}
            <option value="{{y}}" {% if filters.year_first == y %} selected  {% endif %}>{{y}}</option>
            {% endfor %}
        </select>
        &nbsp;&mdash;&nbsp;<em>to</em>&nbsp;&mdash;&nbsp;
        <select name="year_range_last">
            {% for y in years %}
                <option value="{{y}}"{% if filters %} {% if filters.year_last == y %} selected {% endif%} {% elif forloop.last %} selected  {%endif%}>{{y}}</option>
            {% endfor %}
        </select>
        <a class="fy all" href="#">All</a>
        </span>
        <span>
            Limit by NPR range:
        <select name="npr_range_first">
            {% for n in nprs %}
            <option value="{{n}}" {% if filters.npr_first == n %} selected {% endif %}>{{n}}</option>
            {% endfor %}
        </select>
        &nbsp;&mdash;&nbsp;<em>to</em>&nbsp;&mdash;&nbsp;
        <select name="npr_range_last">
            {% for n in nprs %}
            <option value="{{n}}" {% if filters %} {% if filters.npr_last == n %} selected {% endif %} {%elif forloop.last%} selected {% endif %} >{{n}}</option>
            {% endfor %}
        </select>
        <a href="#" class="npr all">All</a>
        </span>
        <span>
            Restrict to Stimulus(ARRA) funds?
            <input type="checkbox" name="stimulus" {% if filters.stimulus %} checked {%endif%}/>
        </span>
        <span>
            Restrict to congressional district?
            <select name="district_filter">
            <option value="">All</option>
            {%for d in districts %}
            <option value="{{d}}" {%if filters.dist_filter == d %} selected {% endif %}>{{d}}</option>
            {% endfor %}
            </select>
        </span>
        <input type="submit" class="submit" value="Search" />
        </div>
    </fieldset>
</form>
        {% if error %}
           <span class="error" style="margin-left:20px;"> {{error}}</span>
        {% endif %}
 
<div style="margin-top:10px;"><cite><sup>1</sup>An enplanement, as defined by the FAA, is a single, revenue-generating passenger departing from or arriving at an airport.</cite></div>
        {% if grants %}
        <div id="results">
            <ul class="headers">
            <li class="name">Airport Name</li><li class="money">Total Grants (2005-09)</li><li class="enps">Total Enplanements</li><li>City</li><li class="st">State</li>
            </ul>

            {% for port in grants %}
                <div class="portdetail{% if forloop.counter|divisibleby:"2"  %} even {%endif%}">
                <ul>
                <li class="name" name="{{port.0.code}}"><a href="/projects/transportation/aip/airports/{{port.0.code}}/">{{port.0.name}}</a></li>
                <li class="money">${{port.1|floatformat|intcomma}}</li>
                <li class="enps">{{port.2|intcomma}}</li>
                <li class="city">{{port.0.city}}</li><li class="st">{{port.0.state}}</li>
                </ul>
                </div>
            {% endfor %}
            {% ifequal type "state" %}
                {% if total %}
                 <div class="portdetail"><ul class="sum"><li class="name">Total grant money for state:</li><li class="money">${{total|floatformat:0|intcomma}}</li></ul></div>
                {% endif %}
            {% endifequal %}
        </div>
        {% endif %}
        {% if projects %}
        <div id="project_results">
            <span class="pages">
            {%if projects.has_previous %}
                <a href="?{{querystring}}&page={{projects.previous_page_number}}">&laquo;&nbsp;Previous</a>
            {% endif %}
            &nbsp;Page {{page}} of {{numpages}}&nbsp;
            {% if projects.has_next %}
            <a href="?{{querystring}}&page={{projects.next_page_number}}">Next&nbsp;&raquo;</a> 
            {% endif %}
            </span>
            <table style="width:100%;">
                <tbody>
                    <tr><th class="sortable">FY</th><th style=width:40px;" class="sortable">NPR</th><th class="sortable">Airport</th><th>Description</th><th class="sortable">Total</th><th>Discretionary</th><th>Entitlement</th><th>Stimulus</th></tr>
                    {% for p in projects.object_list %}
                    <tr>
                    <td>{{p.fiscal_year}}</td><td>{{p.npr}}</td><td><a href="/projects/transportation/aip/airports/{{p.airport.code}}">{{p.airport}}{% if p.airport.name == 'New' %} ({{p.airport.city}}{%if p.airport.city%}, {%endif%}{{p.airport.state}}){% endif %}</a></td><td>{{p.description}}</td><td class="dollars">${{p.total|floatformat:0|intcomma}}</td><td class="dollars">${{p.discretionary|floatformat:0|intcomma}}</td><td class="dollars">${{p.entitlement|floatformat:0|intcomma}}</td><td class="dollars">${{p.stimulus|floatformat:0|intcomma}}</td>
                    </tr>
                    {% endfor %}
            </table>
    
            <span class="pages">
            {%if projects.has_previous %}
                <a href="?{{querystring}}&page={{projects.previous_page_number}}">&laquo;&nbsp;Previous</a>
            {% endif %}
            &nbsp;Page {{page}} of {{numpages}}&nbsp;
            {% if projects.has_next %}
            <a href="?{{querystring}}&page={{projects.next_page_number}}">Next&nbsp;&raquo;</a> 
            {% endif %}
            </span>
        {% endif %} 
        </div>
        </div>
    </span>
</div>
<script type="text/javascript" charste="utf-8">
if("{{state}}"){ 
    $("#choose_state").val("{{state}}")
}
if("{{district}}"){
    $("#choose_district").val("{{district}}");
}

$("#choose_district").change(function(){
    $("#choose_state").val("");
});
$("#choose_state").change(function(){
    $("#choose_district").val("");
});
$("#expand_airport").click(function(){
    $(this).parents("fieldset").toggleClass("collapsed");
    return false;
});
$("#expand_project").click(function(){
    $(this).parents("fieldset").toggleClass("collapsed");
    return false;
});
$("#project_results table th.sortable").click(function(e){
    var val_list = {'asc':'desc', 'desc':'asc', 'none':'asc'};
    var sort = $(this).text().toLowerCase() + 'sort';
    var sortable = $("#projectsearch input[name='"+ sort +"']");
    sortable.val(val_list[sortable.val()]);
    sortable.siblings('input').val('none');
    $("#projectsearch").submit();
});
$(".all").click(function(){
    if ($(this).hasClass('npr')){
        $(this).siblings("select")
            .filter(":first").val('0')
            .end()
            .filter(":last").val('100');
        return false;
    } else {
        $(this).siblings('select')
            .filter(":first").val('2005')
            .end()
            .filter(":last").val('2009');
        return false;
    }
});
</script>
{% endblock %}
