{% extends "base.html" %}
{% load media %}
 

{% load humanize %}
{% load smarterif%}
{% load menubuilder %}
{% block content %}

<div id="Transportation" class="wrapper clearfix">	
	<div class="secondary-header"><h3>Airport Detail &mdash; {{airport.name}}</h3></div>
        	{% recursive_menu %}

    <div class="page-content">
			<div class="info">
				<h4>At a Glance</h4>
				<table class="port-stats">
					<thead>
						<tr>
							<th scope="rogroup" colspan="2">
								At a Glance
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="even">
							<th scope="row">
								Location:
							</th>
							<td class="value">
								{%if airport.city%}{{airport.city}},{% endif %}{{airport.state}}
							</td>
						</tr>
						<tr class="odd">
							<th scope="row">
								Service Level:
							</th>
							<td class="value">
								{{service_level}}
							</td>
						</tr>
						<tr class="even">
							<th scope="row">
								Congressional District:
							</th>
							<td class="value">
								{{airport.state}}-{{airport.district}}
							</td>
						</tr>
						<tr class="odd">
							<th scope="row">
								Total Funding (2005-09):
							</th>
							<td class="value">
								&nbsp;${{totalfunding|floatformat:0|intcomma}}
							</td>
						</tr>
						<tr class="even">
							<th scope="row">
								Average grant amount:
							</th>
							<td class="value">
								&nbsp;${{avggrant|floatformat:0|intcomma}}
							</td>
						</tr>
						<tr class="odd">
							<th scope="row">
								Average <a href="/glossary#operation">operations</a>/year:
							</th>
							<td class="value">
								&nbsp;{{avgops|floatformat:0|intcomma}}
							</td>
						</tr>
						<tr class="even">
							<th scope="row">
								Average <a href="/glossary#enplanement">enplanements</a>/year:
							</th>
							<td class="value">
								&nbsp;{{avgenps|floatformat:0|intcomma}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
            <div class="grants">
                {% if stimulus %}
                <h4>Stimulus(ARRA) Grants</h4>
                <table>
                    <thead>
                        <tr>
                        <th scope="rowgroup">Fiscal Year</th><th><a href="/glossary#national-priority-rating">NPR</a></th><th>Grant Amount</th><th>Description</th>
						</tr>
					</thead>
                        {% for s in stimulus %}
						<tbody>
                        <tr>
                            <th scope="row">{{s.fiscal_year}}</th>
                            <td>{{s.npr}}</td>
                            <td>${{s.stimulus|floatformat:0|intcomma}}</td>
                            <td>{{s.description}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="funded">
                {% if projects %}
                <h4>Funded Projects</h4>
                <table>
                    <thead>
	                    <tr>
							<th scope="rowgroup">Fiscal year</th>
							<th scope="col"><a href="/glossary#national-priority-rating">NPR</a></th>
							<th scope="col" class="align-left">Description</th>
							<th scope="col">Total Grant Amount</th>
							<th scope="col">Discretionary Funding</th>
							<th scope="col">Entitlement Funding</th>
						</tr>
					</thead>
					<tbody>
                    {% for p in projects %}
                        {% if p.stimulus = 0 or p.total > p.stimulus   %}
                        <tr>
                        <th scope="row">{{p.fiscal_year}}</th>
                        <td>{{p.npr}}</td>
                        <td class="align-left">{{p.description}}</td>
                        <td>${{p.total|floatformat:0|intcomma}}</td>
                        <td>${{p.discretionary|floatformat:0|intcomma}}</td>
                        <td>${{p.entitlement|floatformat:0|intcomma}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
                {% elif grants %}
                    <h4>Grants Funded</h4>
                    <table style="width:100%;">
                        <thead>
                            <tr>
								<th scope="rowgroup">Fiscal year</th>
								<th scope="col" class="align-left">Description</th>
								<th scope="col">Grant Amount</th>
								<th scope="col">Discretionary Funding</th>
								<th scope="col">Entitlement Funding</th>
							</tr>
                            {% for g in grants %}
                            
						</thead>
						<tbody>
							<tr>
                            <th scope="row">{{g.fiscal_year}}</th>
                            <td class="align-left">{{g.description}}</td>
                            <td>${{g.total|floatformat:0|intcomma}}</td>
                            <td>${{g.discretionary_total|floatformat:0|intcomma}}</td>
                            <td>${{g.entitlement_total|floatformat:0|intcomma}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
                {%if operations %}
                <div class="operations">
                <h4><a href="/glossary#operation">Operations</a></h4>
                <table style="width:100%;">
                    <thead>
                        <tr><th scope="rowgroup">Year</th><th scope="col">Operations</th></tr>
					</thead>
					<tbody>
                        {% for o in operations %}
                            <tr><th scope="row">{{o.year}}</th><td>{{o.operations|intcomma}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                {% endif %}

                {% if enplanements %}
                <div class="enplanements">
                <h4><a href="/glossary#enplanement">Enplanements</a></h4>
                <table>
                    <thead>
                        <tr><th scope="rowgroup">Year</th><th scope="col">Enplanements</th></tr>
					</thead>
					<tbody>
                        {% for e in enplanements %}
                            <tr><th scope="row">{{e.year}}</th><td>{{e.amount|intcomma}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                {% endif %}
            </div>

        </div>
    </span>
</div>
{% endblock %}
