{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}

{% block content %}


<div class="container main_container">
	{% include "includes/generic_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h3>Glossary of Terms</h3>		
		</div>
		
					{% recursive_menu %}

    <div class="page-content">

            <dl id="glossary">
                {% for item in glossary_items %}
                {% spaceless %}
                <dt>
                    <a name="{{ item.slug }}" href="#{{ item.slug }}">
                        {{ item.term }}
                        {% if item.acronym %}({{ item.acronym }}){% endif %}
                    </a>
                </dt>
                {% endspaceless %}
                <dd>{{ item.definition|safe }}</dd>
                {% endfor %}
            </dl>
            
            {% morsel text1 %}
            
            
        </div>
    </div>
</div>
{% endblock %}
