{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}
{% load carousel_tags %}
{% load project_update_tags %}
{% load faads_tags %}
 
{% load menubuilder %}
{% block content %}
{% js "scripts/cookie.js" %}
{% js "scripts/carouselinit.js" %}


<div id="transportation" class="wrapper clearfix">	
	<div class="secondary-header">
		<h3>
		Transportation
		</h3>
	</div>
	<div class="carousel-border">
	</div>

    {% recursive_menu %}

	<div class="carousel-bg">
		<div class="tabs">
	              {% carousel_entries 2 %}
	    </div>
	</div>
	<div class="page-content">

		<section>
            
		    {% morsel text2 %}
    
		</section>	
			<section class="updates_box">
				<div class="updates_head">
					<h3 class="sector_updates">Transportation Sector Updates
					</h2>
				</div>
	      
		      {% project_updates 2 %}	
	           </section> 	<!-- ends update box-->
	</div>
</div>



{% endblock %}
