{% extends "base_sector.html" %}
{% load media %}
{% load morsel_tags %}
{% load project_update_tags %}
{% load glossary_tags %}
{% load menubuilder %}
{% block content %}

{% morsel_page_title as page_title %}

<div class="wrapper clearfix" id="mode-page-{{ page_title|lower|escape }}">
    
    <div id="header_area">
		<h3>{% morsel_page_title %}</h3>
    </div>
	    {% recursive_menu %}
    <div class="page-content">
		<aside style="summary">
			{% project_updates_subsector_sidebar subsector %}
			{% morsel sidebar1 as sidebar glossarize %}
			{% if sidebar.content %}
      		<div class="summary">          		    
  		    	{% morsel sidebar1 %}
    		</div>
	   		{% endif %}
		</aside>
          
          {% morsel text1 glossarize %}
	</div>
</div>

{% endblock %}
