{% extends "base.html" %}
{% load media %}

{% block content %}


<div class="wrapper clearfix">
	<div class="secondary-header">
		<h3>Downloadable Datasets</h3>		
	</div>
	{% include "includes/static_side_nav.html" %}
    <div class="page-content">
		<img src="{% media_url %}/images/download_icon.png" alt="Download" id="big-download-icon" class="alignright"/>		
		<p>Subsidyscope maintains a variety of datasets.  Some of them power the visualizations you see on the site, while others are used for behind-the-scene calculations.  All of them are available for use under the terms of the <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons Attribution-Noncommercial 3.0 United States License</a>.</p>
	
		<p>If you reference Subsidyscope in another publication please include a link to the main page (http://subsidyscope.org/) or include a citation such as this:</p>

		<ul><em>Subsidyscope.org. The Pew Charitable Trusts. Washington, DC. Accessed Month, XX, 20XX. Retrieved from http://subsidyscope.org.</em></ul>

		<p>On this page you can find links to the data products that we offer and descriptions of what they contain.  Confused?  Have a suggestion?  <a href="{% url contact_form %}">Contact us</a> and we'll be happy to answer your questions.</p>

			<div id="data-page">	
				<div class="data-section">
					<h4>
						<a class="section-title" href="{% url housing-index %}">Housing</a>
					</h4>
                    <ul class="datasets">
	                    <li class="odd">
                            <div class="top">
                            				<h5>CFDA/FAADS</h5>
                                <div class="downloads">
									(<a href="http://assets.subsidyscope.com/faads.sql.gz">Gzipped MySQL database export</a>, approx. 130M)
								</div>
                            				<div class="clear">
                            				</div>
                            </div>
                            <p class="description">
								The data powering our program directory and direct expenditure search. The former is extracted from PDFs and <a href="http://cfda.gov">CFDA.gov</a>; the latter portion is a housing-oriented subset of data from <a href="http://usaspending.gov">USASpending.gov</a>'s FAADS dataset.
							</p>
                            <p class="updated">
								Updated periodically; last update 3/30/11
							</p>
	                     </li>
	                     <li class="even">
							<div class="top">
                        					<h5>
									FPDS
								</h5>
                          				<div class="downloads">
									(<a href="http://assets.subsidyscope.com/fpds.sql.gz">Gzipped MySQL database export</a>, approx. 100M)
								</div>
								<div class="clear">
								</div>
	                        </div>
	                        <p class="description">
		The data powering our contract search. An energy-oriented subset of data from <a href="http://usaspending.gov">USASpending.gov</a>'s FPDS dataset.
							</p>
	                        <p class="updated">
								Updated periodically; last update 3/30/11
							</p>
						</li>
                 </ul>
			</div>
			<div class="data-section">
				<h4>
					<a class="section-title" href="{% url energy-index %}">Energy</a>
				</h4>
                	<ul class="datasets">
                   	<li class="odd">
						<div class="top">
							<h5>
								CFDA/FAADS
							</h5>
                            <div class="downloads">
								(<a href="http://assets.subsidyscope.com/faads.sql.gz">Gzipped MySQL database export</a>, approx. 130M)
							</div>
            		        <div class="clear">
            		        </div>
						</div>
						<p class="description">
							The data powering our program directory and direct expenditure search. The former is extracted from PDFs and <a href="http://cfda.gov">CFDA.gov</a>; the latter portion is an energy-oriented subset of data from <a href="http://usaspending.gov">USASpending.gov</a>'s FAADS dataset.
						</p>
           		        <p class="updated">
							Updated periodically; last update 9/9/2010
						</p>
					</li>
					<li class="even">
						<div class="top">
							<h5>FPDS
							</h5>
							<div class="downloads">
								(<a href="http://assets.subsidyscope.com/fpds.sql.gz">Gzipped MySQL database export</a>, approx. 100M)
							</div>
                            <div class="clear">
                            </div>
						</div>
                        	<p class="description">
							The data powering our contract search. An energy-oriented subset of data from <a href="http://usaspending.gov">USASpending.gov</a>'s FPDS dataset.
							</p>
                            <p class="updated">
							Updated periodically; last update 9/9/2010
							</p>
                       </li>
                
                	</ul>
			</div>

			<div class="data-section">
				<h4><a class="section-title" href="{% url nonprofits-index %}">Nonprofits</a></h4>
				<ul class="datasets">

					<li class="even">
						<div class="top">
							<h5>CFDA/FAADS</h5>
							<div class="downloads">(<a href="http://assets.subsidyscope.com/faads.sql.gz">Gzipped MySQL database export</a>, approx. 130M)</div>
							<div class="clear"></div>
						</div>
						<p class="description">The data powering our program directory and direct expenditure search. The former is extracted from PDFs and <a href="http://cfda.gov">CFDA.gov</a>; the latter portion is a nonprofit-oriented subset of data from <a href="http://usaspending.gov">USASpending.gov</a>'s FAADS dataset.</p>
						<p class="updated">Updated periodically; last update 9/9/2010</p>
					</li>

					<li class="even">
						<div class="top">
							<h5>FPDS</h5>
							<div class="downloads">(<a href="http://assets.subsidyscope.com/fpds.sql.gz">Gzipped MySQL database export</a>, approx. 100M)</div>
							<div class="clear"></div>
						</div>
						<p class="description">The data powering our contract search. A nonprofit-oriented subset of data from <a href="http://usaspending.gov">USASpending.gov</a>'s FPDS dataset.</p>
						<p class="updated">Updated periodically; last update 9/9/2010</p>
					</li>

				</ul>
			</div>


                <div class="data-section">
				  <h4><a class="section-title" href="{% url transportation-index %}">Transportation</a></h4>
                    <ul class="datasets">
                 
       					<li class="odd">
                            <div class="top">

                                <h5>Airport Improvement Program (AIP)</h5>
                                <div class="downloads">(<a href="/media/data/transportation/AIP_csvs.tar.gz">Gzipped CSVs</a>)</div>
                                <div class="clear"></div>
                            </div>
                            <p class="description">Data from SubsidyScope's <a href="{%url aip-index %}">searchable AIP database</a>. Original data has been parsed from spreadsheets available on the FAA website.</p>
                            <p class="updated">Last update 10/1/2009</p>
                        </li>
                   
                        <li class="even">
                            <div class="top">
                                <h5>CFDA/FAADS</h5>
                                <div class="downloads">(<a href="http://assets.subsidyscope.com/faads.sql.gz">Gzipped MySQL database export</a>, approx. 130M)</div>
                                <div class="clear"></div>
                            </div>
                            <p class="description">The data powering our program directory and direct expenditure search. The former is extracted from PDFs and <a href="http://cfda.gov">CFDA.gov</a>; the latter portion is a transportation-oriented subset of data from <a href="http://usaspending.gov">USASpending.gov</a>'s FAADS dataset.</p>
                            <p class="updated">Updated periodically; last update 9/9/2010</p>
                        </li>
                        
                         <li class="odd">
                              <div class="top">
                                  <h5>Export/Import Bank (Ex-Im)</h5>
                                  <div class="downloads">(<a href="/media/data/exim_07-09.csv">CSV</a>)</div>
                                  <div class="clear"></div>
                              </div>
                              <p class="description">Loans and loan guarantees made by the <a href="{% url transportation-exim %}">Export-Import Bank</a> from FY 2007 to the present.</p>
                              <p class="updated">Last update 6/26/2009</p>
                          </li>
                           <li class="even">
	                            <div class="top">
	                                <h5>Amtrak Route Performance</h5>
	                                <div class="downloads">(<a href="/media/data/transportation/amtrak_route_performance.csv">CSV</a>)</div>
	                                <div class="clear"></div>
	                            </div>
	                            <p class="description">Route performance data for Amtrak, fiscal year 2008. See the <a href="/transportation/amtrak/table/">Amtrak Route Performance Table</a> for description and methodology.</p>
	                            <p class="updated">Last update 10/26/2009</p>
                           </li>
                           
                           <li class="odd">
                              <div class="top">
                                  <h5>Highway Funding Sources (1957-2007)</h5>
                                  <div class="downloads">(<a href="/media/data/transportation/highway_funding_sources.csv">CSV</a>)</div>
                                  <div class="clear"></div>
                              </div>
                              <p class="description">Funding sources for highways grouped by "user", "non-user" and "bonds". Includes nominal and inflation adjusted figures in 2007 dollars using the <a href="http://enr.construction.com/economics/default.asp">Construction Cost Index</a>.</p>
                              <p class="updated">Last update 11/23/2009</p>
                          </li>
                          
                          <li class="even">
	                            <div class="top">
	                                <h5>Highway Revenue Allocations (1957-2007)</h5>
	                                <div class="downloads">(<a href="/media/data/transportation/user_revenue_allocation.csv">CSV</a>)</div>
	                                <div class="clear"></div>
	                            </div>
	                            <p class="description">Revenue from highway sources and allocations to highway and non-highway uses. Includes nominal and inflation adjusted figures in 2007 dollars using the <a href="http://enr.construction.com/economics/default.asp">Construction Cost Index</a>.</p>
	                            <p class="updated">Last update 11/23/2009</p>
                           </li>
                           
                           <li class="odd">
                              <div class="top">
                                  <h5>MARAD Title XI Commitments and Defaults (1994-2009)</h5>
                                  <div class="downloads">(<a href="/media/data/transportation/title_xi_commitments_defaults.csv">CSV</a>)</div>
                                  <div class="clear"></div>
                              </div>
                              <p class="description">List of MARAD Title XI loan guarantees between 1994 and 2009. Data from Department of Transportation Inspector General (IG) reports on defaults between 1998 and 2009. Guarantees are recorded in the fiscal year of the commitment. Losses are recorded in the fiscal year of the default, as reported by the IG.</p>
                              <p class="updated">Last update 11/23/2009</p>
                          </li>
                          
                          
                    </ul>
			  </div>

				<div class="data-section">

					<h4><a class="section-title" href="{% url bailout-index %}">The Bailout</a></h4>
					<div class="section-description">Subsidyscope maintains a number of datasets related to the government's unprecedented intervention in the financial sector.</div>
		
      		<ul class="datasets">
      			<li class="odd">
      				<div class="top">
      					<h5>TARP Transactions</h5> 
      					<div class="downloads">(<a href="{% url tarp-csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">A list of the transactions occurring under the Treasury Department's <a href="{% url tarp %}">Troubled Asset Relief Program</a>. Includes purchases, repayments and dividends, as well as asset information for affected institutions.</p>
      			</li>
			
      			<li class="even">
      				<div class="top">
      					<h5>FDIC Bank Failures</h5>
      					<div class="downloads">(<a href="{% url fdic_bank_failures_csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">The bank failures charged to the FDIC's <a href="{% url fdic_bank_failures %}">Deposit Insurance Fund</a>. Includes bank name, location, closing date, estimated charge to the DIF and the URL of the associated IG report, if available.</p>
      			</li>
			
      			<li class="odd">
      				<div class="top">
      					<h5>FDIC QBP Snapshot</h5>
      					<div class="downloads">(<a href="{% url fdic_qbpsnapshot_csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">Data from the FDIC's <a href="http://www2.fdic.gov/qbp/qbpSelect.asp?menuItem=QBP">Quarterly Banking Profile</a>, a summary of financial results for all FDIC-insured institutions.</p>
      			</li>

      			<li class="even">
      				<div class="top">
      					<h5>FDIC TLGP Participation</h5>
      					<div class="downloads">(<a href="{% url bailout_fdic_tlgp_csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">The banks that have specifically declared their status within the FDIC's <a href="{% url bailout_fdic_index %}">TLGP program</a>.</p>
      			</li>			
			
      			<li class="odd">
      				<div class="top">
      					<h5>Federal Reserve H.4.1 Snapshot</h5>
      					<div class="downloads">(<a href="{% url h41_snapshot_csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">The Federal Reserve's weekly statement of factors affecting its balances.</p>
      			</li>
			
      		</ul>
		
		
				</div>
				
							  <div class="data-section">
								<h4>Miscellaneous Data</h4>
                    			<ul class="datasets">
			                    <li class="odd">
        	               		    <div class="top">
		                                <h5>Depreciation Data from IRS Statistics of Income</h5>
		                                <div class="downloads">(<a href="http://assets.sunlightlabs.com/subsidyscope/data/misc/depreciation_by_industry_2007.xls">Excel</a>) | (<a href="http://assets.sunlightlabs.com/subsidyscope/data/misc/depreciation_by_industry_2007.ods">ODS</a>) 84KB</div>
                		                <div class="clear"></div>
                		            </div>
                		            <p class="description">This data aggregates the numbers reported on IRS <a href="http://www.irs.gov/pub/irs-pdf/f4562.pdf">Form 4562</a>, grouped by NAICS code and presents the total claimed depreciation value by asset class, grouped by industry.</p>
                                    <p class="updated">Source: Tax Year 2007 Corporation Statistics of Income</p>
                		            <p class="updated">Last update 4/13/2011; data as of 7/30/2010</p>
                		            </li>
                   
                    			</ul>				  
			  	</div>
			
			
		</div>
	</div>
</div> <!--ends container-->
{% endblock %}
