{% extends "base.html" %}
{% load media %}

{% load menubuilder %}
{% block content %}

{# fallback page for those attempting to subscribe without Javascript #}

<div class="wrapper clearfix" id="rss-page">
		<div class="secondary-header">
			<h3>Get Email Updates</h3>		
		</div>
		{% include "includes/static_side_nav.html" %}
    <div class="page-content">
			
		<p>Subsidyscope sends occasional email updates to those interested in hearing about the project's status.  To add yourself to our list, please use the form below.  Your email address will not be shared with other organizations, and you can easily unsubscribe at any time by using the links contained in the mailings.</p>

		<form action="/mailinglist/subscribe/" method="post">
			<input type="text" value="" class="text" name="email" />&nbsp;<input class="submit" type="submit" value="Subscribe" />
		</form>

	</div>
</div> <!--ends container-->
{% endblock %}