{% extends "base.html" %}

{% load webdesign %}
{% load menubuilder %}

{% block content %}
<div class="wrapper clearfix">
		<div class="secondary-header">
			<h3>Key Documents</h3>		
		</div>
		{% include "includes/static_side_nav.html" %}
		

    <div class="page-content">
	   <p>Subsidyscope provides a clearinghouse for government documents related to our research in the following sectors. This compilation will be updated regularly.</p>
           <p>Skip to: 
           {% for s in sectors reversed %}
		{% ifequal s.id 1 %}
	                <a href="#{{s}}">{{s}}</a>
		{% else%}
			{% ifequal s.id 2 %}

	                <a href="#{{s}}">{{s}}</a>
	                	&nbsp;|&nbsp;
			{% endifequal %}
		{% endifequal %}
           {% endfor %} 
           </p>
          {% for pdf in object_list reversed %}
	       {% ifchanged pdf.sector %}
                    {% ifnotequal pdf.sector.id 2 %}
                      </tbody>  </table>
                    {% endifnotequal %}
                    <h5><a name="{{pdf.sector}}">{{pdf.sector}}</a></h5>
        		    <table>
				<thead>	    			
	    	    		<tr>
		    	    		<th scope="rowgroup">Date</th>
		    			<th class="align-left" scope="col">Title</th>
				        <th class="align-left" scope="col">Description</th>
    				        <th class="align-left" scope="col">Source</th>
        			</tr>
				</thead>
				<tbody>
	       {% endifchanged %}
	 	<tr class="{% cycle 'even' 'odd' %}">
			<th scope="row">{{ pdf.date }}</th>
			<td class="align-left">{% ifequal pdf.document_type 'PDF' %}<a href="{% url bailoutpdf_detail pdf_id=pdf.id %}">{{ pdf.title }}</a>{% else %}<a href="{{ pdf.link_url }}">{{ pdf.title }}</a>{% endifequal %}</td>
			<td class="align-left">{{ pdf.description|safe }}</td>
			<td class="align-left"><a href="{{ pdf.source_url }}">{{ pdf.source_name }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div></div>
{% endblock %}
