{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}
{% load webdesign %}
{% load humanize %}
{% load search_tags %}

{% block additional_css %}
  {% css "jquery-ui/ui.all.css" %}
  {% css "faads-search.css" %}
{% endblock %}

{% block additional_js %}

	{% js "ui.core.js" %}
	{% js "ui.tabs.js" %}
	{% js "ui.datepicker.js" %}
	
	{% js "swfobject.js" %}
	{% js "faads-search.js?version=2" %}
	

<!-- if JS is enabled, assume that the tabs will work and hide the other divs -->
<script language="javascript" type="text/javascript">  		
	document.write('<style type="text/css">.program-selection-target { display: none; }</style>');
</script>
	
{% endblock %}

{% block content %}

<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
    <div class="span-24">
        <div id="header_area">
            <h3>{% morsel_page_title %}</h3>
        </div>
        <div class="content_area">    
	
					<p>{% morsel text1 %}</p>
	
					<form action="{% url faads.views.search %}" method="POST" id="faads-search-form">

					<fieldset id="text-query-wrapper">
					  <legend>Recipient Name / Project Description</legend>
						<div id="text-query-text-wrapper">{{ form.text_query }}{{ form.text_query.errors }}</div>
						<div id="text-query-type-wrapper">{{ form.text_query_type }}{{ form.text_query_type.errors }}</div>
					</fieldset>


          <fieldset class="collapsed" id="advanced-options">
            
            <legend id="advanced-options">Advanced Options</legend>

            <div class="section" id="programs">
            <h4>Select Programs</h4>

            <div id="program-selector-text">Choose programs by:</div><div id="program-selector">{{ form.cfda_program_selection_method }}</div>
            <div class="clear-left"></div>
             
             <div id="program-selection-subsidy_programs" class="program-selection-target">
              {% morsel program_selection_subsidy_programs %}    
              <div class="clear-left"></div>                    
             </div>
             
            <div id="program-selection-tag" class="program-selection-target">
              {% morsel program_selection_tag %}                 
              
              <p class="select-all-or-none">[ <a href="#" class="select-all" id="program-selection-tag-select-all">Select All</a> / <a href="#" class="select-none" id="program-selection-tag-select-none">Select None</a> ]</p>
              
              {{ form.program_selection_tags }}
              {{ form.program_selection_tags.errors }}
              
              <p style="clear:left; padding-top: 1.5em">{{ form.tags_exclude_secondary }}&nbsp;Only include programs having the selected tag(s) as their primary function</p>
              <div class="clear-left"></div>
            </div>
            
            {% if form.program_selection_subsector %}
            <div id="program-selection-subsector" class="program-selection-target">

              {% morsel program_selection_subsector %}

              <p class="select-all-or-none">[ <a href="#" class="select-all" id="program-selection-subsector-select-all">Select All</a> / <a href="#" class="select-none" id="program-selection-subsector-select-none">Select None</a> ]</p>

              {{ form.program_selection_subsector }}
              {{ form.program_selection_subsector.errors }}
              <div class="clear-left"></div>
            </div>
            {% endif %}

            <div id="program-selection-program" class="program-selection-target">
              
              {% morsel program_selection_program %}
              
              <p class="select-all-or-none">[ <a href="#" class="select-all" id="program-selection-program-select-all">Select All</a> / <a href="#" class="select-none" id="program-selection-program-select-none">Select None</a> ]</p>
              
              {{ form.program_selection_programs }}
              {{ form.program_selection_programs.errors }}
              <div class="clear-left"></div>
            </div>
            </div>
         
         
            <div class="section" id="type">
            <h4>Expenditure Type</h4>

  					<div class="field-wrapper" id="assistance-action-recipient-wrapper">
  						<div class="dropdown-wrapper">
  						  <label for="assistance_type">Assistance Type</label>&nbsp;<span class="select-all-or-none">[&nbsp;<a href="#" class="select-all" id="program-selection-subsector-select-all">All</a> / <a href="#" class="select-none" id="program-selection-subsector-select-none">None</a>&nbsp;]</span>
  							{{ form.assistance_type }}
  							{{ form.assistance_type.errors }}
  						</div>
  						<div class="dropdown-wrapper">
  						  <label for="action_type">Action Type</label>&nbsp;<span class="select-all-or-none">[&nbsp;<a href="#" class="select-all" id="program-selection-subsector-select-all">All</a> / <a href="#" class="select-none" id="program-selection-subsector-select-none">None</a>&nbsp;]</span>
  							{{ form.action_type }}
  							{{ form.action_type.errors }}
  						</div>
  						<div class="dropdown-wrapper" id="recipient-type">
  						  <label for="recipient_type">Recipient Type</label>&nbsp;<span class="select-all-or-none">[&nbsp;<a href="#" class="select-all" id="program-selection-subsector-select-all">All</a> / <a href="#" class="select-none" id="program-selection-subsector-select-none">None</a>&nbsp;]</span>
  							<div>{{ form.recipient_type }}</div>
  							{{ form.recipient_type.errors }}
  						</div>
  					</div>		
  					<div class="clear-left"></div>
  				</div>
  					
  					
					
            <div class="section" id="range">
				  <h4>Expenditure Range</h4>
  					<div class="field-wrapper">
					<div id="obligation-date-wrapper">
					  <label for="obligation_date_start">Obligation Date</label>
					  <div class="range-wrapper">
  						{{ form.obligation_date_start }}&nbsp;to&nbsp;{{ form.obligation_date_end }}
  						{{ form.obligation_date_start.errors }}
  						{{ form.obligation_date_end.errors }}
						</div>
						{# fiscal year ? #}
					</div>
				
					<div id="obligation-amount-wrapper">
					  <label for="obligation_amount_minimum">Obligation Amount</label>
					  <div class="range-wrapper">
  						$&nbsp;{{ form.obligation_amount_minimum }}&nbsp;to&nbsp;$&nbsp;{{ form.obligation_amount_maximum }}
  						{{ form.obligation_amount_minimum.errors }}
  						{{ form.obligation_amount_maximum.errors }}
						</div>
					</div>
            </div>
            </div>

          
          <div class="section last" id="location">
            <h4>Location</h4>
            
            <p>You may filter records by the location of either the recipient or the location where the activity associated with the expenditure was primarily performed (in many cases these may be the same).  Please note that geographic information is not available for every record.</p>
            <div id="location-selector-text">Match locations by:</div><div id="location-selector">{{ form.location_type }}</div>
            
            <div class="clear-left"></div>

            <div class="state-choices">
              <p class="select-all-or-none">[ <a href="#" class="select-all" id="location-selection-select-all">Select All</a> / <a href="#" class="select-none" id="location-selection-tag-select-none">Select None</a> ]</p>

              {{ form.location_choices }}
            </div>
            <div class="clear-left"></div>
          </div>

            
            
            
          </fieldset>
            
					<input type="submit" value="Search" class="faads-search-submit" />
          <div class="clear-right"></div>
          
					</form>
				
				    {% if not found_some_results and ran_search %}
				      <div id="no-faads-results-found">No records matching your search criteria were found</div>
				    {% endif %}
				    
			      {% if found_some_results and ran_search %}		
			      
			      <div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
          		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
          			<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#faads-result-table">Results</a></li>
          			<li class="ui-state-default ui-corner-top"><a href="#faads-result-graph">By Year</a></li>
          			<li class="ui-state-default ui-corner-top"><a href="#faads-result-map">By Location</a></li>
          		</ul>
          		
          		<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="faads-result-table">
			      		    
				      <table id="faads-search-results">
				        <thead>
				          <tr>
				            <th class="obligation-date">Obligation Date</th>
				            <th class="cfda-program">CFDA Program</th>
				            <th class="recipient-name">Recipient Name</th>
				            <th class="recipient-location">Recipient Location</th>
				            <th class="place-of-performance">Place of Performance</th>
				            <th class="description">Description</th>
                    <th class="amount last">Amount</th>                    
				          </tr>
				        </thead>

				        <tbody>
                {% for result in faads_results.object_list %}
                  <tr class="{% cycle "odd" "even" %}" rel="faads_record_id-{{ result.object.record_id }}">
                    <td class="obligation-date">{{ result.object.obligation_action_date }}</td>
                    <td class="cfda-program"><a href="{% url transportation-cfda-programpage-by-programnumber result.object.cfda_program.program_number %}" title="{{ result.object.cfda_program.program_number }} {{ result.object.cfda_program.program_title }}">{{ result.object.cfda_program.program_number }}</a></td>
                    <td class="recipient-name">{{ result.object.recipient_name }}</td>
                    <td class="recipient-location">{{ result.object.recipient_city_name_for_display }}{% if result.object.recipient_city_name %}{% if result.object.recipient_state_name %},&nbsp;{% endif %}{% endif %}{{ result.object.recipient_state.abbreviation }}</td>
                    <td class="place-of-performance">{{ result.object.principal_place_county_or_city_name_for_display }}{% if result.object.principal_place_state_name %}{% if result.object.principal_place_county_or_city_name %},&nbsp;{% endif %}{% endif %}{{ result.object.principal_place_state.abbreviation }}</td>
                    <td class="description">{{ result.object.project_description }}</td>
                    <td class="amount last">${{ result.object.federal_funding_amount|floatformat:"-0"|intcomma }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

              <div class="pagination">
                  <span class="step-links">
                      {% if faads_results.has_previous %}
                          <a href="?page={{ faads_results.previous_page_number }}&q={{ query|safe }}">&laquo; previous</a>
                      {% endif %}

                      <span class="current">
                          Page {{ faads_results.number }} of {{ faads_results.paginator.num_pages|intcomma }}
                      </span>

                      {% if faads_results.has_next %}
                          <a href="?page={{ faads_results.next_page_number }}&q={{ query|safe }}">next &raquo;</a>
                      {% endif %}
                  </span>
              </div>

              </div>
              
              <div class="ui-tabs-hide ui-widget-content ui-corner-bottom" id="faads-result-graph" >
                <span id="resultsgraph"></span>  
                
                {% js "json2.js" %}
                
                <script type="text/javascript" charset="utf-8">
                   
                   	var chartLoaded = false; 
                    function loadChartFlash()
                    {
                    	if(!chartLoaded)
                    		swfobject.embedSWF("/media/scripts/open-flash-chart.swf?v=2", "resultsgraph", "880", "400", "9.0.0", "expressInstall.swf", {'data-file': '/projects/transportation/direct-expenditures/search/by-year/', 'data-query':'{{ query|safe }}'});
                    		
                    	chartLoaded = true;
                    }
                    
                </script>
              </div>
              
              <div class="ui-tabs-hide ui-widget-content ui-corner-bottom" id="faads-result-map">
    
    				
    
    				<script type="text/javascript" charset="utf-8">
    					
    					var mapLoaded = false;
    					
    					function loadMapFlash()
    					{
    						if(!mapLoaded)
    	              			swfobject.embedSWF('{% media_url %}/scripts/SpendingMap.swf?v=9', 'mapVis', 800, 650, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', {'mapPath':'/media/data/', 'dataPath':'/projects/transportation/direct-expenditures/search/map/','dataQuery':'{{ query|safe }}'}, {wmode:'transparent'});
    	              			
    	              		mapLoaded = true;
    	              	}	
    	              	
					</script>
                  
                  	<div style="float: right;  margin-right: 25px;">
						View: <select name="dataType">
							<option value="state">Total Spending</option>
							<option value="state_per_capital">Per Capita Spending </option>
						</select>
					</div>
					
					<br clear="all"/> 
					
					<div style="margin-left: 50px;">
						<div id="mapVis" >
							<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>
							
							<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="{% media_url %}/images/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>
						
						</div>
					</div>
                  
                  
              </div>

            </div>
            {% endif %}				
				
        </div>
</div>

{% endblock %}
