{% extends "base_tarp.html" %}
{% load humanize %}
{% load webdesign %}
{% load media %}

{% block additional_js %}
	{% js "swfobject.js" %}
{% endblock %}

{% block additional_css %}
	<style type="text/css">@import "{% url bailout-visualization-css %}";</style>
{% endblock %}

{% block content %}

<div class="container top_solid_box">&nbsp;</div>
<div class="container white">
	
	<div class="span-5">
			{% include "includes/bailout_left_nav.html" %}
	</div>
	
	<div class="span-15">
		<div class="full_padding">
			
			<h2 class="type_header">Bailout</h2>
			<h3 class="section_header" style="font-size:20px">BANK FAILURES AND THE DEPOSIT INSURANCE FUND </h3>

			<p>The Federal Deposit Insurance Corporation insures deposits in U.S. banks and thrifts up to $250,000. When an institution fails, a charge is made against the Deposit Insurance Fund, supported by fees imposed on the banking industry &mdash; not by tax dollars.</p>

			<p>The fund seemed in little danger of being depleted until the recent financial crisis unfolded. A rash of bank failures has caused the fund’s balance to drop from about $52 billion to about $19 billion over the past year. Seventeen banks have failed in the first quarter of 2009, and many more are expected to go under before the crisis abates. <a href="{% url fdic_bank_failures_csv %}">Download a list of failed banks and their charges against the fund here</a>.</p>

			<p>FDIC has imposed new fees to replenish the fund. Nonetheless, it has asked Congress to increase its line of credit from $30 billion to $100 billion to create a cushion in case the fund falls into negative territory and help from the U.S. Treasury is needed. (There is a precedent: In the 1980s, the Federal Savings and Loan Insurance Corporation &mdash; FSLIC &mdash; became insolvent, a victim of the savings-and-loan crisis that, by some estimates, cost taxpayers at least $100 billion. FSLIC was abolished in 1989.)</p>
			
			<p>The graphics below show how, as the number of bank failures has soared, the Deposit Insurance Fund’s reserves have plummeted. </p>

			<div id="bank-failures-container" style="width: 500px; margin: 0 auto"><h4 style="text-align: center">Bank Failures</h3><div id="bankFailureVis" style="text-align:center;">				
				<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>				
				<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>			
			</div></div>
			<script type="text/javascript">
			$(function(){
				swfobject.embedSWF('{% media_url %}/scripts/fdic_bank_failures.swf', 'bankFailureVis', 500, 300, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', 
				{
					width: 500,
					height: 300,	       
					data_url: 'http://' + window.location.host + '{% url fdic_bank_failures_xml %}',
					policy_file: 'http://' + window.location.host + '/crossdomain.xml'
				},
				{
					bgcolor: '#ffffff'
				}
				
				);			
			});
			</script>

			<img src="/media/images/fdic/deposit-insurance-fund/fund_balance.png" alt="Deposit Insurance Fund balance over time" class="centered-graphic" />
			
			<p>There are other measures of the fund’s precariousness. One is the reserve ratio: By congressional mandate, the fund is to stay between 1.15 percent and 1.5 percent of all insured deposits. In December 2008, it was down to .4 percent, having fallen precipitously from the mandated level earlier in the year, as shown here: </p>

			<img src="/media/images/fdic/deposit-insurance-fund/reserve_ratio.png" alt="Deposit Insurance Fund reserve ratio over time" class="centered-graphic" />
			
			<p>Another measure is the number of "problem" institutions insured by the FDIC. (The FDIC defines these as "institutions with financial, operational, or managerial weaknesses that threaten their continued financial viability.") In December 2006, there were 50 such institutions, with total assets of $8.3 billion. In December 2008, as the graphic below shows, there were 252, with total assets of $159 billion. </p>

			<img src="/media/images/fdic/deposit-insurance-fund/problem_institutions.png" alt="Deposit Insurance Fund 'Problem Institutions' over time" class="centered-graphic" />


		</div>
	</div>

	<div class="span-4 last">&nbsp;</div>
	
	<div class="span-24">
		<div class="full_padding">

		</div>
	</div>
</div>

{% endblock %}