{% extends "base_sector.html" %}
{% load humanize %}
{% load webdesign %}
{% load media %}

{% block additional_js %}
	{% js "scripts/swfobject.js" %}
{% endblock %}

{% block additional_css %}
	<style type="text/css">@import "{% url bailout-visualization-css %}";</style>
{% endblock %}

{% block content %}

<div class="container main_container">
	{% include "includes/bailout_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h2>FDIC</h2>
			<h3>Bank Failures</h3>		
		</div>
		
		<div class="content_area">

		<p>The following table lists the bank failures that have occurred since 2000.  When available, the IG Report associated with each bank failure is linked from the bank's name.</p>

			<table id="bank-failures">
			<thead>
				<tr>
					<th class="date">Date</th>
					<th class="name">Name</th>
					<th class="location">Location</th>
					<th class="amount">Estimated Charge to Deposit Insurance Fund</th>
				</tr>
			</thead>

			<tbody>
				{% for failure in bank_failure_list %}
				<tr>
					<td class="date">{{ failure.closing_date }}</td>
					<td class="name">{% if failure.ig_report %}<a href="{{ failure.ig_report }}">{% endif %}{{ failure.name }}{% if failure.report %}</a>{% endif %}</td>
					<td class="location">{{ failure.city }}, {{ failure.state }}</td>
					<td class="amount">{% if failure.exact_amount %}${{ failure.exact_amount|floatformat:"-2" }}m{% else %}{% if failure.range_low and failure.range_high %}${{ failure.range_low|floatformat }}&ndash;{{ failure.range_high|floatformat }}m{% else %}N/A{% endif %}{% endif %}{% if failure.notes %}<div class="notes">({{ failure.notes }})</div>{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
			<div class="attribution">Source: <a href="http://www.subsidyscope.com">subsidyscope.com</a> using <a href="http://www.fdic.gov/bank/individual/failed/banklist.html">data from the FDIC</a>. (Information on
			charge against the fund is located in each bank's press release.)</div>
			

			<p>If you'd like to work with this data, you may <a href="{% url fdic_bank_failures_csv %}">download it in CSV format</a>.</p>

			<style type="text/css">
			table#bank-failures th{ vertical-align: middle;}
			table#bank-failures td.name{ text-align: left; width:250px;}
			table#bank-failures td.amount{ text-align: right; width:150px;}
			table#bank-failures td.amount .notes { font-size: 0.85em;}
			table#bank-failures td.location{ text-align: right;}
			table#bank-failures td.notes{ text-align: center; font-size: 0.8em;}
			</style>	
			
		</div>
	</div>
</div>

{% endblock %}