
.slice-1 { fill: #621D11; stroke: #e0d1d1; stroke-width:2; }
.slice-2 { fill: #be5227; stroke: #e0d1d1; stroke-width:2; }
.slice-3 { fill: #ea8640; stroke: #e0d1d1; stroke-width:2; }
.slice-4 { fill: #f3b34a; stroke: #e0d1d1; stroke-width:2;  }
.slice-5 { fill: #f2d64b; stroke: #e0d1d1; stroke-width:2; }
.slice-6 { fill: #f2ec9d; stroke: #e0d1d1; stroke-width:2; }
.slice-7 { fill: #e9ece3; stroke: #e0d1d1; stroke-width:2; }
.slice-8 { fill: #cfcece; stroke: #e0d1d1; stroke-width:2; }
.slice-9 { fill: #9f9f9f; stroke: #e0d1d1; stroke-width:2; }
.slice-10{ fill: #7d7d7d; stroke: #e0d1d1; stroke-width:2; }

.pie-label-right {font-family: sans-serif; font-size: 12px; font-weight: bold; fill: #58595b; text-anchor:start;}
.pie-label-left {font-family: sans-serif; font-size: 12px; font-weight: bold; fill: #58595b; text-anchor:end;}


