.slice-1 { fill: #c05004; stroke: #c05004;}
.slice-2 { fill: #2C5B8F; stroke: #2C5B8F; }
.slice-3 { fill: #779B2D; stroke: #779B2D; }
.slice-4 { fill: #669FB3; stroke: #669FB3; }

.legend{ stroke: #a7a9ac; fill: none;}
