{% extends "base.html" %}

{% load media %}
{% load morsel_tags %}
{% block content %}
{% load webdesign %}
<style>
.programs-container {border-bottom: 1px solid #afafaf; margin-bottom:20px;}
ul.programs {border: none;}
ul.subselect {margin-top:0px;}
#modes { width: 320px;}
#modesubselect {margin-left:78px; font-size:90%;}
#tagsubselect {margin-left: 365px;font-size: 90%;}

</style>

<div class="container main_container">
    {% include navname %}
    <div class="span-24">
        <div id="header_area"><h3>{% morsel_page_title %}</h3></div>
        <div class="content_area">
            {% morsel text1 %}
            <h5>Program Listing</h5>
            <span class="programs-container">
            <ul class="programs">
                <li><strong>Filter By: </strong>&nbsp;<select class="js-select" id="tags">
                    <option value="none">Tag</option>
                    {% for t in tags %}
                        <option value="{{t.id}}" {% ifequal t.id filter.id%}selected{% endifequal %}>{{ t.tag_name }}</option>
                    {% endfor %}
                </select></li>
                <li>&mdash;<em>or</em>&mdash;</li>
                <li><select class="js-select" id="modes"><option value="none">Mode</option>
                    {% for s in subsectors %}
                        <option value="{{s.id}}">{{s.name}}</option>
                    {% endfor %}
                </select></li>
            </ul>
            <ul class="subselect">
                <li style="display:none;" id="modesubselect">Filter by mode: <select><option value="all">All</option> 
                    {% for s in subsectors %}
                        <option value="{{s.id}}">{{s.name}}</option>
                    {% endfor %}
                    </select>
                </li>
                <li style="display:none;" id="tagsubselect">Filter by tag:
                    <select>
                    <option value="all">All</option>
                    {% for t in tags %}
                        <option value="{{t.id}}" {% ifequal t.id filter.id%}selected{% endifequal %}>{{ t.tag_name }}</option>
                    {% endfor %}
                </select></li>
            </ul>
            </span>
            <ul id="program-listing">
                {%for prog in programs %}
                	<li class="tag{{prog.primary_tag.id}}" name="{% for mode in prog.subsectors.all %}mode{{ mode.id }}{% endfor %}"  {%if filter%}{%ifnotequal filter.id prog.primary_tag.id%}style="display:none;"{% endifnotequal %}{% endif %}><a href="/projects/transportation/direct-expenditures/programs/{{prog.id}}/{{prog.program_title|slugify}}">{{prog.program_number}}.&nbsp;&nbsp;{{ prog.program_title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
var programs = [];
$(document).ready(function(){
    var list = $("#program-listing");
    var listitems = $("li", list);
    var tag, mode, that;
//    var programs = [];
    $('select.js-select').change(function(event){
        if(this.value !=='none'){
            if(this.id == "modes")
            {
                mode = this.value;
                that = this;
                programs = [];
                $("#tagsubselect").show().find("select").val('all').trigger('change');
                $("#modesubselect").hide();
            	$("#tags").val('none');
                //programs = $("li[name=mode"+this.value+"]", list);
                $(listitems).each(function(){
                    if($(this).attr('name')=="mode"+mode){ 
                        $(this).show();
                        programs.push(this);
                    }
                    else { $(this).hide(); }
                });
                
            } 
            else 
            {
                tag = this.value;
                that = this;
                programs = [];
                $("#tagsubselect").hide();
                $("#modesubselect").show().find('select').val('all').trigger('change');
            	$("#modes").val('none');
                //programs = $(".tag"+this.value, list);
                $(listitems).each(function(){
                    if($(this).hasClass('tag'+tag)){ 
                        $(this).show();
                        programs.push(this);
                    }
                    else { $(this).hide(); }
                });
            }
        
        } else{
            programs = $("li", list);
            $(programs).show();
        }
    });  
    $('select', $("#tagsubselect")).change(function(){
        var that = this.value;
        $(programs).show();
        if(that == 'all'){ return; }
        else { 
            $("li:visible", list).each(function(){
                if($(this).hasClass("tag"+that)==false) {
                    $(this).hide();
                }
            });
        }
    });   
    $('select', $("#modesubselect")).change(function(){
        var that = this.value;
        $(programs).show();
        if(that == 'all') { return; } 
        else {   
            $("li:visible", list).each(function(){
                if($(this).attr("name") != "mode"+that) {
                    $(this).hide();
                }
            });
        }
    });   
});
</script>

{% endblock %}

