{% extends "base.html" %}

{% load media %}
{% load morsel_tags %}
{% block content %}
{% load webdesign %}

<div class="container main_container">
    {% include navname %}
    <div class="span-24">
        <div id="header_area"><h3>{% morsel_page_title %}</h3></div>
        <div class="content_area">
            {% morsel text1 %}
            <h5>Program Listing</h5>
            <span class="programs-container"><ul class="programs">
                <li><strong>Filter: </strong><select class="js-select">
                    <option value="none">Select Category</option>
                    {% for t in tags %}
                    <option value="{{t.id}}">{{ t.name }}</option>
                    {% endfor %}
                </select></li>
                <li><form><label>Search: </label><input class="programs-search" type="text" name="query" /></form></li>
            </ul></span>
            <ul id="program-listing">
                {%for prog in programs %}
                    <li class="tag{{prog.primary_tag.id}}"><a href="/projects/transportation/direct-payments/programs/{{prog.id}}/{{prog.program_title|slugify}}">{{prog.program_number}}.&nbsp;&nbsp;{{prog.program_title|lower}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    var list = $("#program-listing");
    $('select.js-select').change(function(){
        if(this.value !=='none'){
            $("li", list).hide();
            $(".tag"+this.value, list).show()
        } else{
            $("li", list).show();
        }
    });     
});
</script>

{% endblock %}

