{% extends "base_tarp.html" %}
{% load humanize %}
{% load webdesign %}
{% load media %}
{% load morsel_tags %}

{% block additional_js %}
	{% js "swfobject.js" %}
{% endblock %}

{% block content %}
<div class="container top_solid_box">&nbsp;</div>
<div class="container white">
	<div class="span-5">
			{% include "includes/bailout_left_nav.html" %}
	</div>
	<div class="span-15">
		<div class="full_padding">
			
			<h2 class="type_header">{% morsel_sector_title %}</h2>
			<h3 class="section_header">{% morsel_page_title %}</h3>

			{% morsel text1 %}
			
		</div>
	</div>
	
	<div class="span-23" style="clear:left">
		<div class="full_padding">			

<style type="text/css">
.subsidy-table	{ width: 100%; border-left: 0 !important; border-top: 1px solid #a5a5a5 !important;}
.subsidy-table td, .subsidy-table th { border: 0; padding: 0px; text-align: left; vertical-align: middle;}
.subsidy-table th { text-align: center; font-weight: bold; line-height: 100%; padding: 5px 0; }
.subsidy-table th.last { padding-right: 5px;}
.subsidy-table .strong { font-weight: bold;}
.subsidy-table .header-wrapper { border-bottom: 1px solid #a5a5a5; margin: 0 5px; padding-bottom: 5px;}
.subsidy-table td { padding-left: 3px;}
.subsidy-table td.name { padding: 3px; padding-left: 10px; }
.subsidy-table td.date { text-align:center; }
.subsidy-table td .number-wrapper { width: 3.5em; margin: 0 auto; text-align: center;}
.subsidy-table td.num-institutions .number-wrapper, .subsidy-table td.amount .number-wrapper, .subsidy-table .subsidy-table td.estimated-subsidy .number-wrapper, .subsidy-table td.subsidy-rate .number-wrapper { text-align: right; }
.underline { border-bottom: 1px solid #a5a5a5;}
#cbo-table .header-row th { border-bottom: 1px solid #a5a5a5;}
.subsidy-table .number-wrapper2 { width: 50px; text-align: center; margin: 0 auto;}
.subsidy-table tr.header-row * { background-color: #e6e6e6;}
.subsidy-table tr.header-row td { border-bottom: 1px solid #a5a5a5; padding-bottom: 5px; margin-bottom: 5px;}
.subsidy-table tr.no-bottom-border { border-bottom: 0 !important;}
.subsidy-table tr.smallrow { border-top: 0 !important;}
.subsidy-table tr.smallrow td { font-size: 0.9em; text-align: center; vertical-align: bottom;}
.subsidy-table td.name { text-align: left; }
.subsidy-table tr.border-bottom { border-bottom:1px solid #a5a5a5;}
.subsidy-table tr.white { background-color:#ffffff;}
.subsidy-table tr.indent-1 td.name { padding-left: 2em !important; }
.subsidy-table tr.indent-2 td.name { padding-left: 4em !important; }
.subsidy-table tr.indent-3 td.name { padding-left: 6em !important; }
.subsidy-table tr.bold td, .subsidy-table tr td.bold { font-weight: bold; }
.subsidy-table tr.sum td.num-institutions .number-wrapper, .subsidy-table tr.sum td.amount .number-wrapper, .subsidy-table tr.sum td.estimated-subsidy .number-wrapper { border-top: 1px solid #a5a5a5; }
.subsidy-table tr.sum td { font-weight: bold; }
.subsidy-table tr.vertical-space td { padding-top: 1.5em; }
.subsidy-table tr.vertical-space-below td { padding-bottom: 1.5em; }		
.subsidy-table tr.footer-row { border-top: 1px solid #a5a5a5; border-bottom: 1px solid #a5a5a5; }
.subsidy-table tr.footer-row td { padding: 5px;}
.subsidy-table .centered { text-align: center; font-weight: bold; padding-top: 3px;}
.subsidy-table .gray, .subsidy-table .gray * { background-color: #f4f4f4; }
.subsidy-table .blue { background-color: #E6E6E6; border-top:1px solid #a5a5a5;}
.subsidy-table { border-top: 1px solid #a5a5a5; border-bottom: 1px solid #aaa; border-left: 0; border-right: 0;}
.subsidy-table tr.spacer td { border-top: 1px solid #aaa; border-bottom: 1px solid #aaa;}
.subsidy-table tr.title td { text-align: center; }
#cop-table .spacer * { border: 0;}
#cop-table { border-bottom: 0 !important;}
.subsidy-table .footnote td { font-size: 85%; }
.subsidy-table tr.title td { border-top: 1px solid #a5a5a5; padding-top: 5px;}
.subsidy-table tr.grand-total td { border-bottom: 1px solid #aaa;}
.tarp-subsidy-chart img { display: block; margin: 0 auto;}
.tarp-subsidy-chart h3 { text-align: center; margin-top: 0.7em; margin-bottom: 0; font-size: 1.3em;}
.tarp-subsidy-chart h4 { text-align: center; margin-bottom: 0; margin-top: 0; font-weight: normal; font-size: 1em;}
ul.subsidy-estimate, ul.subsidy-estimate li { list-style-type: disc;}
h4.tarp_table_head { margin:0 0 5px 0; padding:0;}
ol.footnotes { font-size: 0.8em; }
a.footnote { font-size: 0.7em; position: relative; top: -0.8em; left: 0.2em;}
td.bottom-line-item { padding-top: 1em;}

</style>

<h4 class="tarp_table_head">CBO Estimates of the Net Subsidy Cost for Fannie Mae and Freddie Mac (by Fiscal Year)</h4>
<table class="subsidy-table" cellspacing="0">

	<tr class="header-row blue">
		<th>&nbsp;</th>
		<th>2009</th>
		<th>2010</th>
		<th>2011</th>
		<th>2012</th>
		<th>2013</th>
		<th>2014</th>
		<th>2015</th>
		<th>2016</th>
		<th>2017</th>
		<th>2018</th>
		<th>2019</th>																		
		<th class="last">2009&ndash;2019</th>
	</tr>
	
	<tr class="header-row blue" style="border-top: 0"> 
		<th>&nbsp;</th>
		<th colspan="12">(in billions of dollars)</th>
	</tr>				
	
	<tr>
		<td colspan="13" class="strong">Subsidies to Fannie Mae and Freddie Mac</td>		
	</tr>

	<tr class="gray odd">
		<td class="name">Projected subsidy as of January 2009<a class="footnote" href="#footnote-1">1</a></td>
		<td class="year-cell"><div class="number-wrapper">238</div></td>
		<td class="year-cell"><div class="number-wrapper">20</div></td>
		<td class="year-cell"><div class="number-wrapper">14</div></td>				
		<td class="year-cell"><div class="number-wrapper">8</div></td>
		<td class="year-cell"><div class="number-wrapper">6</div></td>
		<td class="year-cell"><div class="number-wrapper">3</div></td>
		<td class="year-cell"><div class="number-wrapper">4</div></td>
		<td class="year-cell"><div class="number-wrapper">4</div></td>
		<td class="year-cell"><div class="number-wrapper">4</div></td>
		<td class="year-cell"><div class="number-wrapper">4</div></td>
		<td class="year-cell"><div class="number-wrapper">4</div></td>
		<td class="year-cell"><div class="number-wrapper">309</div></td>						
	</tr>
	
	<tr>
		<td class="name"><em>Increase in</em> projected subsidy between January and March 2009<a class="footnote" href="#footnote-2">2</a></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">52</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">5</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">7</div></div></td>				
		<td class="year-cell"><div class="number-wrapper"><div class="underline">8</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">8</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">2</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">1</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">0</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">-1</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">-1</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">-1</div></div></td>
		<td class="year-cell"><div class="number-wrapper"><div class="underline">80</div></div></td>						
	</tr>
	
	<tr class="gray odd">
		<td class="name">Projected subsidy as of March 2009</td>
		<td class="year-cell"><div class="number-wrapper">290</div></td>
		<td class="year-cell"><div class="number-wrapper">25</div></td>
		<td class="year-cell"><div class="number-wrapper">21</div></td>				
		<td class="year-cell"><div class="number-wrapper">16</div></td>
		<td class="year-cell"><div class="number-wrapper">14</div></td>
		<td class="year-cell"><div class="number-wrapper">5</div></td>
		<td class="year-cell"><div class="number-wrapper">5</div></td>
		<td class="year-cell"><div class="number-wrapper">4</div></td>
		<td class="year-cell"><div class="number-wrapper">3</div></td>
		<td class="year-cell"><div class="number-wrapper">3</div></td>
		<td class="year-cell"><div class="number-wrapper">3</div></td>
		<td class="year-cell"><div class="number-wrapper">389</div></td>						
	</tr>
	
	<tr>
		<td colspan="13" class="strong bottom-line-item">Subsidies to the Troubled Asset Relief Program (TARP)</td>		
	</tr>
	
	<tr>
		<td class="name">Projected subsidy as of March 2009</td>
		<td class="year-cell"><div class="number-wrapper">336</div></td>
		<td class="year-cell"><div class="number-wrapper">20</div></td>
		<td class="year-cell"><div class="number-wrapper">0</div></td>				
		<td class="year-cell"><div class="number-wrapper">0</div></td>
		<td class="year-cell"><div class="number-wrapper">0</div></td>
		<td class="year-cell"><div class="number-wrapper">0</div></td>
		<td class="year-cell"><div class="number-wrapper">0</div></td>
		<td class="year-cell"><div class="number-wrapper">0</div></td>
		<td class="year-cell"><div class="number-wrapper">0</div></td>
		<td class="year-cell"><div class="number-wrapper">0</div></td>
		<td class="year-cell"><div class="number-wrapper">0</div></td>
		<td class="year-cell"><div class="number-wrapper">356</div></td>						
	</tr>		

</table>		

	<div class="attribution">Source: <a href="http://www.subsidyscope.com">subsidyscope.com</a> using data from the <a href="http://www.cbo.gov">Congressional Budget Office</a>.</div>

	<ol class="footnotes">
	<li id="footnote-1"><a name="footnote-1"></a>Congressional Budget Office. "<a href="{% url bailoutpdf_detail 3 %}">The Budget and Economic Outlook: Fiscal Years 2009-2019</a>." January 2009, p.15.</li>
	<li id="footnote-2"><a name="footnote-2"></a>Congressional Budget Office. "<a href="{% url bailoutpdf_detail 40 %}">A Preliminary Analysis of the President's Budget and an Update CBO's Budget and Economic Outlook</a>." March 2009, p.7.</li>
	</ol>

		</div>	
	</div>
</div>


{% endblock %}