{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}
{% load humanize %}
{% block content %}

<style>
ul.data { font-size: 1em; padding-top:1.5em; margin-bottom:1.4em;}
.data  td { padding: .5em; }
.clear { clear:both;}
.floatleft { float: left; }
</style>

<div class="container main_container">
    {% include navname %}
         <div id="header_area">
            <h3>{{program.program_number}} &mdash; {{program.program_title}}<span class="category"><span class="slash">/</span>FY {{year}}</span></h3>
        </div>
        			{% recursive_menu %}

    <div class="page-content">   
            <span class="floatleft">
            {%if years %}
                Available years:&nbsp;
                {% for y in years %}
                    {% ifequal y year %}
                        <strong>{{y}}</strong>
                    {% else %}
                        <a href="?year={{y}}">{{y}}</a> 
                    {% endifequal %}
                    {% if not forloop.last %}
                        &nbsp;|&nbsp;
                    {% endif %}
                {% endfor %}
            {%else%}
                No year by year data is available for this program
            {% endif %}
            </span>
            <span class="floatright">
            {% if faads.has_previous %}
            &laquo;&nbsp;<a href="?year={{fy}}&page={{faads.previous_page_number}}">previous</a> 
                {% if faads.has_next %}
                &nbsp;|&nbsp;
                {% endif %}
            {% endif %}
            {% if faads.has_next %}
            <a href="?year={{fy}}&page={{faads.next_page_number}}">next</a>&nbsp;&raquo;
            {% endif %} 
            </span>
            <ul class="clear data">
                <li>
                {%for record in faads.object_list%}
                    {%ifchanged record.fiscal_year%}
                        {% ifnotequal forloop.counter0 0 %}
                        </tbody>
                        </table>
                        </li><li>
                        {% endifnotequal %}
                      <!--  <h3>{{record.fiscal_year}}</h3>-->
                        <table><tbody>
                        <tr>
                        <th>Fed. Award Id</th><th>Recipient</th><th>Funding</th><th>Project Location</th><th>Start-End</th><th>Description</th></tr>
                    {%endifchanged%}
                    <tr>
                    <td>{{record.federal_award_identifier_number_core}}</td>
                    <td>{{record.recipient_name}}</td>
                    <td>${{record.total_funding_amount|intcomma}}</td>
                    <td>{{record.principal_place_county}}, {{record.principal_place_state_name}}</td>
                    <td>{{record.starting_date}}&mdash;{{record.ending_date}}</td>
                    <td>{{record.project_description}}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                    </table>
                </li>
            <li style="text-align:right;">
            {% if faads.has_previous %}
            &laquo;&nbsp;<a href="?year={{fy}}&page={{faads.previous_page_number}}">previous</a> 
                {% if faads.has_next %}
                &nbsp;|&nbsp;
                {% endif %}
            {% endif %}
            {% if faads.has_next %}
            <a href="?year={{fy}}&page={{faads.next_page_number}}">next</a>&nbsp;&raquo;
            {% endif %} 
            </li>
            </ul>
        </div>
</div>

{% endblock %}
