{% extends "base.html" %}

{% load media %}
{%load morsel_tags %}

{% load menubuilder %}
{% block content %} 
{% js "scripts/swfobject.js" %}
{% js "scripts/json2.js" %}
<style>
.secondary-tags{font-size: 97%; font-weight: normal; float:right; margin-right: 20px;}
</style>
<div id="Transportation" class="wrapper clearfix">	
         <div class="secondary-header">
            <h3><img style="margin-bottom:-6px;" src="{% media_url %}/images/sector_icons/30x40_trans_{{subsectors.0.name|lower}}.png" />{{ program.program_number }} &mdash; {{program.program_title}}<span class="category"><span class="slash">/</span>{{program.primary_tag.tag_name}}</span>
            </h3>
        </div>
	    {% include "includes/static_side_nav.html" %}


        <div class="page-content">    
            <h5>Program Summary and Objectives</h5>
            <aside class="top-note-box">
            <dl>
                <dt class="sencase">Federal Agency:&nbsp;</dt> 
				<dd>{{ program.federal_agency|lower|safe}}</dd>
                <dt>Program Website:&nbsp;</dt>
				<dd>{{program.web_site_address}}</dd>
                <dt>Authorization:&nbsp;</dt>
				<dd>{{program.authorization}}</dd>
                <dt>Headquarters:&nbsp;</dt>
				<dd>{{program.headquarters_office|striptags}}</dd>
            </dl>        
            </aside>
            <p>{{objectives|safe}}{% ifnotequal objectives2 "" %}<a href="#" class="js-show"> ... &raquo;read more</a><span class="hide">{{objectives2|safe}}</span>
            {% endifnotequal %}
            </p>
            <h5>Examples of Projects Funded</h5>
            <p>{{program.examples_of_funded_projects|safe}}</p>
            <h5>Program Accomplishments</h5>
            <p>{{accomps|safe}}{% ifnotequal accomps2 "" %}<a href="#" class="js-show"> ... &raquo;read more</a><span class="hide">{{accomps2|safe}}</span>
            {% endifnotequal %}
            </p>
			<div>
            <h4>Program Obligations</h5>
			<span>(as compiled by Subsidyscope)</span>
            <h4>Direct Expenditures Over Time</h4>
            <span id="spendingchart" style="margin-top:10px;"><!--Alternative chart pic goes here maybe?--></span>

			</div>
{%comment%}            <p style="font-size:1em; color:gray;">
            {% if citation %}*{{citation}}{% endif %}
            {% if url %}
            , available at {{url}}
            {% endif %}
            </p>
{% endcomment %}
        </div>
</div>
<script type="text/javascript" charset="utf-8">
        swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "spendingchart", "660", "400", "9.0.0", "expressInstall.swf", {"data-file":"/transportation/direct-expenditures/getchart/{{program.id}}/"});
$(document).ready(function(){
    $(".js-show").click(function(){$(this).siblings('span.hide').show().end().hide();return false;});
});
</script>

{% endblock %}
