{% extends "contractsort/sort_base.html" %}
{% load media %}
{% load humanize %}
{% block title %}{{sector.name}} Sector{% endblock %}


{% block content %}

{% js "scripts/jquery.form.js" %}
{% css "styles/contractsort.css" %}
<div id="top">
    <div id="left">
        <h4>Agencies Associated with this Sector</h4>
        <form id="agency-form" action="{% url contractsort-update-agency sector.id %}" method="POST">
        <select multiple name="agencies" class="agency-select">
        {% for a in agencies %}
            <option value="{{a.id}}" {% for s in selected %} {% ifequal a s %} selected {% endifequal %} {% endfor %}>
            {{a.name}}
            </option>
        {% endfor %}
        </select>
        <div>
        <input type="submit" value="Update Agency Selection">
        <input type="reset" value="Reset Changes" />
        </div>
        </form>
    </div>
    <div id="right">
        <h4> Currently Selected Codes for this Sector</h4>
        <form id="code-form" action="/contractsort/setcodes/{{sector.id}}" method="GET">
        <select multiple name="codes" id="current-codes" size="{{size}}">
        {% for sn in sector_naics %}
        <option selected value="naics_{{sn.code}}">{{sn.code}} - {{sn.name}}</option>
        {% endfor %}
        {% for sp in sector_psc %}
        <option selected value="psc_{{sp.code}}">{{sp.code}} - {{sp.name}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Update Code Selection">
        <input type="reset" value="Reset Changes" />
        </form>
        <div id="code-total">
        Total Obligations for FY 2009 using selected codes: $<span>{{total|floatformat:0|intcomma}}</span>
        </div>

    </div>
</div>
<div id="bottom">
    <h4>Related NAICS Codes</h4>
    {% if naics %}
    <table class="related-naics">
    <thead><tr><th>Code</th><th>Name</th><th>Total Obligations (all years)</th><th>Parent Information</th><th>Already In...</th><th>Include Code</th></tr></thead>
    <tbody>
    {% for n in naics %}
    <tr><td>{{n.0}}</td><td class="name">{{n.1}}</td><td style="text-align:right;">${{n.2|floatformat:0|intcomma}}</td><td style="padding-left:25px;">{{n.3}}</td><td>{{n.4}}</td><td><a name="{{n.0}}" href="#move-right" class="naics-move-right">&raquo;</a></td></tr>
    {% endfor %}
    </tbody></table>

    {% endif %}

    <h4>Related Product or Service Codes</h4>
    {% if psc %}
    <table>
    <thead><tr><th>Code</th><th>Name</th><th>Total Obligations (all years)</th><th>Already In...</th><th>Include Code</th></tr></thead>
    <tbody>
    {% for p in psc %}
        <tr><td>{{p.0}}</td><td class="name">{{p.1}}</td><td style="text-align:right;">${{p.2|floatformat:0|intcomma}}</td><td>{{p.3}}</td><td><a name="{{p.0}}" href="#move-right" class="psc-move-right">&raquo;</a></td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

        $('#code-form').ajaxForm({
                
                success: function(response, status, xhr, $form){
                           var f = $('#right').append('<div id="success">Selected Codes Updated</div>');
                           $('#success').fadeOut(5000, function() { $('#success').remove();});
                           $('#code-total span').text(response);

        }});
        $('#agency-form').ajaxForm({
        
                success: function(response, status, xhr, $form){
                            var s = $('#agency-form').append('<div id="success">Related Agencies Updated</div>');
                            $('#success').fadeOut(5000, function() { $('#success').remove();});
                            $('#bottom').html(response);
                            
                }
        });
        $('.naics-move-right').click(function(){
            var code = $(this).attr('name');
            var name = $(this).parent().siblings('.name').text();
            var already_in = $('#current-codes option[value=naics_'+code+']');
            if (already_in.length == 0){
                $('#current-codes').append('<option selected value=naics_'+code+'>'+code+'-'+name+'</option>');
                $(this).css('color','green').css('font-weight', 'bold');
                return false;
            }
            return false;
        });
        $('.psc-move-right').click(function(){
            var code = $(this).attr('name');
            var name = $(this).parent().siblings('.name').text();
            var already_in = $('#current-codes option[value=psc_'+code+']');
            if (already_in.length == 0){
                $('#current-codes').append('<option selected value=psc_'+code+'>'+code+'-'+name+'</option>');
                $(this).css('color','green').css('font-weight', 'bold');
                return false;
            }
            return false;
        });

    });

</script>
{% endblock %}
