Django==1.1.1
GChartWrapper==0.9
#httplib2==0.4.0
http://httplib2.googlecode.com/files/httplib2-0.4.0.tar.gz
django-haystack==1.0.1-final
#django-mediasync==2.0.0
-e git://github.com/sunlightlabs/django-mediasync.git#egg=mediasync
django-tagging==0.3.1
pysolr==2.0.9
python-memcached==1.45
simplejson==2.1.1
wsgiref==0.1.2
yolk==0.4.1
gunicorn
