/* GLOBAL */
body { background-image:url(/media/images/template/bg_gradient.png); background-repeat:repeat-x; background-position:0px 0px; margin:0; padding:0;}
#header_spacer { height:40px;}

.full_padding { padding: 20px 20px 20px 20px;}

.aligncenter, div.aligncenter { display: block;   float:none;   margin-top:10px;   margin-bottom:10px; }

.alignleft {  float: left;  margin:1.5em 1.5em 1.5em 0;}

.alignright {   float: right; margin:1.5em 1.5em 1.5em 0;}
.centered { text-align: center; }


/* TEMPLATE ITEMS */
.main_container { background-color:#ffffff;}
.white { background-color:#ffffff;}
.top_solid_box { background-color:#ffffff;  background-image:url(/media/images/divider_bar.png); background-repeat:repeat-x;}


/* SEARCH BOX HEAD */
#search_box_header { margin-top:20px;}


/* TOP GENERAL NAV */
.top_nav_header_height { height: 30px;}

.top_nav_bg { background-image:url(/media/images/template/top_nav_bg.png); margin:0; padding:0 0 0 0; background-repeat:repeat-x;}

#top_nav_header { text-align:right; margin:5px 0 0 0;}
#top_nav_header ul { margin:0; padding:0;}
#top_nav_header li { margin:0; padding:0; padding-left:20px;}
#top_nav_header li.last { padding-right:20px;}

#top_nav_header a:link { color:#4380b0; text-decoration:none;}
#top_nav_header a:visited {color:#4380b0; text-decoration:none;}
#top_nav_header a:hover {color:#000000; text-decoration:underline;}
#top_nav_header a:active {color:#4380b0; text-decoration:none;}


/* Logo Box */
#logo_box { margin:5px 0 0 0; padding:0;}

/* DUE TO SOME WEIRDNESS WITH IE, I AM TURNING THIS OFF FOR NOW 
h1.technique-eight {
	width: 200px; height: 93px;
	position: relative;
	overflow:hidden;
	margin:0; padding:0 0 0 0;
	}
h1.technique-eight span {
		background: url(/media/images/ss_logo.png);
		background-repeat:no-repeat;
		background-position:bottom;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow:hidden;
	}
*/

/* Top Nav SECTORS */
#header_spacer { height:20px;}

#mailing_list_box { }

/* email updates */
#email-form-container { overflow: hidden; width: 0px; padding-left: 0;}
form#email-subscribe { display: flock; width: 200px; text-align: left; padding: 0; margin: 0;}
form#email-subscribe input { font-size: 9px; }
form#email-subscribe input.text { color: #aaa; height: 12px;}
form#email-subscribe input.text:focus { color: #000;}
form#email-subscribe input.submit { background-color:#F6F8FB; border:1px solid #899EAB; height: 18px; padding: 2px 3px;}
#email-message { display:none; position: absolute; width: 190px; text-align: left; left: auto; margin-top: 26px; padding: 2px 4px; border: 1px solid;}
#email-message.instruction { border-color: #7B630F; color: #7B630F; background-color: #FFFCDA;}
#email-message.warning { border-color: #c00; color: #800; background-color: #FFCCCC;}
ul#top_nav_header li { display: block !important; float: right;}

/* email updates */
#search_box {color:#2f4867; font-size:12px; text-align:right; padding:10px 20px 0 0; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; margin:0;}
#search_box input { margin-right:5px; padding:0; font-size: 14px;}
#search_form  {padding:0 0 0 0; margin:0;}
#search_form .submit { border:1px solid #899eab; color#:2f4867; background-color:#f6f8fb; padding:0 3px 0 3px;}





/* NAVBAR */

/* NAVBAR */
#navbar { background-color:#336699; padding:5px 0 0 0; margin:0; height:27px; background-image:url(/media/images/template/sector_nav_bg.png); background-position: 0px -7px; overflow:hidden;}
#navbar_items ul { margin:0; padding:0;}
#navbar_items li { display:inline; font-family:verdana; font-weight:bold; color:#ffffff; padding: 8px 20px 0 0;}

.navbar_item_coming_soon { color:#000000;}
#navbar_items a { padding: 8px 10px; }

#navbar_items a:link { color: #fff; text-decoration: none; }
#navbar_items a:visited { color: #fff; text-decoration: none; }
#navbar_items a:hover {  text-decoration:underline;}

#navbar li.inactive_top a { display:inline; font-family:verdana; font-weight:bold; color:#ccc; padding: 8px 20px 0 0;}


#navbar li.active_top a { background-image:url(/media/images/template/sector_nav_selected_bg.png); color:#2b5b8e; border-top:1px solid #2f4867;
	border-left:1px solid #2f4867; border-right:1px solid #2f4867; padding-bottom:10px; background-position: 0px 1px; background-repeat:repeat-x;}

    #navbar li.active_top a:visited { color:#2b5b8e;}
    #navbar li.active_top a:hover { color:#2b5b8e;}
    #navbar li.active_top a:active { color:#2b5b8e;}    

#sector_subnav { position:relative; z-index: 2; padding:10px 0 0 10px; background-image:url(/media/images/template/sector_subnav_bg.png); background-repeat:repeat-x; height:25px; background-position:bottom;}
#sector_subnav_items ul { margin:0; padding:0;}
#sector_subnav_items li { display:inline; padding:0; padding-right:40px; font-family:verdana; font-weight:normal;}

#sector_subnav_items a { padding:0px; margin:0; }
#sector_subnav_items a:link { color: #435c7a; text-decoration: none; }
#sector_subnav_items a:visited { color: #435c7a; text-decoration: none; }
#sector_subnav_items a:hover {  text-decoration:underline;}


/* CONTENT AREA */
#header_area {margin:10px 20px 20px 20px; background-image:url(/media/images/double_lines.gif); background-position:bottom; background-repeat:repeat-x;}
#header_area h2 { font-size:12px; margin:0 0 5px 0; padding:0; color:#a5a5a5; text-transform:uppercase;}

#header_area_flat {margin:20px 20px 20px 20px; background-image:url(/media/images/double_lines.gif); background-position:bottom; background-repeat:repeat-x;}
#header_area_flat h2 { font-size:12px; margin:0 0 5px 0; padding:0; color:#a5a5a5; text-transform:uppercase;}
#header_area_flat h3 { font-size:20px; margin:0; padding:0 0 10px 0; line-height:24px;}


.content_area { margin:20px;}
.content_area p { width:850px; font-size: 120%; } 
.content_area ol, .content_area ul, .content_area dl { font-size: 120%; }
.content_area dl dt a { text-decoration: none; color: black;}

.source_download {padding-left:20px;}


.category {
    font-size: .8em;
    color: gray;
}
.slash {
    margin: 0 5px 0 10px;
    font-weight: bold;
    font-size: 1em;
}
.floatright {
    float: right;
}
.inlinepara p {
    display: inline; 
}
.inline-box{
    width: 38%;
    border: 1px solid #afafaf;
    padding: 5px;
    margin: 2px 0 2px 4px;
    font-size: .85em;
    color: #4f4f4f;
}
.inline-box ul {
    margin-left: 0;
}
.sencase{
    text-transform: capitalize;
}
.hide {
    left: -99999px;
}





/* PEW FOOTER */
.pew_container { background-color:#ffffff; padding-top:60px; }
.pew_footer { font-size:12px; line-height:15px; color:#8398a8; display:block; padding:0 20px 0 20px; }
.pew_footer a:link { color:#8398a8; }
.pew_footer a:visited { color:#8398a8;  }
.pew_footer a:hover { color:#2f4867; }
.pew_footer a:active {color:#8398a8; }



/* MORE FRONT PAGE PIECES */
#tax_icon { float:left; width:38px; margin-right:5px;}




/* start modules section 
.news_box { padding:0; margin:15px 5px 0 5px;}
.news_box p { padding: 5px 10px 5px 10px;}
.news_box a:link { text-decoration:none; color:#2d73bf; }
.news_box a:visited { text-decoration:none; color:#2d73bf;  }
.news_box a:hover { text-decoration:none; color:#2d73bf;  }
.news_box a:active { text-decoration:none; color:#2d73bf; }
.related_updates_box { border-style: none solid solid; border-color: rgb(204, 204, 204); border-width: 0pt 1px 1px;  margin:0 0 15px 15px; width: 279px; float: right; }


.news_head { border-top:1px solid #cbcbcb; background-color:#f3f3f4; padding:5px 0 0 10px; border-bottom:1px solid #ffffff; color:#333333; font-size:14px; background-image:url(/media/images/front_update_head_bg_alt.png); background-repeat:repeat-x; background-position: bottom left;}
.news_head h2  { display:inline; font-size:14px; padding:0 10px 0 0; font-weight:normal; margin:0;}

.news_box_items  { margin:0 !important; padding:0; background-color:#f4f4f4;}
.news_box_items ul { margin:0; padding:0; }
.news_box_items li { margin:0 !important; padding:10px; border-top:1px solid #c7c7c7;}
*/
#subsidyscope-in-the-news { display: none; } /* hide initially, since this feature doesn't work w/o Javascript. unhide in JS. */

/* END FRONT PAGE PIECES */
/* Front Page bits and bobs */
.front_left_col { padding:0 20px 0 20px; border-right:1px solid #f3f3f4; margin:15px 10px 20px 0;}
#intro { background-image:url(/media/images/double_lines.gif);  background-repeat: repeat-x;  padding:20px 20px 0 20px;}


.intro_more { font-size:14px; }
a.intro_more:link { text-decoration:none; padding-left:10px;}
a.intro_more:visited { text-decoration:none; padding-left:10px;}
a.intro_more:hover { text-decoration:none; padding-left:10px;}
a.intro_more:active { text-decoration:none; padding-left:10px;}

.updates_box { padding:0; margin:20px 0 0 0;}
.updates_box ul li { list-style-type: disc; margin-bottom: 0.5em;}
.project_update_archives #update_item { border-top: 0; padding-bottom: 1.6em;}
.project_update_archives #update_item a.readmore { margin-top: 1em;}
.project_update_archives #update_item .update_copy { margin-bottom: 0; padding-left: 10px;}
.project_update_archives #update_item ul { margin-top: 1em;}
.project_update_archives #update_item ul li { list-style-type: disc; margin-bottom: 0.5em; font-size: 12px;}

.updates_head h2  { display:inline; font-size:14px; padding:0 10px 0 0; font-weight:normal; margin:0;}
.feed_icon { border:1px solid; padding:0; margin:0;}








.update_copy { clear:both;}
/*  Featured box */
#featured_vis_boxes { margin:15px 15px 30px 0;}
.featured_vis { border:1px solid #c7c7c7; height:100px; width:293px;}
.featured_vis_title { text-align:right; display:block; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; font-size:14px; margin-bottom:15px; color:#666666;}
#featured_vis_boxes h3 { font-size:14px;}
#featured_vis_boxes a { text-decoration: none;}
#featured_vis_boxes a .featured_vis_title { font-weight: bold;}


/*  Tracker box */
#tracker_box{ margin:15px 15px 30px 0;}
.tracker_box { border:1px solid #c7c7c7; height:100px; width:293px;}
.tracker_box_title { text-align:right; display:block; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; font-size:14px; margin-bottom:15px; color:#999999;}
#tracker_box h3 { font-size:14px;}

.recent_item { padding:0 10px 10px 0; background-image:url(/media/images/recent_bottom_bg.png); background-position:bottom left; background-repeat:repeat-x;}

.recent_image {float:left; margin-right:20px; border:1px solid #000000; padding:0;
    height:96px; width:96px;
    }

.introbg.readmore { text-align:right; padding:0 20px 0 0; margin:0;}

h2.front_head {  font-size:12px; padding:0 0 3px 0; margin:0; text-transform: uppercase; }
#project-updates-feed-link { display: block; float: right; }
#project-updates-feed-link img { width: 14px; height: 14px; }
.recent_date { font-size:12px; font-style:italic; font-weight:bold;}

h4.recent_headline { font-size:18px; margin:0 0 10px 0;color:#993300; border-bottom:2px solid #c7c7c7; padding:3px 0 3px 0;
    border-top:1px solid #c7c7c7;
     display:block;}
h4.recent_headline a:link {text-decoration:none; color:#993300; display:block;}
h4.recent_headline a:visited {text-decoration:none; color:#993300; display:block;}
h4.recent_headline a:hover {text-decoration:none; color:#bf5004; display:block; background-color:#f4f4f4;}
h4.recent_headline a:active {text-decoration:none; color:#993300; display:block;}


/* about box */
h3.front_about_head {  text-transform: uppercase; font-size:12px; font-weight:bold; margin:0; padding:0 0 2px 0; color:#7b630f; letter-spacing:-0.2px;}

.front_about { margin:0 15px 0 0; background-color:#fffcda; padding:10px 15px 0 15px; border:1px solid #cfb762; color:#7b630f; background-image:url(/media/images/front_involved_bg.png); background-repeat:repeat-x;}
.front_about a:link { color:#7b630f;}
.front_about a:visited { color:#7b630f;}
.front_about a:hover { color:#bf5004;}
.front_about a:active { color:#7b630f;}


/******* Warrant Tracker *****/
table.warrant_tracker {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: none none none none;
	border-collapse: collapse;
	background-color: none;
	margin:0;
}
table.warrant_tracker th {
	border-width: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-style: none none none none;
	border-color: none none none none;
	background-color: none;
	-moz-border-radius: 0px 0px 0px 0px;
	font-size:11px;
	font-weight:normal;
	color:#666666;
}
table.warrant_tracker td {
	border-width: 1px 1px 1px 1px;
	padding: 2px;
	border-style: none none none none;
	border-color: none none none none;
	background-color: none;
	-moz-border-radius: 0px 0px 0px 0px;
	
}
#tracker_box h3 a:link { text-decoration:none; color:#000000;}
#tracker_box h3 a:visited { text-decoration:none; color:#000000;}
#tracker_box h3 a:hover { text-decoration:none; color:#ba2725;}
#tracker_box h3 a:active { text-decoration:none; color:#000000;}


#tracker_box .warrant_company { border-top:1px solid #cccccc; background-color:#f4f4f4; padding:3px;}
#tracker_box .warrant_details { margin-bottom:5px;}
#tracker_box .current_price { font-weight:normal; font-size:12px; padding:0 10px 0 0;}
#tracker_box .strike_price { font-weight:normal; font-size:12px; padding:0 10px 0 0;}
#tracker_box .warrant_out { font-weight:normal; font-size:12px; color:#990033;}
#tracker_box .warrant_in { font-weight:normal; font-size:12px; color:#669933;}
#tracker_box .about_warrants { margin-top:10px;}

#tracker_box .find_bank { border:1px solid #9ca991; padding:5px 5px 5px 5px; background-color:#eff5e6;}
#tracker_box .find_bank h3 { margin:0; padding:0;}


#bankSearchNameInput { width: 258px; }
#search_results_bank_summary { background-color:#ffffff; margin:10px 5px 5px 5px; padding:3px 3px 3px 5px; border:1px solid #cfdcba;}
#search_results_bank_summary h2 { font-size:14px; margin:5px 0 0 0 ; padding:0;}

#search_results_bank_summary .tarp_received { display:block; font-weight:bold; color:#548330; border-top:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4; margin-top:5px; margin-bottom:5px; padding:5px 0 5px 0;}
#search_results_bank_summary .address { font-size:11px; }
#search_results_bank_summary .no_tarp { display:block; border-top:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4; margin-top:5px; margin-bottom:5px; padding:5px 0 5px 0;}
#search_results_bank_summary .tlgp { display:block; font-weight:bold; color:#548330;}

#search_results_bank_summary .no_tlgp { display:block; }

/* glossary */
dl#glossary dt { display: block; padding: 0; margin-bottom: 0.2em; }
dl#glossary dd { display: block; margin-bottom: 1.5em; }

ul.with-bullets, ul.with-bullets li { list-style-type: disc; }

.attribution { font-size: 0.9em; margin-bottom: 1em;}
.featured-story-box { 
    font-weight: bold; 
    text-transform: uppercase; 
    padding:5px 8px 3px 8px; 
    border: 1px solid black; 
    background-color: #afc4cd; 
    float: left; 
    margin: 0 10px 8px 0;
}



/* end data page styling */

#rss-explanation { font-size: 0.6em; position:relative; top: -3px; left: 3px;}
#available-feeds { list-style-type: disc;}

#faq-page p.question { font-weight: bold; margin-bottom: 0.5em;}
#faq-page ul { list-style-type: disc; }


/* extra nav for FDIC and Treasury */
.section-floating-nav
{
    display: inline;
	float: right;
	background-color: #FFFCDA;
	background-repeat: repeat-x;
	background-image: url(/media/images/front_involved_bg.png);
	border: 1px solid #CFB762;
	color: #7B630F;
	margin: 0 0 15px 15px;
	padding: 10px 15px;
	width: 250px;
}
.section-floating-nav ul { margin-bottom: 0px;}
.section-floating-nav ul, .section-floating-nav ul li { margin-left: 0; padding-left: 0;}
.section-floating-nav li.subitem { padding-left: 15px;}
.section-floating-nav ul li a, .section-floating-nav ul li a:visited, .section-floating-nav ul li a:link, .section-floating-nav ul li a:active, .section-floating-nav ul li a:hover
{
	color: #7B630F;
	text-decoration: none;
	font-size: 12px;
}
.section-floating-nav ul li a:hover { text-decoration: underline;}
.section-floating-nav ul li.overview-link { display: none; }
.section-floating-nav ul li a.active { font-weight: bold;}

.subsector-sidebar p { width: auto; font-size: 100%;}
.subsector-sidebar p strong { display: block;}

.page-summary {width: 50%}
.page-summary ul{list-style-type:disc !important; padding-left:10px; font-size: 1em;}
.page-summary h5 {margin:0px;}
.jeditable-morsel:hover
{
    background-color: #FFFCDA;
}
.jeditable-morsel-label { 
    display: none;
    position: absolute;
    margin-left: -22px;
    background-image: url(/media/images/jeditable-label-text.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    background-color: #FFFCDA;
    width: 22px;
    padding: 10px 0;
    height: 158px;
}

.jeditable-morsel:hover .jeditable-morsel-label { display: block;}


/* NEWS BRIEFS */
#news-briefs h3 { font-size: 14px; margin-left: 5px;}
#news-briefs ul, #news-briefs ul li { padding-left: 0; margin-left: 0;}
#news-briefs ul li { margin-bottom: 1em; margin-right: 10px; padding: 5px;}
#news-briefs ul li a, #news-briefs ul li a:link, #news-briefs ul li a:active, #news-briefs ul li a:visited { color: black; text-decoration: none;}

#news-briefs ul li:hover { background-color: #f4f4f4;}

/* icons for mode pages */
#mode-page-aviation #header_area h3 { padding-left: 35px; background: url(/media/images/sector_icons/30x40_trans_aviation.png) 0px -5px no-repeat;}
#mode-page-highways #header_area h3 { padding-left: 35px; background: url(/media/images/sector_icons/30x40_trans_highways.png) 0px -5px no-repeat;}
#mode-page-maritime #header_area h3 { padding-left: 35px; background: url(/media/images/sector_icons/30x40_trans_maritime.png) 0px -5px no-repeat;}
#mode-page-rail #header_area h3 { padding-left: 35px; background: url(/media/images/sector_icons/30x40_trans_rail.png) 0px -5px no-repeat;}
#mode-page-transit #header_area h3 { padding-left: 35px; background: url(/media/images/sector_icons/30x40_trans_transit.png) 0px -5px no-repeat;}
#mode-page-other #header_area h3 { padding-left: 40px; background: url(/media/images/sector_icons/30x40_trans_other.png) 0px -5px no-repeat;}


ul.bibliography, ul.bibliography li { list-style-type: disc; }
ul.bibliography li { margin-top: 0.5em; }

dl.tag-list dt { margin-bottom: 0;}
h4.line-across { border-bottom: 1px solid black;}

.search-disclaimer { font-size: 0.8em; text-align: center; color: #888; margin-top: 20px;}

p.inline-image { width: auto; display: inline; margin: 10px 10px 5px 10px;}
p.inline-image img {margin-bottom: 5px;}
p.inline-image cite {font-size: 0.9em;}

p#previous-updates { padding-left: 10px; margin-top: 10px;}

.floatl{ float:left;margin-right:15px; margin-bottom: 12px;}
.floatr{ float:right; margin-left:15px; margin-bottom: 12px;}
.tooling { border: 1px solid #c7c7c7; }

.homepage-quick-search-container #quick-search-box {  margin:15px 15px 30px 0; border:1px solid #9ca991; padding:5px 5px 5px 5px; background-color:#eff5e6;}
.homepage-quick-search-container #quick-search-box h3 { margin:0; padding:0; font-size:14px; margin-bottom: 10px;}
.homepage-quick-search-container #quick-search-box .quick-search-hidden { display: none;}
.homepage-quick-search-container #quick-search-box #faads-search-form { margin-bottom: 0;}
.homepage-quick-search-container #quick-search-box #faads-search-form input#id_text_query { width: 220px; margin-right: 10px;}

.sectorpage-quick-search-container #quick-search-box { margin:-15px 15px 25px 5px; padding: 5px 5px 25px 5px; background-image:url(/media/images/double_lines.gif); background-position:center bottom; background-repeat:repeat-x; clear:both;}
.sectorpage-quick-search-container #quick-search-box h3 { float: left; margin:0 10px 0 0; padding:0; font-size:14px; margin-bottom: 10px;}
.sectorpage-quick-search-container #quick-search-box .quick-search-hidden { display: none;}
.sectorpage-quick-search-container #quick-search-box #faads-search-form { margin-bottom: 0;}
.sectorpage-quick-search-container #quick-search-box #faads-search-form input#id_text_query { width: 170px; margin-top: -5px; margin-right: 10px;}

/*.news_box #framing-paper { background: url(../images/framing-paper-document-icon.png) 5px 10px no-repeat; padding-right: 40px;}*/





.framing-paper-update-notice
{
    color: #aaa;
    font-size: 10px;
    display: block;
}

/*Inline legend with chart */
ul.legend { list-style-type: none; float:left; width:660px; margin: 0 auto; }
ul.legend li {float: left; display:inline; font-size: .8em; padding-left: 10px }
ul.legend li span { display:block; float:left; margin-top:5px; margin-right: 4px; height:10px; width: 10px; }
