{% extends "subsidysort/sort_base.html" %}
{% load subsidysort_tags %}

{% block title %}{{ program.program_number }} &mdash; {{ program.program_title }}{% endblock %}

{% block content %}

<p>&nbsp;</p>

<p><a href="http://www.usaspending.gov/faads/faads.php?cfda_program_num={{ program.program_number }}&sortby=u&detail=-1&datype=T&reptype=a&database=faads&fiscal_year=&detail=-1&datype=T&submit=GO">View USASpending Data &raquo;</a></p>

<table>
	{% for field in program|get_fields %}
		<tr><th>{{ field.name }}:</th><td>{{ field.value }}</td></tr>
	{% endfor %}
</table>


{% endblock %}