{% extends "subsidysort/sort_base.html" %}

{% block title %}{{ task.name }}{% endblock %}

{% block content %}

<script>

function update_filter()
{
	if($('#filter_tag').val() == -1)
	{
		$('#filter_form').attr('action', '/subsidysort/review/1/');
		$('#filter_form').submit();
	}
	else
	{
		$('#filter_form').attr('action', '/subsidysort/review/1/tag/' + $('#filter_tag').val() + '/');
		$('#filter_form').submit();
	}
}

{% if selected_tag.id %}
$(function(){
	$('#filter_tag').val({{ selected_tag.id }});
});
{% endif %}

</script>

<p>{{ task.description }}</p>

<p>view: <a href="/subsidysort/review/{{ task.id }}/">all items</a> | <a href="/subsidysort/review/{{ task.id }}/yes/">unanimous yes</a> | <a href="/subsidysort/review/{{ task.id }}/no/">unanimous no</a> | <a href="/subsidysort/review/{{ task.id }}/split/">split vote</a></p>

<form id="filter_form" method="get" action="">
</form>
<p>filter tag: <select id="filter_tag" onchange="update_filter();"><option value="-1">show all</option>{% for tag in tags %}<option value="{{ tag.id }}">{{ tag.name }}</option>{% endfor %}</select></p>

{% if items %}

<p>Items for review ({{ items|length }}):</p>

<ul>
	{% for item in items  %}
		<li style="margin-bottom: 25px; background: {% cycle '#fff' '#ddd' %};"><strong><a href="{{ item.url }}">{{ item.unique_id }} &mdash;  {{ item.name }}</a></strong><br/>
		( {{ item.voteSummary }} )
		<br/>
		
		<table>
		<tr><th></th><th>vote</th><th>primary</th><th>secondary tags</th><th>comments</th></tr>
		
		{% for vote in item.vote_set.all  %}
		
			<tr {% ifequal vote.user.id 14 %}style="background: #ccd; font-weight: bold;"{% endifequal %}>
				<td>{{ vote.user.first_name }}</td>
				<td>{% if vote.decision %}{{ vote.decision }}{% endif %}</td>
				<td>{{ vote.primary_purpose }}</td>
				<td>{% for tag in vote.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				<td width="50%">{{ vote.comments }}</td>
			</tr>
			
		{% endfor %}
		</table>
		
		</li>
	{% endfor %}
</ul>
{% endif %}


{% endblock %}