{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}
{% load glossary_tags %}

{% block content %}
<div class="container main_container">
    {% include "includes/generic_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h3>About Subsidyscope</h3>		
		</div>
		
		<style type="text/css">
    ul.about-sections, ul.about-sections li { margin-left: 0;}
    ul.about-sections a, ul.about-sections a:link, ul.about-sections a:hover, ul.about-sections a:visited, ul.about-sections a:active { display: block; font-size: 1.2em; text-decoration: none; font-weight: bold;}
		ul.about-sections li { margin-bottom: 10px;}
		</style>
		
		<div class="content_area">
      
      <ul class="about-sections">
			<li>
			  <a href="/press/">Press</a>
			  A chronological listing of Subsidyscope's press announcements.
			</li>
			<li>
			  <a href="/board/">Board</a>
			  Information on Subsidyscope's advisors.
			</li>
			<li>
			  <a href="/faq/">FAQ</a>
			  Answers to common questions about the project.  Who's behind the site, and why are we building it?
			</li>
			<li>
			  <a href="/future-sectors/">Future Sectors</a>
			  Subsidyscope's plans for the future.
			</li>

			<li>
			  <a href="/staff/">Staff</a>
			  Information about the team responsible for Subsidyscope.
			</li>

      </ul>
			
		</div>
	</div>
</div> <!--ends container-->
{% endblock %}