{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}
{% load glossary_tags %}

{% block content %}
<div class="wrapper clearfix">
	<div class="secondary-header">
	    <h3>About Subsidyscope</h3>		
	</div>
	
		{% include "includes/static_side_nav.html" %}
    <div class="page-content">
    <p>
An initiative of the Pew Charitable Trusts, Subsidyscope aims to raise public awareness about the role of federal subsidies in the economy. The project aggregates information on federal spending and subsidies from multiple government sources, serving as a gateway for press, policymakers, advocates and the public. The comprehensive and objective data presented by
Subsidyscope will contribute to an informed debate about how to best allocate scarce government resources. 
</p>
<p>Maintaining its nonpartisan approach to the issue of subsidies, the project is guided by an <a href="/board/">advisory board</a> of experts in federal spending, taxes and finance from across the ideological spectrum. <a href="http://sunlightfoundation.com">The Sunlight Foundation</a>, Pew's research and technology partner, develops the Subsidyscope Web site.</p>
      	
	</div>
</div> <!--ends container-->
{% endblock %}
