{% extends "base_projects.html" %}
{% load media %}
 

{% load menubuilder %}
{% block content %}
<div class="container main_container">
	<div class="span-24 top_gradient_box"><h3 class="location_header">Projects: The Financial Bailout</h3></div>

	<div class="span-5">
			{% include "includes/bailout_left_nav.html" %}
	</div>


	<div class="span-13">
	<div class="full_padding">
		


		<p>To fill this gap, Subsidyscope &mdash; an initiative of The Pew Charitable Trusts &mdash; is pulling together data on the financial institutions that are receiving benefits from the various federal programs so users can understand how and where taxpayer dollars are being spent.</p>


		<p>Subsidyscope will post data and information to the site frequently, and will be releasing analysis on the financial rescue and its aftermath in the coming weeks, including several in-depth reports calculating the total value of the government subsidy. Sign up here for regular email alerts about these updates and access the site’s data through open-source technology. The site is being developed by Pew’s technology partner, The Sunlight Foundation.</p>


		<p>Over time, Subsidyscope will expand its focus and examine federal subsidies to companies and individuals in other sectors, such as energy, agriculture and transportation. The goal of the project is to provide users with comprehensive data on all major government subsidies. Subsidyscope will include not only direct payments to the private sector, but also tax breaks, loans, loan guarantees, equity injections, and other types of interventions.</p>
		
	
	</div>
	</div>

	<div class="span-6 last">
			<div style="background-color:#ffffff; height:100px; margin:0 0 0 0;">&nbsp;</div>
	</div>


</div> <!--ends container-->
{% endblock %}