<!DOCTYPE HTML>
{% load media %}
{% load morsel_tags %}
{% load sector_tags %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link  href="{% media_url %}/favicon.ico" rel="shortcut icon" type="image/ico" />
	<link rel="alternate" type="application/rss+xml" title="Subsidyscope Project Updates" href="{% url django.contrib.syndication.views.feed "updates" %}" />
	{% css "styles/screen.css" %}
	{% css_print "styles/print.css" %}
  <!--[if IE ]>{% css "styles/ie.css" %}<![endif]-->
	{% css "styles/style.css" %}
	{% block additional_css %}{% endblock %}
	
	{% js "scripts/jquery-1.3.2.min.js" %}
	{% js "scripts/jquery.autocomplete.js" %}
    {% block additional_js %}{% endblock %}
  {% sector_css  %}

    <link rel="stylesheet" type="text/css" media="screen" href="/media/styles/superfish.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/media/styles/caitlin.css" />
    <script type="text/javascript" src="/media/scripts/hoverIntent.js"></script>
    <script type="text/javascript" src="/media/scripts/superfish.js"></script>

    <script type="text/javascript">  
        $(document).ready(function(){ 
            $("ul.sf-menu").superfish(); 
        }); 
    </script>

	<title>{% block title %}Subsidyscope.org{% morsel_page_title page_title %}{% endblock %}</title>
</head>
<body>
{% include "includes/top_default_header.html" %}


{% load menubuilder %}
{% block content %}
{% endblock %}

{% include "includes/bottom_default_footer.html" %}

<script type="text/javascript" charset="utf-8">
$('.secondary-nav li').click(function(){
    $(this).children('ul').slideToggle();
    return false;
});
</script>

</body>
</html>
