{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}

{% block content %}
<!-- old from top
 <div class="span-24">
        <div id="header_area">
            <h3>{% morsel_page_title %}</h3>
        </div>
        <div class="content_area">    
            {% morsel text1 %}
        </div>
</div>
-->


<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
	<div class="span-11">
		<div class="feature_leftside">
			<div id="sector_feature_box">
			<img src="/media/images/photos/transportation/transportation_1.jpg" border="0" alt="Transportation Sector">
				<div id="sector_feature_box_attr">
				Photo courtesy of http://www.flickr.com/photos/nrbelex/452412873/
				</div>
			</div><!-- end feature box -->
			
			<div class="updates_box">
				<div class="updates_head">
				<h2>Transportation Sector Updates</h2>
				</div>
			
				<div id="update_item">
					<div id="update_headline"><h3>Integer vitae libero ac risus egestas</h3></div>
					<div id="update_icon"><img src="/media/images/sector_icons/transportation/trans_sm.png" alt="Transportation Sector: Project Update" border="0" /></div>		
				<p class="update_copy"><span class="update_date">June 30, 2009</span> &ndash; The estimated subsidy rate for transactions made under the Troubled Asset Relief Program has risen by 4 percent, according to a recent report by the Congressional Budget Office. In January, the CBO estimated the subsidy rate – the percentage of the initial TARP disbursement that reflects the true cost to the federal government of purchasing shares of stock from financial institutions – to be 32 percent, based on $293 billion in transactions. In a June 17 report, the CBO subsidy rate estimate rose to 36 percent, based on $439 billion in transactions. The new estimate includes assistance to the auto industry and $70 billion in repayments by TARP recipients.  <a href="/projects/bailout/documents/53/">Read More</a>
				</p>

				</div>
			</div> 	<!-- ends update box-->
		</div> <!-- ends feature left side -->		
	</div> <!-- ends span 11 -->

	<div class="span-13 last">
		<div class="feature_rightside">
			<div id="intro">	
			<img src="/media/images/sector_icons/transportation/trans_lg.png" border="0" alt="Transportation Sector" class="sector_header_icon">
			<span class="sector_header">Transportation</span>
			<p class="sector_intro_copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus 
				hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet 
				vel, dapibus id, mattis vel, nisi. Ut justo.<a href="{% url faq %}" class="intro_more">Read More »</a></p>		
			</div>

				<div id="sector_taxonomy_box" style="">
					<ul id="sector_taxonomy">
						<li><img src="/media/images/sector_icons/transportation/transportation_general.png"><a href="/projects/transportation/">General</a></li>
						<li><img src="/media/images/sector_icons/transportation/transportation_aviation.png"><a href="/projects/transportation/">Aviation</a></li><li><img src="/media/images/sector_icons/transportation/transportation_highways.png"><a href="/projects/transportation/">Highways</a></li></ul>
					<ul id="sector_taxonomy"><li><img src="/media/images/sector_icons/transportation/transportation_transit.png"><a href="/projects/transportation/">Transit</a></li><li><img src="/media/images/sector_icons/transportation/transportation_rail.png"><a href="/projects/transportation/">Rail</a></li><li><img src="/media/images/sector_icons/transportation/transportation_maritime.png"><a href="/projects/transportation/">Maritime</a></li></ul>
				</div>
				<div id="sector_taxonomy_box_bottom">&nbsp;</div>
		</div>
</div>

<div class="span-13 last">
  <img alt="transportation sector graphs" src="{% media_url %}/images/transportation_graph_placeholder.png" />
</div>

{# <div class="span-7 last"> #}
{#    <div id="graph_right" style="border:1px solid #c6c6c6; margin-right:15px;">Graph here?</div> #}
{# </div> #}

</div>




{% endblock %}
