{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}
{% load carousel_tags %}
{% load project_update_tags %}
{% block content %}
{% js "cookie.js" %}
{% js "carouselinit.js" %}
<!-- old from top
 <div class="span-24">
        <div id="header_area">
            <h3>{% morsel_page_title %}</h3>
        </div>
        <div class="content_area">    
            {% morsel text1 %}
        </div>
</div>
-->


<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
	<div class="span-11">
		<div class="feature_leftside">
            <div id="feature_box">
			    <div class="tabs">
                    {% carousel_entries 2 %}
                </div>
			</div><!-- end feature box -->
			
			<div class="updates_box">
				<div class="updates_head">
				<h2>Transportation Sector Updates</h2>
                <a title="Click here for news feed" href="{%url django.contrib.syndication.views.feed "updates" %}"><img src="/media/images/rss_icon.png" /></a><span id="rss-explanation">&nbsp;(<a href="{%url about_rss%}">What's this?</a>)</span>
				</div>
		        {% project_updates 2 %}	
            
            </div> 	<!-- ends update box-->
		</div> <!-- ends feature left side -->		
	</div> <!-- ends span 11 -->

	<div class="span-13 last">
		<div class="feature_rightside">
			<div id="intro">	
			<img src="/media/images/sector_icons/transportation/trans_lg.png" border="0" alt="Transportation Sector" class="sector_header_icon">
			<span class="sector_header">Transportation</span>
			<p class="sector_intro_copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus 
				hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet 
				vel, dapibus id, mattis vel, nisi. Ut justo.<a href="{% url faq %}" class="intro_more">Read More »</a></p>		
			</div>

				<div id="sector_taxonomy_box" style="">
					<ul id="sector_taxonomy">
						
						<li><img src="/media/images/sector_icons/transportation/transportation_aviation.png"><a href="{% url transportation-aviation %}">Aviation</a></li>
						<li><img src="/media/images/sector_icons/transportation/transportation_highways.png"><a href="{% url transportation-highways %}">Highways</a></li>
						<li><img src="/media/images/sector_icons/transportation/transportation_maritime.png"><a href="{% url transportation-maritime %}">Maritime</a></li>
					</ul>
					<ul id="sector_taxonomy">
					  <li><img src="/media/images/sector_icons/transportation/transportation_transit.png"><a href="{% url transportation-transit %}">Transit</a></li>
					  <li><img src="/media/images/sector_icons/transportation/transportation_rail.png"><a href="{% url transportation-rail %}">Rail</a></li>					  
					  <li><img src="/media/images/sector_icons/transportation/transportation_general.png"><a href="{% url transportation-general %}">Other</a></li>
					</ul>
				</div>
				<div id="sector_taxonomy_box_bottom">&nbsp;</div>
		</div>
</div>

<div class="span-13 last graphs">
    <span class="border">
        <span class="graph-container"><a class="deanchor hoveranchor" href="/projects/transportation/direct-expenditures/"></a><a class="teanchor hoveranchor" href="/projects/transportation/tax-expenditures/"></a><img src="{% media_url %}/images/transportation/transportation_spending_homepage.png" style="float:left; display:inline;" />
        <span class="hhsubsidy">Average $ spent per household on subsidy containing programs: <span style="font-weight:bold;display:block;">$400</span><cite>(excludes contracts)</cite></span>
        </span>
    </span>
    <span style="position:relative;">
        <span style="float:left;margin-right:2px; padding-top:5px;"><img src="{% media_url %}/images/transportation/noncomp_fpds_spending_homepage.png" /></span>
        <span style="float:left;height:210px; width:222px;position:relative;"><a class="rtanchor hoveranchor" href="/projects/transportation/risk-transfers/"></a><img src="{% media_url %}/images/transportation/risktransfers_homepage.png" /></span>
    </span>
</div>
    <span>
    <cite><sup>1</sup> A subsidy is conceptually defined as the net benefit a recipient receives from government spending intended to support an economic activity. Subsidy estimates will be presented in varying formats based on availability.  These formats include budgetary costs which may be net or gross of administrative costs, credit subsidy costs and tax expenditure revenue loss estimates. See Subsidyscope Methodology  for more.</cite><br />
    <cite><sup>2</sup> Spending on programs that contain a subsidy is the amount spent in a category less spending on programs that are unlikely to contain a subsidy (see below). For more on what programs Subsidyscope includes, see Subsidyscope Methodology.</cite><br /> <br />
    <cite><em>Sources of error:</em>
Spending estimates rely on government data which have omissions and can be inaccurate.  Overall we believe the estimates to be lower bounds due to missing data in federal data sets.  In cases where we know the omissions are significant, such as subsidy estimates for direct expenditures, we will not supply an estimate but insert a question mark (“?”).
Most spending is measured in obligations  but some is only available in outlays . Thus they cannot strictly be added together.
Subsidyscope does not consider programs that provide funding to States solely for the purpose of improving safety or enforcing federal laws as subsidy programs.  Users may do their own sort of programs to narrow or expand this definition.</cite>
    </span>

<style>

.border {border-bottom: 1px solid #afafaf;float:left; margin-bottom: 25px; padding-bottom: 20px;}
.graph-container {float:left; position:relative;}
.hhsubsidy{float:right; width:95px; padding: 10px; margin: 5px 5px 5px 30px; border: 2px solid #afafaf; text-align:center;}
.hoveranchor {display: block; position:absolute;}
.deanchor { height:29px; width:143px; top:180px; left:15px; }
.teanchor {height: 29px; width: 130px; top: 180px; left: 195px;}
.rtanchor {height:29px; width: 100px; top:0px; left: 20px;}
.hovertext {border: 1px solid black; margin:0px; background-color: #efefef; width: 250px; position:absolute; padding:10px; }
.first { top:65px; left:150px;}
.second {top: -90px; left:315px;}
</style>
{# <div class="span-7 last"> #}
{#    <div id="graph_right" style="border:1px solid #c6c6c6; margin-right:15px;">Graph here?</div> #}
{# </div> #}

</div>




{% endblock %}
