{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}
{% load project_update_tags %}
{% block content %}
<!-- old from top
 <div class="span-24">
        <div id="header_area">
            <h3>{% morsel_page_title %}</h3>
        </div>
        <div class="content_area">    
            {% morsel text1 %}
        </div>
</div>
-->


<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
	<div class="span-11">
		<div class="feature_leftside">
			<div id="sector_feature_box">
			<img src="/media/images/photos/transportation/transportation_1.jpg" border="0" alt="Transportation Sector">
				<div id="sector_feature_box_attr">
				Photo courtesy of http://www.flickr.com/photos/nrbelex/452412873/
				</div>
			</div><!-- end feature box -->
			
			<div class="updates_box">
				<div class="updates_head">
				<h2>Transportation Sector Updates</h2>
                <a title="Click here for news feed" href="{%url django.contrib.syndication.views.feed "updates" %}"><img src="/media/images/rss_icon.png" /></a><span id="rss-explanation">&nbsp;(<a href="{%url about_rss%}">What's this?</a>)</span>
				</div>
		        {% project_updates 2 %}	
            
            </div> 	<!-- ends update box-->
		</div> <!-- ends feature left side -->		
	</div> <!-- ends span 11 -->

	<div class="span-13 last">
		<div class="feature_rightside">
			<div id="intro">	
			<img src="/media/images/sector_icons/transportation/trans_lg.png" border="0" alt="Transportation Sector" class="sector_header_icon">
			<span class="sector_header">Transportation</span>
			<p class="sector_intro_copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus 
				hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet 
				vel, dapibus id, mattis vel, nisi. Ut justo.<a href="{% url faq %}" class="intro_more">Read More »</a></p>		
			</div>

				<div id="sector_taxonomy_box" style="">
					<ul id="sector_taxonomy">
						<li><img src="/media/images/sector_icons/transportation/transportation_general.png"><a href="/projects/transportation/">General</a></li>
						<li><img src="/media/images/sector_icons/transportation/transportation_aviation.png"><a href="/projects/transportation/">Aviation</a></li><li><img src="/media/images/sector_icons/transportation/transportation_highways.png"><a href="/projects/transportation/">Highways</a></li></ul>
					<ul id="sector_taxonomy"><li><img src="/media/images/sector_icons/transportation/transportation_transit.png"><a href="/projects/transportation/">Transit</a></li><li><img src="/media/images/sector_icons/transportation/transportation_rail.png"><a href="/projects/transportation/">Rail</a></li><li><img src="/media/images/sector_icons/transportation/transportation_maritime.png"><a href="/projects/transportation/">Maritime</a></li></ul>
				</div>
				<div id="sector_taxonomy_box_bottom">&nbsp;</div>
		</div>
</div>

<div class="span-6">
		<div id="graph_left" style="border:1px solid #c6c6c6; margin-left:10px;">Graph here?</div>
</div>
<div class="span-7 last">
		<div id="graph_right" style="border:1px solid #c6c6c6; margin-right:15px;">Graph here?</div>
</div>

</div>




{% endblock %}
