{% extends "base_sector.html" %}
{% load media %}
{% load morsel_tags %}
{% load project_update_tags %}
{% load glossary_tags %}


{% block content %}

{% morsel_page_title as page_title %}

<div class="container main_container" id="mode-page-{{ page_title|lower|escape }}">
    {% include "includes/transportation_nav.html" %}
    <div class="span-24">
        <div id="header_area">
            <h3>{% morsel_page_title %}</h3>
        </div>
        <div class="content_area">    
          
          	<div style="float:right; width: 300px;">
          	  {% glossarize %}
          	  {% project_updates_subsector_sidebar subsector %}
          	
	          {% morsel sidebar1 as sidebar %}
	          {% if sidebar.content %}
	        		<div class="section-floating-nav subsector-sidebar">          		    
	    		    	{% morsel sidebar1 %}
	      			</div>
	    	  {% endif %}
		    {% endglossarize %}
          	  
          	</div>
          
          {% morsel text1 %}

        </div>
</div>

{% endblock %}
