 /* ie.css */
body {text-align:center;}
.container {overflow:hidden; text-align:left;}
* html .column {overflow-x:hidden;}
* html legend {margin:-18px -8px 16px 0;padding:0;}
ol {margin-left:2em;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
html>body p code {*white-space:normal;}
hr {margin:-8px auto 11px;}
.container ul { list-style: none outside; margin-left: 2em; list-style-type: none !important; } /* IE can't handle :before and :after */
#bulleted-list ul { list-style: disk outside; margin-left: 2em; list-style-type: disk; } 
.container ul li { text-indent: 0; margin-left: 0; }
.container legend { margin-bottom: 1.6em; } /* IE form margin bug */
sup, sub { font-size: 100%; } /* IE superscript & subscript bug */
.container blockquote p, #content blockquote ul, #content blockquote ol, #content blockquote dl, #content blockquote pre, #content blockquote address, 
.container blockquote table, #content blockquote form, #content blockquote h1, #content blockquote h2, #content blockquote h3, #content blockquote h4, #content blockquote h5, #content blockquote h6 { margin-top: .8em; margin-bottom: .8em; } /* IE can't handle :first-child */
* html .container textarea, * html .container input { padding: 0; } /* IE < 7 form fix */
.container input[type='submit'], .container input[type='button'] { padding: 0; } /* IE 7 button fix */
.container legend+* { margin-top: 0; } /* we already added legend margin */
a abbr, a acronym { text-decoration: underline; } /* IE 7 bug */
#slider { overflow: hidden;} /* IE6 bug */
.span-16 { width: 620px; } /* IE6 bug */
.section-floating-nav { display: inline !important; }
/* location of popups on agency pages */
.agency .programs .program .program-description { margin-left: -130px !important;}
.content_area p {width: auto !important; padding-right: 40px !important;}
.content_area ul.data {display:inline;}
#header_area h3 {
    background: url(/media/images/double_lines.gif) center bottom repeat-x;
}
.content_area p.inline-image {padding-right:0px !important;}
#faads-search-form .section#programs { position: relative; top: -1em;}
#faads-search-form fieldset legend#advanced-options { float: left;}

td.description {word-wrap: break-word; width: 255px;}
.faads-search-submit, #reset-faads-search { padding: 2px 5px !important; }

#tagsubselect {margin-left:508px !important;}
#modesubselect { margin-left: 165px !important; }
#modes {width: 200px;}
#tags {width: 217px;}
.programs-container {border-bottom: 1px solid #afafaf; }
ul.programs {border: none;}

/*aip search */
#projectsearch fieldset span { vertical-align: middle; }
#portsearch fieldset div.form_content { margin-top: 1.1em; }

/* top-of-page search */
#search_box #search_form #id_query { height: 16px; padding-top: 2px; padding-left: 2px; padding-right: 2px; padding-bottom: 2px;}

/* quick search box */
.sectorpage-quick-search-container #quick-search-box { margin-top: -5px !important;}
.sectorpage-quick-search-container #quick-search-box #faads-search-form input#id_text_query { width: 155px !important; position:relative; top: -7px; margin-right: 10px;}
.sectorpage-quick-search-container #quick-search-box .faads-search-submit { padding: 1px 1px !important; position: relative; top: -3px;}

.homepage-quick-search-container #quick-search-box .faads-search-submit { padding: 1px 1px !important; position: relative; top: -3px;}
.homepage-quick-search-container #quick-search-box #faads-search-form input#id_text_query { font-size: 12px !important; position:relative; top: -5px !important; margin-right: 10px; padding: 3px 2px !important;}