body { background-image:url(/media/images/bg.png);  background-repeat:repeat-x; background-color:#cfe0dd; margin:0; padding:5px 0 0 0; background-position:0px 0px;}


/* Global stuff */
.bold { font-weight:bold;}
.container a:visited { color:#666666;}
.main_container { background-color:#ffffff;}
.white { background-color:#ffffff;}
.header { padding-bottom:0;}

h2.type_header {  text-transform: uppercase; font-size:12px; font-weight:bold; margin:0; padding:0 0 2px 0; color:#333333; letter-spacing:-0.2px;}

.right_content_box { background-color:#ffffff;}
.left_padding { padding:0 0 0 20px; }
.right_padding { padding:0 20px 0 0; }
.lr_padding { padding:0 20px 0 20px;}
.tp_padding { padding:20px 0 20px 0;}
.full_padding { padding: 20px 20px 20px 20px;}
.tlr_padding { padding: 20px 20px 0 20px;}
.error_box { height:150px;}
.error_box p { font-size:14px;}


.footer_container {  padding:30px 0 0 0; background-image:url(/media/images/bottom_rounded.png); background-repeat:no-repeat; background-position:top;}

.footer { font-size:12px; line-height:15px; color:#8398a8;}
.footer a:link { color:#8398a8; }
.footer a:visited { color:#8398a8;  }
.footer a:hover { color:#2f4867; }
.footer a:active {color:#8398a8; }

/* email updates */
#updates {color:#2f4867; font-size:12px; text-align:right; padding:10px 20px 0 0; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; margin:0;}
#updates input { margin-right:5px; padding:0;}
#update_email {padding:0 0 0 0; margin:0;}
#update_email .submit { border:1px solid #899eab; color#:2f4867; background-color:#f6f8fb; padding:0 3px 0 3px;}


/* Top of page (nav and logo and header and stuff) */
.nav_bg { background-image:url(/media/images/topnav_bg.png); background-repeat:repeat-x; background-color:#ffffff;}
p.tagline { font-family:Georgia,"Nimbus Roman No9 L",serif; font-size:14px; color:#97a4b4; padding-top:18px; font-style:italic; margin:0;}
#top_nav { margin:0 0 0 0; padding:20px 0 0 0; background-image:url(/media/images/top_nav_bg_strip.png); background-repeat:no-repeat; background-position:0 20px;}

.navbar { font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#899eab; text-transform: uppercase; font-size:13px; font-weight:bold; text-decoration:none; }

#top_nav a:link { text-decoration:none; color:#95a5ab;}
#top_nav a:visited { text-decoration:none; color:#95a5ab;}
#top_nav a:hover { color:#bf5004; text-decoration:none;   }
#top_nav a:active { text-decoration:none; color:#95a5ab; }

#top_nav_list { margin:0; height:25px; padding:5px 0 0 0;  width:690px; text-align:center;}
#top_nav_list ul { margin:0; padding:0;}
#top_nav_list li { display:inline; text-align:center; padding:0 28px 0 25px; 
    border-right:1px solid #e8e8e8;  }

#top_nav_list li.first { display:inline;  text-align:center; border-right:1px solid #e8e8e8; padding:0 28px 0 25px;}
#top_nav_list li.last { display:inline; text-align:center; border:0px solid #e8e8e8; padding:0 28px 0 20px;}

/* global page pieces */
h3.section_header { font-size:22px; margin:0;  padding:0 0 10px 0;}
h3.section_header a:link {text-decoration:none; color:#000;}
h3.section_header a:visited {text-decoration:none; color:#000;}
h3.section_header a:hover {text-decoration:none; color:#bf5004;}
h3.section_header a:active {text-decoration:none; color:#000;}


/* start content block */
.top_rounded_box { background-image:url(/media/images/top_rounded_new.png); background-repeat:no-repeat; background-position:bottom; padding:0;}
.top_solid_box { background-color:#ffffff; height:6px; margin-top:10px; background-image:url(/media/images/divider_bar.png); background-repeat:repeat-x;}

h3.location_header { font-size:12px; color:#b0b0b0; margin:0;  }
h3.location_header a:link {text-decoration:none; color:#b0b0b0;}
h3.location_header a:visited {text-decoration:none; color:#b0b0b0;}
h3.location_header a:hover {text-decoration:none; color:#b0b0b0;}
h3.location_header a:active {text-decoration:none; color:#b0b0b0;}

.copy { color:#333333; font-family:Georgia,"Nimbus Roman No9 L",serif;;
font-size:128%;
font-weight:normal;
letter-spacing:0pt;
line-height:1.3125em; }

h2.head { font-size:16px; margin:0 0 10px 0;  padding:0; border-bottom:1px solid #2f4867; color:#2f4867; font-family:Georgia,"Nimbus Roman No9 L",serif;;}

.aboutpage { margin:0; padding:20px 0 0 0;}

.location a:link { color:#bf5004;}
.location a:visited { color:#bf5004;}
.location a:hover { color:#bf5004;}
.location a:active { color:#bf5004;}

.leftnav_box { border:0px solid #e6e6e6; margin:20px 0 0 20px; padding:0 10px 10px 10px;}

/* version 1 leftover css can't remove*/
.questions_container { background-color:#ffffff;}
.question_box { background-image:url(/media/images/top_nav_bg.png); background-repeat:no-repeat; background-position:top; height:45px; padding:14px 0 0 0;}
.subsidy_logo { padding:0 0 0 10px;}

.main_list h2 {  text-transform: uppercase; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; font-size:18px; color:#005395; margin-top:.5em;}
.main_list p { font-size:20px; line-height:28px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#a5a5a5; margin-bottom:1em; padding-bottom:0;}

ul.sub_list { margin:0; padding:0; }
ul.sub_list li { margin:0; padding:0 10px 0 0; }

ul.sub_sub_list { list-style-type:disc; margin:0 0 2em 3em; padding:0 0 0 3em;}
ul.sub_sub_list li { list-style-type: disc; }
ul.sub_sub_list p {margin:0; padding:0; font-size:18px; }

.bio_head {}
ul.sub_list_bios { margin:0; padding:0;}
ul.sub_list_bios li { padding-right:20px; margin-bottom:1em; padding-bottom:.5em; border-bottom:1px solid #c3d5d7; margin-right:20px;}
ul.sub_list_bios p { font-size:14px; line-height:21px; color:#666666;}
ul.sub_list_bios h4 { font-size:16px; padding-bottom:0; margin-bottom:0;}

ul.bio_list { font-size:16px; }
ul.bio_list li { padding-bottom:1em; line-height:14px;}
.affil { font-size:11px; color:#4c4f54;}

ul.publications li { padding:0; border:0; font-size:12px; color:#666666;}

.scroll_container { margin-top:0; padding-top:0;}

.form_container { padding:0 30px 0 20px; min-height:330px;}
.flat_container { padding:0 30px 0 20px; min-height:330px;}

.flat_list h2 {  text-transform: uppercase; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; font-size:18px; color:#005395; margin-top:.5em;}
.flat_list h4 { font-size:14px; line-height:21px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#1a1a1a; margin-bottom:1em; padding-bottom:0;}
.flat_list p { font-size:12px; line-height:18px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#1a1a1a; margin-bottom:1em; padding-bottom:0;}

#update_email_inline { font-size:20px; line-height:28px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#a5a5a5; margin-bottom:1em; padding-bottom:0;  }

#update_email_inline input { margin-right:10px;}

#contact_form { padding:20px 40px 0 20px;  margin-bottom:2em;}
#contact_form label { width: 10em;	float: left;	text-align: right;	margin-right: .5em;	display: block;	margin-bottom:1em; 	}
#contact_form .submit input { margin-left:12em;	} 
#contact_form textarea { width:300px; height:100px;}
#contact_form input { width:300px;}
/*
#contact_form fieldset { border: 1px solid #c3d5d7;  }
#contact_form legend { padding: 2px 6px; margin-left:10px; color:#005395; }	
*/
#contact_form p { font-size:12px; line-height:18px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#1a1a1a; }
#contact_form li { font-size:12px; line-height:18px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#1a1a1a; padding-bottom:1em; clear: both; }

#additional_info { padding-top:30px; }
#additional_info p { font-size:12px; line-height:18px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#666666; }
/* slider stuff */
#slider {
width: 940px;
margin: 0 auto;
padding-top:0;
position: relative;

}

.scroll {
  height: 370px;
  overflow: auto;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
  background: #FFFFFF;
}

.scrollContainer div.panel {
  padding: 0 15px 0 10px;
  height: 350px;
  width: 910px; /* change to 560px if not using JS to remove rh.scroll */
}


#navigation_box { width:850px;  margin-top:30px; font-size:14px; font-weight:bold;}
#navigation_left { float:left; }
#navigation_right { float:right; }

.arrows_right {  vertical-align:middle; padding-left:10px;}
.arrows_left {  vertical-align:middle; padding-right:10px;}	

.questions { text-align:right; padding-right:40px; padding-top:0; font-size:14px;}
	ul.questions li { padding-bottom:3px;  text-transform: uppercase;}
.lite { color:#bf5004; text-decoration:none;}
.lite a:link {color:#bf5004; text-decoration:none;}
.lite a:visited {color:#bf5004; text-decoration:none;}
.lite a:hover {color:#bf5004;text-decoration:underline;}
.lite a:active {color:#bf5004; text-decoration:none;}

.dark { color:#e28725; text-decoration:none;}
.dark a:link { color:#e28725; text-decoration:none;}
.dark a:visited {color:#e28725; text-decoration:none;}
.dark a:hover {color:#e28725; text-decoration:underline;}
.dark a:active { color:#e28725; text-decoration:none;}

h1.title { clear: left; }

/* Front Page bits and bobs */
.front_left_col { padding:0 20px 0 20px; border-right:1px solid #f3f3f4; margin:15px 10px 20px 0;}
#intro {  padding:10px 15px 0 15px; margin:0;}

.intro_copy { color:#333333; font-family:Georgia,"Nimbus Roman No9 L",serif;
font-size:150%;
font-weight:normal;
letter-spacing:0pt;
line-height:1.65em;
padding:0;
margin:0;}

.intro_more { font-size:14px; }
a.intro_more:link { text-decoration:none; padding-left:10px;}
a.intro_more:visited { text-decoration:none; padding-left:10px;}
a.intro_more:hover { text-decoration:none; padding-left:10px;}
a.intro_more:active { text-decoration:none; padding-left:10px;}

.updates_box { padding:0; margin:20px 0 0 0;}
.updates_head { border-top:1px solid #cbcbcb; background-color:#f3f3f4; padding:5px 0 0 10px; border-bottom:1px solid #ffffff; color:#333333; font-size:14px; background-image:url(/media/images/front_update_head_bg_alt.png); background-repeat:repeat-x;}

.updates_head h2  { display:inline; font-size:14px; padding:0 10px 0 0; font-weight:normal; margin:0;}
.feed_icon { border:1px solid; padding:0; margin:0;}

#update_item { padding:0 10px 0 10px; border-top:1px solid #cbcbcb; border-bottom:1px solid #cbcbcb; margin:0 0 2px 0;}

#update_item p {
    font-size: 12px;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    line-height: 1.5;
}

#update_item h3 { font-family:Verdana,sans-serif; font-size:130%; color:#336699;}
#update_item h3 a:link { text-decoration:none;}
#update_item h3 a:visited { text-decoration:none;}
#update_item h3 a:hover { text-decoration:none;}
#update_item h3 a:active { text-decoration:none;}

.update_date { font-weight:bold; font-size:105%;}

#update_item .readmore { border:1px solid #e6e6e6;  font-size:90%; padding:2px 3px 0 3px; margin:0;  text-align:center;}
#update_item a.readmore:link { text-decoration:none; }
#update_item a.readmore:visited {text-decoration:none;}
#update_item a.readmore:hover { text-decoration:none; background-color:#ffffcc; }
#update_item a.readmore:active {text-decoration:none; }


/*  Featured box */
#featured_vis_boxes { margin:15px 15px 30px 0;}
.featured_vis { border:1px solid #c7c7c7; height:100px; width:293px;}
.featured_vis_title { text-align:right; display:block; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; font-size:14px; margin-bottom:15px; color:#666666;}
#featured_vis_boxes h3 { font-size:14px;}
#featured_vis_boxes a { text-decoration: none;}
#featured_vis_boxes a .featured_vis_title { font-weight: bold;}


/*  Tracker box */
#tracker_box{ margin:15px 15px 30px 0;}
.tracker_box { border:1px solid #c7c7c7; height:100px; width:293px;}
.tracker_box_title { text-align:right; display:block; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; font-size:14px; margin-bottom:15px; color:#999999;}
#tracker_box h3 { font-size:14px;}

.recent_item { padding:0 10px 10px 0; background-image:url(/media/images/recent_bottom_bg.png); background-position:bottom left; background-repeat:repeat-x;}

.recent_image {float:left; margin-right:20px; border:1px solid #000000; padding:0;
    height:96px; width:96px;
    }

.introbg.readmore { text-align:right; padding:0 20px 0 0; margin:0;}

h2.front_head {  font-size:12px; padding:0 0 3px 0; margin:0; text-transform: uppercase; }
#project-updates-feed-link { display: block; float: right; }
#project-updates-feed-link img { width: 14px; height: 14px; }
.recent_date { font-size:12px; font-style:italic; font-weight:bold;}

h4.recent_headline { font-size:18px; margin:0 0 10px 0;color:#993300; border-bottom:2px solid #c7c7c7; padding:3px 0 3px 0;
    border-top:1px solid #c7c7c7;
     display:block;}
h4.recent_headline a:link {text-decoration:none; color:#993300; display:block;}
h4.recent_headline a:visited {text-decoration:none; color:#993300; display:block;}
h4.recent_headline a:hover {text-decoration:none; color:#bf5004; display:block; background-color:#f4f4f4;}
h4.recent_headline a:active {text-decoration:none; color:#993300; display:block;}


/* about box */
h3.front_about_head {  text-transform: uppercase; font-size:12px; font-weight:bold; margin:0; padding:0 0 2px 0; color:#7b630f; letter-spacing:-0.2px;}

.front_about { margin:0 15px 0 0; background-color:#fffcda; padding:10px 15px 0 15px; border:1px solid #cfb762; color:#7b630f; background-image:url(/media/images/front_involved_bg.png); background-repeat:repeat-x;}
.front_about a:link { color:#7b630f;}
.front_about a:visited { color:#7b630f;}
.front_about a:hover { color:#bf5004;}
.front_about a:active { color:#7b630f;}

/* misc stuff to sort out later */

#about_logo_replacement { height:138px;}

.funding {font-family:helvetica, arial, sans-serif; padding:5px 0 0 5px; margin:0; color:#660000; font-size:16px;}

#email-validation-error { background-color: #ffff88; color: black; border: 1px solid black; padding: 5px; float: right; margin-right: 20px; display: none;}

ul.press-releases, ul.press-releases li { margin-left: 0; padding-left: 0; margin-bottom: 1em; }


img.centered-graphic { display: block; margin: 0.5em auto; }


/******* Warrant Tracker *****/
table.warrant_tracker {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: none none none none;
	border-collapse: collapse;
	background-color: none;
	margin:0;
}
table.warrant_tracker th {
	border-width: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-style: none none none none;
	border-color: none none none none;
	background-color: none;
	-moz-border-radius: 0px 0px 0px 0px;
	font-size:11px;
	font-weight:normal;
	color:#666666;
}
table.warrant_tracker td {
	border-width: 1px 1px 1px 1px;
	padding: 2px;
	border-style: none none none none;
	border-color: none none none none;
	background-color: none;
	-moz-border-radius: 0px 0px 0px 0px;
	
}
#tracker_box h3 a:link { text-decoration:none; color:#000000;}
#tracker_box h3 a:visited { text-decoration:none; color:#000000;}
#tracker_box h3 a:hover { text-decoration:none; color:#ba2725;}
#tracker_box h3 a:active { text-decoration:none; color:#000000;}


#tracker_box .warrant_company { border-top:1px solid #cccccc; background-color:#f4f4f4; padding:3px;}
#tracker_box .warrant_details { margin-bottom:5px;}
#tracker_box .current_price { font-weight:normal; font-size:12px; padding:0 10px 0 0;}
#tracker_box .strike_price { font-weight:normal; font-size:12px; padding:0 10px 0 0;}
#tracker_box .warrant_out { font-weight:normal; font-size:12px; color:#990033;}
#tracker_box .warrant_in { font-weight:normal; font-size:12px; color:#669933;}
#tracker_box .about_warrants { margin-top:10px;}

#tracker_box .find_bank { border:1px solid #9ca991; padding:5px 5px 5px 5px; background-color:#eff5e6;}
#tracker_box .find_bank h3 { margin:0; padding:0;}


#bankSearchNameInput { width: 258px; }
#search_results_bank_summary { background-color:#ffffff; margin:10px 5px 5px 5px; padding:3px 3px 3px 5px; border:1px solid #cfdcba;}
#search_results_bank_summary h2 { font-size:14px; margin:5px 0 0 0 ; padding:0;}

#search_results_bank_summary .tarp_received { display:block; font-weight:bold; color:#548330;}
#search_results_bank_summary .address { font-size:11px; }
#search_results_bank_summary .no_tarp { display:block; }
#search_results_bank_summary .tlgp { display:block; font-weight:bold; color:#548330;}
#search_results_bank_summary .no_tlgp { display:block; }

/* glossary */
dl#glossary dt { display: block; padding: 0; margin-bottom: 0.2em; }
dl#glossary dd { display: block; margin-bottom: 1.5em; }

ul.with-bullets, ul.with-bullets li { list-style-type: disc; }