/* GLOBAL */
body { background-image:url(/media/images/template/bg_gradient.png); background-repeat:repeat-x; background-position:0px 0px; margin:0; padding:0;}
#header_spacer { height:40px;}

.full_padding { padding: 20px 20px 20px 20px;}

/* TEMPLATE ITEMS */
.main_container { background-color:#ffffff;}
.white { background-color:#ffffff;}
.top_solid_box { background-color:#ffffff; height:6px;  background-image:url(/media/images/divider_bar.png); background-repeat:repeat-x;}


/* SEARCH BOX HEAD */
#search_box_header { margin-top:20px;}


/* TOP GENERAL NAV */
.top_nav_header_height { height: 30px;}

.top_nav_bg { background-image:url(/media/images/template/top_nav_bg.png); margin:0; padding:5px 0 0 0;}

#top_nav_header { text-align:right;}
#top_nav_header ul { margin:0; padding:0;}
#top_nav_header li { margin:0; padding:0; display:inline; padding-left:20px;}
#top_nav_header li.last { padding-right:20px;}

#top_nav_header a:link { color:#4380b0; text-decoration:none;}
#top_nav_header a:visited {color:#4380b0; text-decoration:none;}
#top_nav_header a:hover {color:#000000; text-decoration:underline;}
#top_nav_header a:active {color:#4380b0; text-decoration:none;}


/* Logo Box */
#logo_box { margin:0; padding:0;}

h1.technique-eight {
	width: 177px; height: 83px;
	position: relative;
	overflow:hidden;
	margin:0; padding:0;
	}
h1.technique-eight span {
		background: url(/media/images/ss_logo.png);
		position: absolute;
		width: 100%;
		height: 100%;
	}


/* Top Nav SECTORS */
#header_spacer { height:20px;}

#mailing_list_box { }
/* NAVBAR */
#navbar { background-color:#336699; padding:5px 0 0 0; margin:0; height:27px; background-image:url(/media/images/template/sector_nav_bg.png); background-position: 0px -7px; }
#navbar_items ul { margin:0; padding:0;}
#navbar_items li { display:inline; font-family:verdana; font-weight:bold; color:#ffffff; padding: 8px 20px 0 0;}

.navbar_item_coming_soon { color:#000000;}
#navbar_items a { padding: 8px 10px; }

#navbar_items a:link { color: #fff; text-decoration: none; }
#navbar_items a:visited { color: #fff; text-decoration: none; }
#navbar_items a:hover {  text-decoration:underline;}

#navbar li.active a { background-image:url(/media/images/template/sector_nav_selected_bg.png); color:#2b5b8e; border-top:1px solid #2f4867;
	border-left:1px solid #2f4867; border-right:1px solid #2f4867; padding-bottom:10px; background-position:top; background-repeat:repeat-x;}

#sector_subnav { background-color:#f4f4f4; padding:10px 0 0 10px; background-image:url(/media/images/template/sector_subnav_bg.png); background-repeat:repeat-x; height:25px; background-position:bottom;}
#sector_subnav_items ul { margin:0; padding:0;}
#sector_subnav_items li { display:inline; padding:0; padding-right:40px; font-family:verdana; font-weight:normal;}

#sector_subnav_items a { padding:0px; margin:0; }
#sector_subnav_items a:link { color: #435c7a; text-decoration: none; }
#sector_subnav_items a:visited { color: #435c7a; text-decoration: none; }
#sector_subnav_items a:hover {  text-decoration:underline;}

/* CONTENT AREA */
#header_area {margin:20px; background-image:url(/media/images/front/double_lines.png); background-position:bottom; background-repeat:repeat-x;}
#header_area h2 { font-size:12px; margin:0 0 5px 0; padding:0; color:#a5a5a5; text-transform:uppercase;}
#header_area h3 { font-size:20px; margin:0; padding:0 0 10px 0; line-height:24px;}

#content_area { margin:20px;}
#content_area p { width:650px;} 
.non_content { margin:20px 0 20px 0; padding:0 20px 0 20px;}

.attribution { font-size: 0.9em; margin-bottom: 20px; display:block; text-align:right; padding-right:20px;}
.source_download {padding-left:20px;}


/* FOOTER */
.footer_container { padding-top:20px; background-repeat:repeat-x; padding:20px 0 20px 0; border-top:1px solid #c6c6c6; }

h4.footer { font-size:12px; margin:0; padding:0;}
#footer_list { margin:0; padding:0; font-size:10px;}
#footer_list ul { margin:0; padding:0;}
#footer_list li { margin:0; padding:0;}

#footer_list a:link { text-decoration:none; color:#666666;}
#footer_list a:visited { text-decoration:none; color:#666666;}
#footer_list a:hover { text-decoration:underline; color:#666666;}
#footer_list a:active {text-decoration:none; color:#666666;}

/* PEW FOOTER */
.pew_container { background-color:#ffffff; padding-top:60px; }
.pew_footer { font-size:12px; line-height:15px; color:#8398a8; display:block; padding:0 20px 0 20px; }
.pew_footer a:link { color:#8398a8; }
.pew_footer a:visited { color:#8398a8;  }
.pew_footer a:hover { color:#2f4867; }
.pew_footer a:active {color:#8398a8; }



/* FRONT PAGE PIECES */
.feature_leftside { margin:15px 0 15px 15px;}
.feature_rightside { margin:15px 15px 15px 0; padding:0 0 0 5px;}
#feature_box { background-color:#e6ebf1;  background-image:url(/media/images/front/feature_bg_bottom.png); background-position:bottom; background-repeat:repeat-x; }
#feature_box h2 { color: #1a4760; padding:5px 10px 0 10px; margin:0;}
#feature_box h2 a:link { text-decoration:none; color: #1a4760;}
#feature_box h2 a:visited { text-decoration:none; color: #435c7a;}
#feature_box h2 a:hover { text-decoration:none; color: #bf5004;}
#feature_box h2 a:active { text-decoration:none; color: #1a4760;}


strong { font-weight:bold;}
.feature_content { padding:5px 10px 0 10px; margin:0;}
.feature_nav { text-align:right; display:block; padding:0 10px 10px 0; margin:0;}
.feature_nav img { padding:0 0 0 0;}

.tabNavigation ul { margin:0; padding:0;}
.feature_nav li { display:inline; margin:0; padding:0; list-style-type: none;}
.tabNavigation li { display:inline; margin:0; padding:0; list-style-type: none;}

/* MORE FRONT PAGE PIECES */
/* left side items */
#taxonomy { margin:0; padding:0; background-image:url(/media/images/front/double_lines.png); background-position:bottom; background-repeat: repeat-x;}
#taxonomy h3 { font-size:130%; font-weight:bold; margin:0; padding:0;}
#taxonomy a:link { color:#1a4760; text-decoration:none;}
#taxonomy a:visited { color:#435c7a; text-decoration:none;}
#taxonomy a:hover { color:#bf5004; text-decoration:none;}
#taxonomy a:active { color:#1a4760; text-decoration:none;}

#taxonomy p { color:#666666;}
.tax_item { display:block; height:75px;}
.tax_item p { font-size:.9%;}


#taxonomy .coming { color:#666666;}
#taxonomy .left_tax { float:left; margin:0 50px 0 50px; width:165px;}
/* start modules section */
#news_box { padding:0; margin:15px 5px 0 5px;}

#news_box a:link { text-decoration:none; color:#2d73bf; }
#news_box a:visited { text-decoration:none; color:#2d73bf;  }
#news_box a:hover { text-decoration:none; color:#2d73bf;  }
#news_box a:active { text-decoration:none; color:#2d73bf; }


.news_head { border-top:1px solid #cbcbcb; background-color:#f3f3f4; padding:5px 0 0 10px; border-bottom:1px solid #ffffff; color:#333333; font-size:14px; background-image:url(/media/images/front_update_head_bg_alt.png); background-repeat:repeat-x;}
.news_head h2  { display:inline; font-size:14px; padding:0 10px 0 0; font-weight:normal; margin:0;}

#news_box_items  { margin:0; padding:0; background-color:#f4f4f4;}
#news_box_items ul { margin:0; padding:0; }
#news_box_items li { margin:0; padding:10px; border-top:1px solid #c7c7c7;}

/* END FRONT PAGE PIECES */
/* Front Page bits and bobs */
.front_left_col { padding:0 20px 0 20px; border-right:1px solid #f3f3f4; margin:15px 10px 20px 0;}
#intro {background-image:url(/media/images/front/double_lines.png); background-position:top; background-repeat: repeat-x; padding:20px 20px 0 20px;}

.intro_copy { color:#333333; font-family:Georgia,"Nimbus Roman No9 L",serif;
font-size:150%;
font-weight:normal;
letter-spacing:0pt;
line-height:1.65em;
padding:0;
margin:0;}

.intro_more { font-size:14px; }
a.intro_more:link { text-decoration:none; padding-left:10px;}
a.intro_more:visited { text-decoration:none; padding-left:10px;}
a.intro_more:hover { text-decoration:none; padding-left:10px;}
a.intro_more:active { text-decoration:none; padding-left:10px;}

.updates_box { padding:0; margin:20px 0 0 0;}
.updates_head { border-top:1px solid #cbcbcb; background-color:#f3f3f4; padding:5px 0 0 10px; border-bottom:1px solid #ffffff; color:#333333; font-size:14px; background-image:url(/media/images/front_update_head_bg_alt.png); background-repeat:repeat-x;}

.updates_head h2  { display:inline; font-size:14px; padding:0 10px 0 0; font-weight:normal; margin:0;}
.feed_icon { border:1px solid; padding:0; margin:0;}

#update_item { padding:0 10px 0 0; border-top:1px solid #cbcbcb; border-bottom:1px solid #cbcbcb; margin:0 0 2px 0;}

#update_item p {
    font-size: 12px;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    line-height: 1.5;
        padding-left:10px;
}

#update_item h3 { font-family:Verdana,sans-serif; font-size:130%; color:#336699; padding:0 5px 0 10px; margin:10px 0 5px 0;}
#update_item h3 a:link { text-decoration:none;}
#update_item h3 a:visited { text-decoration:none;}
#update_item h3 a:hover { text-decoration:none;}
#update_item h3 a:active { text-decoration:none;}

.update_date { font-weight:bold; font-size:105%;}

#update_item .readmore { border:1px solid #e6e6e6;  font-size:90%; padding:2px 3px 0 3px; margin:0;  text-align:center;}
#update_item a.readmore:link { text-decoration:none; }
#update_item a.readmore:visited {text-decoration:none;}
#update_item a.readmore:hover { text-decoration:none; background-color:#ffffcc; }
#update_item a.readmore:active {text-decoration:none; }


/*  Featured box */
#featured_vis_boxes { margin:15px 15px 30px 0;}
.featured_vis { border:1px solid #c7c7c7; height:100px; width:293px;}
.featured_vis_title { text-align:right; display:block; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; font-size:14px; margin-bottom:15px; color:#666666;}
#featured_vis_boxes h3 { font-size:14px;}
#featured_vis_boxes a { text-decoration: none;}
#featured_vis_boxes a .featured_vis_title { font-weight: bold;}


/*  Tracker box */
#tracker_box{ margin:15px 15px 30px 0;}
.tracker_box { border:1px solid #c7c7c7; height:100px; width:293px;}
.tracker_box_title { text-align:right; display:block; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; font-size:14px; margin-bottom:15px; color:#999999;}
#tracker_box h3 { font-size:14px;}

.recent_item { padding:0 10px 10px 0; background-image:url(/media/images/recent_bottom_bg.png); background-position:bottom left; background-repeat:repeat-x;}

.recent_image {float:left; margin-right:20px; border:1px solid #000000; padding:0;
    height:96px; width:96px;
    }

.introbg.readmore { text-align:right; padding:0 20px 0 0; margin:0;}

h2.front_head {  font-size:12px; padding:0 0 3px 0; margin:0; text-transform: uppercase; }
#project-updates-feed-link { display: block; float: right; }
#project-updates-feed-link img { width: 14px; height: 14px; }
.recent_date { font-size:12px; font-style:italic; font-weight:bold;}

h4.recent_headline { font-size:18px; margin:0 0 10px 0;color:#993300; border-bottom:2px solid #c7c7c7; padding:3px 0 3px 0;
    border-top:1px solid #c7c7c7;
     display:block;}
h4.recent_headline a:link {text-decoration:none; color:#993300; display:block;}
h4.recent_headline a:visited {text-decoration:none; color:#993300; display:block;}
h4.recent_headline a:hover {text-decoration:none; color:#bf5004; display:block; background-color:#f4f4f4;}
h4.recent_headline a:active {text-decoration:none; color:#993300; display:block;}


/* about box */
h3.front_about_head {  text-transform: uppercase; font-size:12px; font-weight:bold; margin:0; padding:0 0 2px 0; color:#7b630f; letter-spacing:-0.2px;}

.front_about { margin:0 15px 0 0; background-color:#fffcda; padding:10px 15px 0 15px; border:1px solid #cfb762; color:#7b630f; background-image:url(/media/images/front_involved_bg.png); background-repeat:repeat-x;}
.front_about a:link { color:#7b630f;}
.front_about a:visited { color:#7b630f;}
.front_about a:hover { color:#bf5004;}
.front_about a:active { color:#7b630f;}


/******* Warrant Tracker *****/
table.warrant_tracker {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: none none none none;
	border-collapse: collapse;
	background-color: none;
	margin:0;
}
table.warrant_tracker th {
	border-width: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-style: none none none none;
	border-color: none none none none;
	background-color: none;
	-moz-border-radius: 0px 0px 0px 0px;
	font-size:11px;
	font-weight:normal;
	color:#666666;
}
table.warrant_tracker td {
	border-width: 1px 1px 1px 1px;
	padding: 2px;
	border-style: none none none none;
	border-color: none none none none;
	background-color: none;
	-moz-border-radius: 0px 0px 0px 0px;
	
}
#tracker_box h3 a:link { text-decoration:none; color:#000000;}
#tracker_box h3 a:visited { text-decoration:none; color:#000000;}
#tracker_box h3 a:hover { text-decoration:none; color:#ba2725;}
#tracker_box h3 a:active { text-decoration:none; color:#000000;}


#tracker_box .warrant_company { border-top:1px solid #cccccc; background-color:#f4f4f4; padding:3px;}
#tracker_box .warrant_details { margin-bottom:5px;}
#tracker_box .current_price { font-weight:normal; font-size:12px; padding:0 10px 0 0;}
#tracker_box .strike_price { font-weight:normal; font-size:12px; padding:0 10px 0 0;}
#tracker_box .warrant_out { font-weight:normal; font-size:12px; color:#990033;}
#tracker_box .warrant_in { font-weight:normal; font-size:12px; color:#669933;}
#tracker_box .about_warrants { margin-top:10px;}

#tracker_box .find_bank { border:1px solid #9ca991; padding:5px 5px 5px 5px; background-color:#eff5e6;}
#tracker_box .find_bank h3 { margin:0; padding:0;}


#bankSearchNameInput { width: 258px; }
#search_results_bank_summary { background-color:#ffffff; margin:10px 5px 5px 5px; padding:3px 3px 3px 5px; border:1px solid #cfdcba;}
#search_results_bank_summary h2 { font-size:14px; margin:5px 0 0 0 ; padding:0;}

#search_results_bank_summary .tarp_received { display:block; font-weight:bold; color:#548330; border-top:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4; margin-top:5px; margin-bottom:5px; padding:5px 0 5px 0;}
#search_results_bank_summary .address { font-size:11px; }
#search_results_bank_summary .no_tarp { display:block; border-top:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4; margin-top:5px; margin-bottom:5px; padding:5px 0 5px 0;}
#search_results_bank_summary .tlgp { display:block; font-weight:bold; color:#548330;}
#search_results_bank_summary .no_tlgp { display:block; }