{% extends "base_projects.html" %}
{% load media %}

{% block content %}
<div class="container main_container">
	{% include "includes/bailout_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h2>Project Updates</h2>
			<h3>{{ item.title }}</h3>		
		</div>
		
		<div id="content_area">
			<div id="update_item">
				<p style="margin-top:1em"><span class="update_date">{{ item.date|date:"F j, Y" }}</span> &ndash; {{ item.text|safe }} </p>
	
				{% if item.extended_text %}

					<p>{{ item.extended_text|safe }}</p>

					{% if item.link %}<p><a href="{{ item.link }}" class="readmore">View</a></p>{% endif %}

				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
