{% load media %}

{% for item in items %}
<div id="update_item">
	<div id="update_headline"><h3>{% if item.link %}<a href="{{ item.link }}">{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}</h3></div>
	  {% if item.sectors %}
			<div id="update_icon">{% for sector in item.sectors.all %}<img src="{% media_url %}/images/sector_icons/{{ sector.id }}_sm.png" alt="{{ sector.name }}: Project Update" border="0" />{% endfor %}
			</div>
		{% endif %}
		<p class="update_copy"><span class="update_date">{{ item.date|date:"F j, Y" }}</span> &ndash; {{ item.text|safe }} 
			{% if item.link %}<a href="{{ item.link }}">Read More &raquo;</a>{% endif %}
		</p>

</div>
{% endfor %}

<p id="previous-updates"><a href="/updates/archive/1/">Previous Project Updates &raquo;</a></p>
