<link rel="stylesheet" type="text/css" media="screen" href="/media/styles/superfish.css" />
<script type="text/javascript" src="/media/scripts/hoverIntent.js"></script>
<script type="text/javascript" src="/media/scripts/superfish.js"></script>

<script type="text/javascript">  
    $(document).ready(function(){ 
        $("ul.sf-menu").superfish(); 
    }); 
</script>

<!-- this nav block is specific to the BAILOUT section -->
<div class="span-24">	
	<div id="navbar">
		<ul id="navbar_items">
			<li><a href="/">Home</a></li>
			<li class="active_top"><a href="/projects/bailout/">Financial Bailout</a></li>
			<li class="inactive_top"><a href="/projects/transportation/">Transportation</a></li>
			<li class="inactive_top"><a href="/faq/#future-sectors">Future Sectors</a></li>
		</ul>							
	</div>
	<div id="sector_subnav">
	<ul class="sf-menu">
		<li>
			<a class="sf-with-ul" href="{% url bailout_treasury_index %}">Treasury</a>
			{% include "includes/bailout_treasury_nav.html" %}
		</li>
		<li>
			<a class="sf-with-ul" href="{% url bailout_fdic_index %}">FDIC</a>
			{% include "includes/bailout_fdic_nav.html" %}
		</li>
		<li>
			<a class="sf-with-ul" href="{% url bailout_federal_reserve_index %}">Federal Reserve</a>
		</li>
		<li>
			<a href="{% url bailout_other_index %}">Other Agencies</a>
			{% include "includes/bailout_other_nav.html" %}
		</li>
		<li><a href="{% url bailoutpdf_index %}">Key Documents</a></li>
	</ul>
	</div>
</div>
