<div class="container pew_container">
	<div class="span-19"> 
		<p class="pew_footer">
	<a href="http://www.pewtrusts.org/" class="footer">The Pew Charitable Trusts</a> is driven by the power of knowledge to solve today’s most challenging problems. Pew applies a rigorous, analytical approach to improve public policy, inform the public and stimulate civic life. We partner with a diverse range of donors, public and private organizations and concerned citizens who share our commitment to fact-based solutions and goal-driven investments to improve society.
		</p>
	</div>
	
		<div class="span-5 last"><a href="http://www.pewtrusts.org"><img src="/media/images/pew_footer.gif"></a></div>
</div>

<div class="container footer_container">


	
	


	<div class="span-2">&nbsp;</div>

	<div class="span-4">
	<h4 class="footer">Subsidyscope</h4>
	<ul id="footer_list">
		<li><a href="{% url faq %}">Frequently Asked Questions</a></li>
		<li><a href="/board/">Board of Advisors</a></li>
		<li><a href="/press/">Press Center</a></li>	
		<li><a href="{% url staff %}">Staff</a></li>
	</ul>	
	</div>	

	<div class="span-4">
	<h4 class="footer">Subsidy Types</h4>
	<ul id="footer_list">
		<li><a href="{% url grants %}">Grants</a></li>
		<li><a href="{% url contracts %}">Contracts</a></li>
		<li><a href="{% url tax-subsidies %}">Tax Subsidies</a></li>
		<li><a href="{% url loans %}">Risk Transfers (Loans, Loan Guarantees and Insurance)</a></li>	
	</ul>	
	</div>


	<div class="span-4">
	<h4 class="footer">Reference</h4>
	<ul id="footer_list">
	  <li><a href="{% url framing-paper %}">Subsidyscope Framing Paper</a></li>
		<li><a href="{% url methodology %}">Methodology</a></li>	
		<li><a href="{% url datasets %}">Datasets</a></li>
		<li><a href="{% url glossary %}">Glossary</a></li>
		<li><a href="{% url bailoutpdf_index %}">Key Documents</a></li>
	</ul>
	</div>	

	<div class="span-4">
	<h4 class="footer">Need Help?</h4>
	<ul id="footer_list">
		<li><a href="{% url about_rss %}">About RSS</a></li>
		<li><a href="{% url contact_form %}">Contact Us</a></li>	
	</ul>	
	</div>
	<div class="span-2 last">&nbsp;</div>
	
	<div class="span-24">&nbsp;</div>
	
	
</div>



<script type="text/javascript">
if(!window.location.host.match(/(staging|127\.0\.0\.1|localhost)/i)){ 
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1265484-28");
pageTracker._trackPageview();
} catch(err) {}</script>
