{% extends "includes/generic_nav.html" %}

{% block transportation_active %}active_top{% endblock %}

{% block subnav %}

	<div id="sector_subnav">
	<ul class="sf-menu">
	          <li>
                    <a class="sf-with-ul" href="{% url nonprofits-overview %}">Introduction</a>                    
            </li>
            <li>
                <a class="sf-with-ul" href="#">History</a>                
            </li>
            
            <li>
              <a href="#">Types of Nonprofits</a>
            </li>
            
            <li>
                    <a class="sf-with-ul" href="#">Types of Subsidies</a>
                    <ul>
                      <li><a href="{% url nonprofits-direct-expenditures %}">Grants and Contracts</a></li>
                      <li><a href="{% url nonprofits-tax-expenditures %}">Tax Policy</a>
                        <ul>
                          <li><a href="#">Tax-Exempt Bonds</a></li>
                          <li><a href="#">UBIT</a></li>
                        </ul>                        
                      </li>
                      <li><a href="{% url nonprofits-risk-transfers %}">Loans &amp; Loan Guarantees</a></li>
                    </ul>
            </li>
        </ul>
    </div>

{% endblock %}
