
	<div class="top_nav_bg">
		<div class="container">
			<div class="span-24 top_nav_header_height"> 
				<ul id="top_nav_header">
					<li><a href="/">Home</a></li>
					<li><a href="/faq/">FAQ</a></li>
					<li><a href="/board/">Board</a></li>
					<li><a href="/press/">Press</a></li>
					<li class="last"><a href="/contact/">Contact</a></li>
				</ul>
			</div>
		</div>	
	</div>

	<div class="container">	
		<div class="span-12">
			<div id="logo_box"><a href="/">
				<!-- this should be the H1 image replacement solution -->
				<h1 class="technique-eight">
				<span></span>subsidyscope
				</h1>
				</a>
			</div>	
		</div>

		<div class="span-12 last">
			<div id="search_box_header">
				<div id="search_box">
					<form id="search_form" action="/search/" method="GET">
						<input id="id_query" name="query" type="text"/>
						<input class="submit" type="submit" value="Search"/>
					</form>
				</div>
			</div>
		</div>

		<div class="span-24">
			<div id="header_spacer">&nbsp;</div>
		</div>		
	</div>