

	<script type="text/javascript">
	$(document).ready(function(){
		
		$('a#email-updates-toggle').click(function(){
			$('#email-form-container').animate({width: "200px"}, { queue:false, duration:400, complete: function(){ 
					$('#email-message').css('left',$('form#email-subscribe input.text').position().left).removeClass('warning').text('Please enter your email address.').fadeIn(400, function(){ $('form#email-subscribe input.text').focus() });					
				} });
			return false;
		});
		

		$('form#email-subscribe').submit(function(){
			var valid = ($('form#email-subscribe input.text').val().match(/^\s*[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\s*$/i)!=null);
			if(!valid)
			{
				if($('#email-message').css('display')!='none')
				{
					$('#email-message').fadeOut(400, function(){ $('#email-message').addClass('warning').text('This does not appear to be a valid email address.').fadeIn(400); });
				}
				else
				{
					$('#email-message').addClass('warning').text('This does not appear to be a valid email address.').fadeIn(400, function(){ $('form#email-subscribe input.text').focus(); });
				}	
			}
			return valid;
		});
		
		$('form#email-subscribe input.text').blur(function(){
			$('#email-message').fadeOut(400);
		});
	});
	</script>
	
	<div class="top_nav_bg">
		<div class="container">
			<div class="span-24 top_nav_header_height">				
				<ul id="top_nav_header">
					
					<li id="email-form-container"><span id="email-message" class="instruction">Please enter your email address.</span><form action="/mailinglist/subscribe/" method="post" id="email-subscribe"><input type="text" value="" class="text" name="email" />&nbsp;<input class="submit" type="submit" value="Subscribe" /></form></li>
					<li><a href="{% url email_signup_nojavascript %}" id="email-updates-toggle">Get Email Updates</a></li>
					<li><a href="/contact/">Contact</a></li>
					<li><a href="/press/">Press</a></li>
					<li><a href="/board/">Board</a></li>
					<li><a href="/faq/">FAQ</a></li>
					<li><a href="/">Home</a></li>
					
				</ul>		
			</div>
		</div>	
	</div>

	<div class="container">	
		<div class="span-12">
			<div id="logo_box"><a href="/"><img src="/media/images/ss_logo.png"></a></div>	
		</div>

		<div class="span-12 last">
			<div id="search_box_header">
				<div id="search_box">
					<form id="search_form" action="/search/" method="GET">
						<input id="id_query" name="query" type="text"/>
						<input class="submit" type="submit" value="Search"/>
					</form>
				</div>
			</div>
		</div>

		<div class="span-24">
			<div id="header_spacer">&nbsp;</div>
		</div>		
	</div>