{% extends "base.html" %}
{% load media %}

{% block content %}


<div class="container main_container">
	{% include "includes/generic_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h2>Subsidyscope</h2>
			<h3>Downloadable Datasets</h3>		
		</div>
		
		<div class="content_area">
		<img src="{% media_url %}/images/download_icon.png" alt="Download" id="big-download-icon" class="alignright"/>		
		<p>Subsidyscope maintains a variety of datasets.  Some of them power the visualizations you see on the site, while others are used for behind-the-scene calculations.  All of them are available for use under the terms of the <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons Attribution-Noncommercial 3.0 United States License</a>.</p>
		<p>On this page you can find links to the data products that we offer and descriptions of what they contain.  Confused?  Have a suggestion?  <a href="{% url contact_form %}">Contact us</a> and we'll be happy to answer your questions.</p>
		</div>

		<div class="non_content">
			<div id="data-page">	

				<div class="data-section">

					<h4><a class="section-title" href="{% url Bailout %}">The Bailout</a></h4>
					<div class="section-description">Subsidyscope maintains a number of datasets related to the government's unprecedented intervention in the financial sector.</div>
		
      		<ul class="datasets">
      			<li class="odd">
      				<div class="top">
      					<h5>TARP Transactions</h5> 
      					<div class="downloads">(<a href="{% url tarp-csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">A list of the transactions occurring under the Treasury Department's <a href="{% url tarp %}">Troubled Asset Relief Program</a>. Includes purchases, repayments and dividends, as well as asset information for affected institutions.</p>
      				<p class="updated">Updated approximately weekly, depending on Treasury's schedule and variations in their formatting</p>
      			</li>
			
      			<li class="even">
      				<div class="top">
      					<h5>FDIC Bank Failures</h5>
      					<div class="downloads">(<a href="{% url fdic_bank_failures_csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">The bank failures charged to the FDIC's <a href="{% url fdic_bank_failures %}">Deposit Insurance Fund</a>. Includes bank name, location, closing date, estimated charge to the DIF and the URL of the associated IG report, if available.</p>
      				<p class="updated">Updated intermittently &mdash; approximately 1-2 times per month</p>
      			</li>
			
      			<li class="odd">
      				<div class="top">
      					<h5>FDIC QBP Snapshot</h5>
      					<div class="downloads">(<a href="{% url fdic_qbpsnapshot_csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">Data from the FDIC's <a href="http://www2.fdic.gov/qbp/qbpSelect.asp?menuItem=QBP">Quarterly Banking Profile</a>, a summary of financial results for all FDIC-insured institutions.</p>
      				<p class="updated">Updated quarterly</p>
      			</li>

      			<li class="even">
      				<div class="top">
      					<h5>FDIC TLGP Participation</h5>
      					<div class="downloads">(<a href="{% url bailout_fdic_tlgp_csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">The banks that have specifically declared their status within the FDIC's <a href="{% url bailout_fdic_index %}">TLGP program</a>.</p>
      				<p class="updated">Updated as information becomes available</p>
      			</li>			
			
      			<li class="odd">
      				<div class="top">
      					<h5>Federal Reserve H.4.1 Snapshot</h5>
      					<div class="downloads">(<a href="{% url h41_snapshot_csv %}">CSV</a>)</div>
      					<div class="clear"></div>
      				</div>
      				<p class="description">The Federal Reserve's weekly statement of factors affecting its balances.</p>
      				<p class="updated">Updated every Thursday at 6 p.m. EST</p>
      			</li>
			
      		</ul>
		
		      <div style="clear:left"></div>
		
				</div>
				
				<div class="data-section">
				  <h4><a class="section-title" href="{% url transportation-index %}">Transportation</a></h4>
				  <div class="section-description">Subsidyscope is in the process of releasing the data supporting its work on the transportation sector.  Please check back here often for updates.  If you would like to ask us a specific question about our planned offerings, please use the <a href="{% url contact_form %}">contact form</a>.</div>        		
                    <ul class="datasets">
                        <li class="odd">
                            <div class="top">
                                <h5>Airport Improvement Program (AIP)</h5>
                                <div class="downloads">(<a href="/media/data/transportation/AIP_csvs.tar.gz">Gzipped CSVs</a>)</div>
                                <div class="clear"></div>
                            </div>
                            <p class="description">Data from SubsidyScope's <a href="{%url aip-index %}">searchable AIP database</a>. Original data has been parsed from spreadsheets available on the FAA website.</p>
                            <p class="updated">Updated as information becomes available</p>
                        </li>
                        
                        <li class="even">
                            <div class="top">
                                <h5>CFDA/FAADS</h5>
                                <div class="downloads">(<a href="http://assets.subsidyscope.com/data/subsidyscope_transportation_direct_expenditures.db.gz">Gzipped SQLite database</a>, approx. 50M)</div>
                                <div class="clear"></div>
                            </div>
                            <p class="description">The data powering our program directory and direct expenditure search. The former is extracted from PDFs and <a href="http://cfda.gov">CFDA.gov</a>; the latter portion is a transportation-oriented subset of data from <a href="http://usaspending.gov">USASpending.gov</a>'s FAADS dataset.</p>
                            <p class="updated">Updated periodically; last update 10/23/2009</p>
                        </li>
                        
                         <li class="odd">
                              <div class="top">
                                  <h5>Export/Import Bank (Ex-Im)</h5>
                                  <div class="downloads">(<a href="/media/data/exim_07-09.csv">CSV</a>)</div>
                                  <div class="clear"></div>
                              </div>
                              <p class="description">Loans and loan guarantees made by the <a href="{% url transportation-exim %}">Export-Import Bank</a> from FY 2007 to the present.</p>
                              <p class="updated">Updated as information becomes available</p>
                          </li>
                    </ul>
				  <div style="clear:left"></div>	
			  </div>
				
			</div>
		</div>
	</div>
</div> <!--ends container-->
{% endblock %}
