{% extends "base.html" %}
{% load media %}

{% block content %}


<div class="container main_container" id="staff-page">
	{% include "includes/bailout_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h2>Subsidyscope</h2>
			<h3>Staff</h3>		
		</div>
		
		<div id="content_area">				
		<p>Subsidyscope is a project of <a href="http://www.pewtrusts.org">The Pew Charitable Trusts</a>, with research and technical implementation by<br/><a href="http://www.sunlightfoundation.com">The Sunlight Foundation</a>.  Here are the people who have made it possible.</p>
		
		<h4>Subsidyscope Contributors</h4>
		
		<table id="subsidyscope-contributors">
		<tbody>
			<tr>
				<td>
					Project Director
				</td>
				<td>
					Marcus Peacock<br/>
					The Pew Charitable Trusts
				</td>
			</tr>
			
			<tr>
				<td>
					Senior Associate
				</td>
				<td>
					Lori Metcalf<br/>
					The Pew Charitable Trusts					
				</td>
			</tr>
	
			<tr>
				<td>
					Administrative Associate
				</td>				
				<td>
					Anthony Campo<br/>
					The Pew Charitable Trusts					
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<em>Research and Technology Consultants</em>
				</td>
			</tr>
			
			<tr>
				<td>
					Project Manager
				</td>				
				<td>
					Jim Morris<br/>
					Sunlight Foundation				
				</td>
			</tr>
			
			
			<tr>
				<td>
					Technical Manager
				</td>				
				<td>
					Tom Lee<br/>
					Sunlight Foundation				
				</td>
			</tr>
			
			<tr>
				<td>
					Senior Data Analyst/Developer
				</td>				
				<td>
					Kevin Webb<br/>
					Sunlight Foundation			
				</td>
			</tr>
			
			<tr>
				<td>
					Senior Software Developer
				</td>				
				<td>
					David James<br/>
					Sunlight Foundation				
				</td>
			</tr>
			
			<tr>
				<td>
					Computer-assisted Reporter
				</td>				
				<td>
					Sarah Dorsey<br/>
					Sunlight Foundation				
				</td>
			</tr>
			
			<tr>
				<td>
					Computer-assisted Reporter
				</td>				
				<td>
					Lisa Chiu<br/>
					Sunlight Foundation				
				</td>
			</tr>
			
			<tr>
				<td>
					Computer-assisted Reporter
				</td>				
				<td>
					Ryan Sibley<br/>
					Sunlight Foundation				
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<em>An Initiative of the Economic Policy Department of the Pew Charitable Trusts</em>
				</td>
			</tr>
			
			<tr>
				<td>
					Managing Director
				</td>				
				<td>
					John Morton<br/>
					The Pew Charitable Trusts				
				</td>
			</tr>
			
			<tr>
				<td>
					Deputy Director
				</td>				
				<td>
					Douglas Hamilton<br/>
					The Pew Charitable Trusts			
				</td>
			</tr>
			
			<tr>
				<td>
					Senior Associate
				</td>				
				<td>
					Michael Crowley<br/>
					The Pew Charitable Trusts
				</td>
			</tr>			
			
		</tbody>
		</table>
		
		</div>
		
	
		
	</div>
</div> <!--ends container-->
{% endblock %}