{% extends "base.html" %}
{% load media %}

{% block content %}


<div class="container top_solid_box" id="staff-page">
	<div class="span-24">
		<div id="header_area_flat">
			<h2>Subsidyscope</h2>
			<h3>Staff</h3>		
		</div>
		
		<div class="content_area">				
		<p>Subsidyscope is a project of <a href="http://www.pewtrusts.org"><em>The Pew Charitable Trusts</em></a>, with research and technical implementation by<br/><a href="http://www.sunlightfoundation.com">The Sunlight Foundation</a>.  Here are the people who have made it possible.</p>
		
		<style type="text/css">
		#subsidyscope-contributors, #subsidyscope-contributors *
		{
			border: 0;
		}
		</style>
		
		<table id="subsidyscope-contributors" width="75%" border="0">
		<tbody>
			<tr>
				<td>
					Project Director
				</td>
				<td>
					Marcus Peacock<br/>
					<em>The Pew Charitable Trusts</em>
				</td>
			</tr>
			
			<tr>
				<td>
					Senior Associate
				</td>
				<td>
					Lori Metcalf<br/>
					<em>The Pew Charitable Trusts</em>					
				</td>
			</tr>
	
			<tr>
				<td>
					Administrative Associate
				</td>				
				<td>
					Anthony Campo<br/>
					<em>The Pew Charitable Trusts</em>					
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					&nbsp;<br/>
					<em><strong>Research and Technology Consultants</strong></em>
				</td>
			</tr>
			
			<tr>
				<td>
					Project Manager
				</td>				
				<td>
					Jim Morris<br/>
					<em>Sunlight Foundation</em>				
				</td>
			</tr>
			
			
			<tr>
				<td>
					Technical Manager
				</td>				
				<td>
					Tom Lee<br/>
					<em>Sunlight Foundation</em>				
				</td>
			</tr>
			
			<tr>
				<td>
					Senior Data Analyst/Developer
				</td>				
				<td>
					Kevin Webb<br/>
					<em>Sunlight Foundation</em>			
				</td>
			</tr>		
			
			<tr>
				<td>
					Staff Writer
				</td>				
				<td>
					Sarah Dorsey<br/>
					<em>Sunlight Foundation</em>				
				</td>
			</tr>
			
			<tr>
				<td>
					Staff Writer
				</td>				
				<td>
					Lisa Chiu<br/>
					<em>Sunlight Foundation</em>				
				</td>
			</tr>
			
			<tr>
				<td>
					Staff Writer
				</td>				
				<td>
					Ryan Sibley<br/>
					<em>Sunlight Foundation</em>				
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					&nbsp;<br/>
					<em><strong>An Initiative of the Economic Policy Department of the Pew Charitable Trusts</strong></em>
				</td>
			</tr>
			
			<tr>
				<td>
					Managing Director
				</td>				
				<td>
					John Morton<br/>
					<em>The Pew Charitable Trusts</em>				
				</td>
			</tr>
			
			<tr>
				<td>
					Deputy Director
				</td>				
				<td>
					Douglas Hamilton<br/>
					<em>The Pew Charitable Trusts</em>			
				</td>
			</tr>
			
			<tr>
				<td>
					Senior Associate
				</td>				
				<td>
					Michael Crowley<br/>
					<em>The Pew Charitable Trusts</em>
				</td>
			</tr>			
			
		</tbody>
		</table>
		
		</div>
		
	
		
	</div>
</div> <!--ends container-->
{% endblock %}