{% extends "base_sector.html" %}
{% load humanize %}
{% load webdesign %}
{% load media %}
{% load morsel_tags %}


{% block additional_js %}
	{% js "scripts/swfobject.js" %}
{% endblock %}

{% load menubuilder %}
{% block content %}

<div class="container main_container">
{% include "includes/bailout_nav.html" %}

	<div class="span-24">
		<div class="secondary-header">
			<h3>{% morsel_page_title %}</h3>		
		</div>
		
			{% recursive_menu %}

    <div class="page-content">
			{% morsel text1 %}			
		</div>
		
		<div class="non_content">

			<h4>Factors Affecting Federal Reserve Balances</h4>
			<div id="fed-h41">				
				<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>				
				<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>			
			</div>

				<div class="attribution">Source: <a href="http://www.subsidyscope.com">www.subsidyscope.com</a>. Data from <a href="http://www.federalreserve.gov/releases/h41/">The Federal Reserve</a> <span class="source_download">[<a href="{% url h41_snapshot_csv %}">Download CSV</a>]
				</div>

		</div>
					
			{% recursive_menu %}

    <div class="page-content">
			{% morsel text2 %}
		</div>
				
			<script type="text/javascript">
			$(function(){
				var d = new Date();
				swfobject.embedSWF('{% media_url %}/scripts/fed_h41_1.3.swf', 'fed-h41', 900, 400, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', 
				{
					width: 900,
					height: 400,	       
					data_url: 'http://' + window.location.host + '{% url h41_snapshot_xml %}?' + d.getTime(),
					timeline_data_url: 'http://' + window.location.host + '{% url fed_news_xml %}?' + d.getTime(),
					policy_file: 'http://' + window.location.host + '/crossdomain.xml',
					colors: '50c3e1,b79bd1,ff9595,50c3e1,b2de82,ff923f,5ca3f0,ff7776,baf275,ba92de,ffaa4a,34dbf5,b1cef9,b6d3fe,b79bd1'		
				},
				{
					bgcolor: '#ffffff'
				}

				);			
			});
			</script>


{% endblock %}