{% extends "base_sector.html" %}
{% load humanize %}
{% load webdesign %}
{% load media %}
{% load morsel_tags %}
 
{% block additional_js %}
 

{% endblock %}

{% block additional_css %}
	<style type="text/css">@import "{% url bailout-visualization-css %}";</style>
{% endblock %}

{% load menubuilder %}
{% block content %}

<div id="fin_bailout" class="wrapper clearfix">
	<div class="secondary-header">
	    <h3>{% morsel_page_title %}</h3>		
	</div>
	{% recursive_menu %}

    <div class="page-content">
					
			<div class="section-floating-nav">
				<h3 class="front_about_head">Treasury</h3>
				{% include "includes/bailout_treasury_nav.html" %}
			</div>

			{% morsel text1 %}
    </div>
</div>


{% endblock %}
