{% extends "base_sector.html" %}
{% load media %}
{% load morsel_tags %}

{% block content %}
{% js "scripts/swfobject.js" %}

<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
    <div class="span-24">
        <div id="header_area">
            <h3>{% morsel_page_title %}</h3>
        </div>
        <div class="content_area">
           
			<div id="subsidy-charts">
				<script type="text/javascript">
				
					var data;
									
					$(document).ready(function()
					{
						swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "spendingchart", "900", "400", "9.0.0", "expressInstall.swf", {"data-file":"/transportation/highways/funding/state/chart/1/"});
						
						$("select#state_select").change(function()
						{
							loadData();
						});
						
						$("select#year_select").change(function()
						{
							selectYear();
						});
						
						
						loadData();
					});
					
					function loadData()
					{
						var state_id = $("select#state_select").val();
						
						var chart = findSWF('spendingchart');
						
						if(chart)
							chart.reload('/transportation/highways/funding/state/chart/' + state_id + '/');
						
						
						$.getJSON('/transportation/highways/funding/state/fundingtable/' + state_id + '/', function(d)
						{
							data = d;
		 					selectYear();	
						});
						
						
						$.getJSON('/transportation/highways/funding/state/milestable/' + state_id + '/', function(d)
						{
							var year = 2007;
							
							var total_miles = 0;
							
							total_miles += d[year]['state'];
							total_miles += d[year]['county'];
							total_miles += d[year]['city'];
							total_miles += d[year]['federal'];
							total_miles += d[year]['other'];
							
							$('#mile_state_d').html(formatNumber(d[year]['state']));
							$('#mile_state_p').html(formatPercent(total_miles, d[year]['state']));
							
							$('#mile_county_d').html(formatNumber(d[year]['county']));
							$('#mile_county_p').html(formatPercent(total_miles, d[year]['county']));
							
							$('#mile_city_d').html(formatNumber(d[year]['city']));
							$('#mile_city_p').html(formatPercent(total_miles, d[year]['city']));
							
							$('#mile_other_d').html(formatNumber(d[year]['other']));
							$('#mile_other_p').html(formatPercent(total_miles, d[year]['other']));
							
							$('#mile_federal_d').html(formatNumber(d[year]['federal']));
							$('#mile_federal_p').html(formatPercent(total_miles, d[year]['federal']));
							
							$('#mile_total_d').html(formatNumber(total_miles));
							$('#mile_total_p').html(formatPercent(total_miles, total_miles));
							
							$('#mile_federal_aid_d').html(formatNumber(d[year]['federal_aid']));
							$('#mile_federal_aid_p').html(formatPercent(total_miles, d[year]['federal_aid']));
							
						});
					}
					
					function selectYear()
					{
						var year = $("select#year_select").val();
						
						var total = 0;
						var federal_total = 0;
						var state_total = 0;
						var local_total = 0;
						
						var source_s_user_total = 0;
						var source_s_nonuser_total = 0;
						var source_s_bonds_total = 0;
						
						var source_l_user_total = 0;
						var source_l_nonuser_total = 0;
						var source_l_bonds_total = 0;
						
						if(year == -1)
						{
							$('#fiscal_year').html('FY 1995-2007');
							
							for(year in data)
							{
								state_total += data[year]['state_user'] +
											data[year]['state_non_user'] + 
											data[year]['state_bonds'];
											
								local_total += data[year]['local_user'] + 
											data[year]['local_non_user'] +
											data[year]['local_bonds'];
											
								federal_total += data[year]['federal'];
								
								source_s_user_total += data[year]['state_user'];
								source_s_nonuser_total += data[year]['state_non_user'];
								source_s_bonds_total += data[year]['state_bonds'];
								
								source_l_user_total += data[year]['local_user'];
								source_l_nonuser_total += data[year]['local_non_user'];
								source_l_bonds_total += data[year]['local_bonds'];
							}
						
						}
						else
						{
							$('#fiscal_year').html('FY ' + year);
						
							state_total = data[year]['state_user'] +
										data[year]['state_non_user'] + 
										data[year]['state_bonds'];
										
							local_total = data[year]['local_user'] + 
										data[year]['local_non_user'] +
										data[year]['local_bonds'];
										
							federal_total = data[year]['federal'];
							
							source_s_user_total = data[year]['state_user'];
							source_s_nonuser_total = data[year]['state_non_user'];
							source_s_bonds_total = data[year]['state_bonds'];
							
							source_l_user_total = data[year]['local_user'];
							source_l_nonuser_total = data[year]['local_non_user'];
							source_l_bonds_total = data[year]['local_bonds'];
							
						}
						
						
						total = state_total + local_total + federal_total;
					
					
						$('#source_s_user_d').html(formatDollar(source_s_user_total));
						$('#source_s_user_p').html(formatPercent(total, source_s_user_total));
						  
						$('#source_s_nonuser_d').html(formatDollar(source_s_nonuser_total));
						$('#source_s_nonuser_p').html(formatPercent(total, source_s_nonuser_total));
						
						$('#source_s_bonds_d').html(formatDollar(source_s_bonds_total));
						$('#source_s_bonds_p').html(formatPercent(total, source_s_bonds_total));
						
						$('#source_s_subtotal_d').html(formatDollar(state_total));
						$('#source_s_subtotal_p').html(formatPercent(total, state_total));
						
						
						
						$('#source_l_user_d').html(formatDollar(source_l_user_total));
						$('#source_l_user_p').html(formatPercent(total, source_l_user_total));
						  
						$('#source_l_nonuser_d').html(formatDollar(source_l_nonuser_total));
						$('#source_l_nonuser_p').html(formatPercent(total, source_l_nonuser_total));
						
						$('#source_l_bonds_d').html(formatDollar(source_l_bonds_total));
						$('#source_l_bonds_p').html(formatPercent(total, source_l_bonds_total));
						
						$('#source_l_subtotal_d').html(formatDollar(local_total));
						$('#source_l_subtotal_p').html(formatPercent(total, local_total));
						
						
						  
						$('#source_fed_d').html(formatDollar(federal_total));
						$('#source_fed_p').html(formatPercent(total, federal_total));
						  
						$('#source_total_d').html(formatDollar(total));
		 				$('#source_total_p').html(formatPercent(total, total));
					
					}
					
					function formatNumber(value)
					{
						var sValue = '' + (value);
						
						var sRegExp = new RegExp('(-?[0-9]+)([0-9]{3})');
						while(sRegExp.test(sValue)) 
						{ 
							sValue = sValue.replace(sRegExp, '$1,$2'); 
						} 
						
						return sValue;
					}
					
					function formatDollar(value)
					{
						var sValue = formatNumber(value);						 	
					
						return '$' + sValue;
					}
					
					function formatPercent(total, value)
					{
						var percent = (value / total) * 100;
						
						if(percent == 0)
							return '0%';
						else if(percent < 1)
							return '&lt;1%';
						else
							return Math.round(percent) + '%';
					}
					
					function findSWF(movieName) 
					{
						if (navigator.appName.indexOf("Microsoft")!= -1) 
						{
							return window["ie_" + movieName];
						} 
						else 
						{
							return document[movieName];
						}
					}
				
				</script>
				
				<h5 style="margin-top:20px;">Highway Funding Sources by State</h5>
				
				<div style="margin-bottom: 10px;">
				
					<label for="state_select">Select State:</label> <select id="state_select">
						<option value="1">Alabama</option>
							<option value="2">Alaska</option>
							<option value="3">Arizona</option>
							<option value="4">Arkansas</option>
							<option value="5">California</option>
							<option value="6">Colorado</option>
							<option value="7">Connecticut</option>
							<option value="8">Delaware</option>
							<option value="9">District of Columbia</option>
							<option value="10">Florida</option>
							<option value="11">Georgia</option>
							<option value="12">Hawaii</option>
							<option value="13">Idaho</option>
							<option value="14">Illinois</option>
							<option value="15">Indiana</option>
							<option value="16">Iowa</option>
							<option value="17">Kansas</option>
							<option value="18">Kentucky</option>
							<option value="19">Louisiana</option>
							<option value="20">Maine</option>
							<option value="21">Maryland</option>
							<option value="22">Massachusetts</option>
							<option value="23">Michigan</option>
							<option value="24">Minnesota</option>
							<option value="25">Mississippi</option>
							<option value="26">Missouri</option>
							<option value="27">Montana</option>
							<option value="28">Nebraska</option>
							<option value="29">Nevada</option>
							<option value="30">New Hampshire</option>
							<option value="31">New Jersey</option>
							<option value="32">New Mexico</option>
							<option value="33">New York</option>
							<option value="34">North Carolina</option>
							<option value="35">North Dakota</option>
							<option value="36">Ohio</option>
							<option value="37">Oklahoma</option>
							<option value="38">Oregon</option>
							<option value="39">Pennsylvania</option>
							<option value="40">Rhode Island</option>
							<option value="41">South Carolina</option>
							<option value="42">South Dakota</option>
							<option value="43">Tennessee</option>
							<option value="44">Texas</option>
							<option value="45">Utah</option>
							<option value="46">Vermont</option>
							<option value="47">Virginia</option>
							<option value="48">Washington</option>
							<option value="49">West Virginia</option>
							<option value="50">Wisconsin</option>
							<option value="51">Wyoming</option>
					</select> 
					
					<label for="year_select">Fiscal Year:</label> 
					<select id="year_select">
						<option value="-1">Cumulative (1995-2007)</option>
						<option value="2007">2007</option>
						<option value="2006">2006</option>
						<option value="2005">2005</option>
						<option value="2004">2004</option>
						<option value="2003">2003</option>
						<option value="2002">2002</option>
						<option value="2001">2001</option>
						<option value="2000">2000</option>
						<option value="1999">1999</option>
						<option value="1998">1998</option>
						<option value="1997">1997</option>
						<option value="1996">1996</option>
						<option value="1995">1995</option>
					</select>
					
					
				</div>
				
				
				
				<table id="source_table">
					<tbody>
						<tr class="header-row">
						
						  <td>Funding Source</td>
						  
						  <td><span id="fiscal_year"></span> Funding (2007 dollars)</td>
						  <td>Share of State's Total Highway Funding (%)</td>
			
						 </tr>
						 
						<tr class="odd">
						
						  <td class="program">State Funding:</td>
						  
						  <td></td>
						  <td></td>
						  
						</tr>
						
						<tr class="even">
						
						  <td class="subprogram">User Revenues</td>
						
						  <td id="source_s_user_d"></td>
						  <td id="source_s_user_p"></td>
						
						</tr>
						
						<tr class="odd">
						
						  <td class="subprogram">Non-user Revenues</td>
						  
						  <td id="source_s_nonuser_d"></td>
						  <td id="source_s_nonuser_p"></td>
						  
						</tr>
						
						<tr class="even">
						
						  <td class="subprogram">Bonds</td>
						  
						  <td id="source_s_bonds_d"></td>
						  <td id="source_s_bonds_p"></td>
						  
						</tr>
						
						<tr class="subtotal"> 
		 					<td class="subprogram">State Subtotal</td>
		 					
		 					<td id="source_s_subtotal_d"></td>
		 					<td id="source_s_subtotal_p"></td>
		 				</tr> 
						
						
						<tr class="even">
						
						  <td class="program">Local Funding:</td>
						  
						  <td></td>
						  <td></td>
						  
						</tr>
						
						<tr class="odd">
						
						  <td class="subprogram">User Revenues</td>
						
						  <td id="source_l_user_d"></td>
						  <td id="source_l_user_p"></td>
						
						</tr>
						
						<tr class="even">
						  <td class="subprogram">Non-user Revenues</td>
						  
						  <td id="source_l_nonuser_d"></td>
						  <td id="source_l_nonuser_p"></td>
						  
						</tr>
						
						<tr class="odd">
						
						  <td class="subprogram">Bonds</td>
						  
						  <td id="source_l_bonds_d"></td>
						  <td id="source_l_bonds_p"></td>
						  
						</tr>
						
						<tr class="even subtotal"> 
						
		 					<td class="subprogram">Local Subtotal</td>
		 					
		 					<td id="source_l_subtotal_d"></td>
		 					<td id="source_l_subtotal_p"></td>
		 				</tr> 
						
						
						<tr class="odd">
						
						  <td class="program">Federal Funding<a href="#footnote-1" class="footnote">1</a></td>
						  
						  <td id="source_fed_d"></td>
						  <td id="source_fed_p"></td>
						  
						</tr>
						
						<tr class="even total"> 
						
		 					<td class="program">Total</td>
		 					
		 					<td id="source_total_d"></td>
		 					<td id="source_total_p"></td>
		 				</tr> 
		 				
					</tbody>
				</table>
				
				
				<div id="spendingchart"></div>
				
				<h5 style="margin-top:20px;">Public Road Length by Jurisdiction, as of 2007</h5>
				
				<table id="miles_table">
					<tbody>
						<tr class="header-row">
						
						  <td>Jurisdiction</td>
						  
						  <td>State's Public Road Length</td>
						  <td>Share of State's Total Public Road Length (%)</td>
			
						</tr>
						
						<tr>
							<td class="program">State</td>
							<td id="mile_state_d"></td>
							<td id="mile_state_p"></td>						
						</tr>
						
						<tr>
							<td class="program">County</td>
							<td id="mile_county_d"></td>
							<td id="mile_county_p"></td>						
						</tr>
						
						<tr>
							<td class="program">City</td>
							<td id="mile_city_d"></td>
							<td id="mile_city_p"></td>						
						</tr>
						
						<tr>
							<td class="program">Federal</td>
							<td id="mile_federal_d"></td>
							<td id="mile_federal_p"></td>						
						</tr>
						
						<tr>
							<td class="program">Other</td>
							<td id="mile_other_d"></td>
							<td id="mile_other_p"></td>						
						</tr>
						
						<tr class="total">
							<td class="program">Total (All Jurisdictions)</td>
							<td id="mile_total_d"></td>
							<td id="mile_total_p"></td>						
						</tr>
						
						<tr class="">
							<td class="program">Federal-aid Eligible</td>
							<td id="mile_federal_aid_d"></td>
							<td id="mile_federal_aid_p"></td>						
						</tr>
						
						
						
					</tbody>
				</table>
			
			
			</div>
			
			<cite>Source: Subsidyscope analysis of data from the <a href="http://www.fhwa.dot.gov/policy/ohpi/hss/hsspubs.cfm">Federal Highway Administration’s (FHWA) Highway Statistics Publications</a>. See Tables Tables SF-1, LGF-1,  HM-10 and HM-15. All dollar estimates are adjusted to 2007 dollars using the <a href="http://enr.construction.com/economics/current_costs/">ENR Construction Cost Index</a>.</cite>
			<br/>
			<br/>
			<ol class="footnotes">

 					<li><a name="footnote-1"></a>Estimates of federal highway funding include federal receipts transferred to state and local governments. They may not include federal receipts drawn from or placed in reserves, or federal receipts and disbursements for highways that are not attributable to a single state. For more information about federal highway funding, see Table FA-5 compiled yearly by the Federal Highway Administration.</li>
			
				<li><a name="footnote-1"></a>Users of this data should be aware that FHWA’s summary tables may be created using data that is calculated at different times. In addition, some tables are updated by FHWA in the years after their release. For these reasons, summary tables may not always reflect the estimates available in other tables on the FHWA web site.</li>
			</ol>
			
				

			
        </div>
    </div>
</div>

{% endblock %}

