{% extends "subsidysort/sort_base.html" %}
{% load subsidysort_tags %}
{% load humanize %}
{% load media %}
{% block title %}{{ sector }}{% endblock %}

{% block content %}
<style>
th {cursor: pointer;}
</style>
<script language="javascript">

var sector_id = {{ sector.id }};
function addToTable( grants, program_id, program_name, program_number, scoping_comment){
    var html = '<tr id="'+program_number+'_row"><td><a href="/subsidysort/cfda/'+ program_id + '"><strong>' + program_number+ '</strong></a></td><td>'+ program_name +'</td><td style="text-align:right;">$'+grants+'</td><td>n/a</td><td>n/a</td><td>---</td><td><div id="comments_'+program_id+'">Comments: <span id="comments_'+program_id+'_span">' + scoping_comment+ '</span> <a href="#' + program_id +'" onclick="editComment(this, '+program_id+');return false;">[edit]</a><div style="display:none;" id="comments_' + program_id + '_edit"><textarea cols="40" rows="5" id="comments_'+program_id+'_textarea">'+ scoping_comment +'</textarea><br/><a href="#'+program_id+'" onclick="saveComment(this, '+ program_id + ', \'#comments_' + program_id + '\');return false;">[save]</a></div></div></td><td class="add_or_remove"><span><a href="#" onclick="includeProgram(this, '+ program_id +'); return false;">[include program]</a></span></td></tr> ';

    $(html).insertAfter("table#all_programs tr:first");
}
function removeProgram(that, program_id)
{
	$.post('/subsidysort/sector/'+ sector_id + '/delete/' + program_id + '/', function(data){
        $(that).parents("td.add_or_remove").html('<span><a href="#" onclick="includeProgram(this, '+program_id+');return false;">[include program]</a></span>');
	});
}

function includeProgram(that, program_id)
{
	$.post('/subsidysort/sector/'+ sector_id + '/add/' + program_id + '/', function(data){
        $(that).parents("td.add_or_remove").html('<span><em>Included <a href="#" onclick="removeProgram(this, '+program_id+');return false;">[remove program]</a></em></span>');
	});
		
}

function findProgram()
{
	var cfda =  $('#find_program_cfda').val();

	if(cfda != '')
	{
        if( $('#'+cfda.substr(0, 2) + '\\'+ cfda.substr(2) +'_row').length > 0){
            $('#find_program_results').html('<p>This program is already in the list below</p>');
        }
        else {
    		$.get('/subsidysort/sector/'+ sector_id + '/search/' + cfda + '/', function(data) {
	    		$('#find_program_results').html(data);
		    });
        }
	}
}

function editComment(that, id)
{
    var current = $(that).siblings('span').text(); 
    $(that).siblings('div').children('textarea').text(current).end().show();
    return false;
}

function saveComment(that, program_id, id)
{
	var comment = $(id + '_textarea').val();
	$(id + '_span').html(comment);
	
	$.post('/subsidysort/cfda/' + program_id + '/save/comment/', {comment: comment}, function(data) {
		$(id).show();
		$(id + '_edit').hide();
	});
	return false;
}


</script>

&laquo; <a href="/subsidysort/">Back to Sector List</a> | <a href="">Download USASpending Summary</a> | <a href="{% url subsidysort-sector-edit sector.id %}">Edit Sector Budget Function/Functional Index</a>

<p>&nbsp;</p>

<p>Add program by CFDA: <input id="find_program_cfda" type="text" size="5"/> <a href="#" onclick="findProgram();return false;">[find]</a></p>
<div id="find_program_results"></div>

<p><strong>Programs in Related Budget Functions and Functional Index:</strong></p>

{% if all_programs %}
<table id="all_programs">
    <thead>
    <tr>
    <th>CFDA #</th><th>Program Name</th><th>Grants (FY 05-10)</th><th>Budget Function or Functional Index?</th><th>Which Ones?</th><th>In sectors</th><th>comments</th><th>Add/Remove</th>
    </tr>
    </thead>
    <tbody>
	{% for program in data %}
        <tr id="{{program.0.program_number}}_row"><td>
            <a href="{% url subsidysort-cfda program.0.id %}"><strong>{{ program.0.program_number }}</strong></a></td>
            <td>{{ program.0.program_title }}</td>
            <td style="text-align:right;">
            ${{ program.0.get_recent_grants_summary|floatformat:0|intcomma }}
            </td>
            <td>{{ program.1 }}</td>
            <td>{{ program.2 }}</td>
            <td>
            {% for program_sector in program.0.sectors.all %}
                {% ifnotequal program_sector sector %}
                    <br/>Included in <a href="{% url subsidysort-sector program_sector.id %}">{{ program_sector.name }}</a>
                {% endifnotequal %}
            {% endfor %}
            </td>
            <td>
            <div id="comments_{{ program.0.id }}">
                Comments: <span id="comments_{{ program.0.id }}_span">{{ program.0.scoping_comment }}</span> <a href="#{{ program.0.id }}" onclick="editComment(this, '{{ program.0.id }}');return false;">[edit]</a>
                <div style="display:none;" id="comments_{{ program.0.id }}_edit">
                    <textarea cols="40" rows="5" id="comments_{{ program.0.id }}_textarea">{{ program.scoping_comment }}</textarea>
                    <br/>
                    <a href="#{{ program.0.id }}" onclick="saveComment(this, {{ program.0.id }}, '#comments_{{ program.0.id }}');return false;">[save]</a>
                </div>
            </div>
            </td>
            <td class="add_or_remove">
                {% ifinlist program.0 included_programs %}
                    <span><em>Included <a href="#" onclick="removeProgram(this, {{ program.0.id }});return false;">[remove program]</a></em></span>
                {% else %}
                    <span><a href="#" onclick="includeProgram(this, {{ program.0.id }});return false;">[include program]</a></span>
                {% endifinlist %}
            </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
"No Programs Selected"
{% endif %}

{% js "scripts/jquery.tablesorter.js " %}
<script type="text/javascript" charset="utf-8">
$("#all_programs").tablesorter({
    headers: {
        0: {sorter: 'currency'},
        2:{sorter:'currency'}
    }
});
</script>
{% endblock %}
