{% extends "subsidysort/sort_base.html" %}

{% block title %}{{ task.name }}{% endblock %}

{% block content %}

<p>{{ task.description }}</p>

{% if pending_items %}
<strong>Items pending review:</strong>
<ul>
	{% for item in pending_items  %}
		<li><a href="{% url subsidysort-vote item.id %}">{{ item.unique_id }} &mdash;  {{ item.name }}</a><br/></li>
	{% endfor %}
</ul>
{% endif %}

<p>&nbsp;</p>

{% if votes %}
<strong>Items already reviewed:</strong>
<ul>
	{% for vote in votes  %}
	
		<li><a href="{% url subsidysort-vote vote.item.id %}">{{ vote.item.unique_id }} &mdash;  {{ vote.item.name }}</a><br/>
		Subsidy: <strong>{{ vote.decision }}</strong><br/> Tag(s): <strong>{% for tag in vote.tags.all %}{{ tag.name }}, {% endfor %}</strong>
		<p>Comments: <strong>{{ vote.comments }}</strong></p>
		</li>
		
	{% endfor %}
</ul>
{% endif %}

{% endblock %}