{% load bailout_tags %}
<div id="search_results_bank_summary">
<h2>{% institution_name institution %}</h2>
<span class="address">{{ institution.city }}, {{ institution.state }}<br />
{% if institution.parent_institution %} held by {% institution_name institution.parent_institution %} {% endif %}
</span>

{% if institution.getTotalTARPFundsReceived %}
	{% if institution.getTARPFundsReceived %}
		<span class="tarp_received">TARP Funds Received: ${{ institution.getTARPFundsReceived|scale_number }}</span>
	{% endif %}
	{% if institution.getParentTARPFundsReceived %}
		<span class="tarp_received">TARP Funds Received by Parent Company: ${{ institution.getParentTARPFundsReceived|scale_number }}</span>
	{% endif %}
{% else %}
<span class="no_tarp">No TARP Funds Received.</span>
{% endif %}



{% if institution.tlgp_participant %}
<span class="tlgp">(Participating in TLGP)</span>
{% else %}
<span class="no_tlgp">(Not participating in TLGP)</span>
{% endif %}

</div>
