{% load bailout_tags %}

<script type="text/javascript">



function search_init()
{
	var lastSearch;

	$('#bankSearchNameInput').autocomplete('/projects/bailout/search/bank/', {
		width: 260,
		cacheLength: 1,
		selectFirst: false});
	
	function findValueCallback(event, data, formatted) {
		if (data)
		{
			lastSearch = $("#bankSearchNameInput").val();
			$.get('/projects/bailout/search/bank/summary/' + data[1] + '/', null, function(data)
			{
				$("#bankInfo").html(data);
				
			}, 'html');
		}
		else
		{
			$("#bankInfo").html('<div id="search_results_bank_summary"><h2>Bank Not Found</h2><p>Information regarding credit unions and savings and loans are not currently available through this search tool.</p></div>');
		}
	}
	
	$("#bankSearchNameInput").result(findValueCallback);
	
	$("#bankSearchNameInput").change(function() {
		
		if($("#bankSearchNameInput").val() == '')
		{
			$("#bankInfo").html('');
			lastSearch = '';
		}
		else if($("#bankSearchNameInput").val() != lastSearch)
			$("#bankSearchNameInput").search();
	});
	
	$("#bankSearchNameInput").blur(function() {
		
		if($("#bankSearchNameInput").val() == '')
		{
			$("#bankSearchNameInput").addClass('pre_input');
			$("#bankSearchNameInput").val('Enter company name');
			$("#bankInfo").html('');
			
			lastSearch = '';
		}
	});
	
	$("#bankSearchNameInput").focus(function() {
		if($("#bankSearchNameInput").hasClass('pre_input'))
		{
			$("#bankSearchNameInput").removeClass('pre_input');
			$("#bankSearchNameInput").val('');
		}
	});
	
	
}

$(document).ready(function(){
	search_init();
});	

</script>


<div id="tracker_box">
<div class="find_bank">
	<h3>Find My Bank</h3>
<p>Enter a bank or holding company name to learn how much TARP funding an institution has received or whether it is participating in an FDIC debt guarantee program (TLGP).</p>
	<div id="bankSearch" style="clear:left;"><input size="30" id="bankSearchNameInput" style="margin-left: 5px;" value="Enter company name" class="pre_input"/></div> 

	<div id="bankInfo"></div>
	</div>
</div>