{% extends "base.html" %}
{% load media %}

{% block content %}
<div class="container top_solid_box">&nbsp;</div>
<div class="container white">
	<div class="span-6">
			{% include "includes/bailout_left_nav.html" %}
	</div>

	<div class="span-13">
	<div class="full_padding">
			<h2 class="type_header">reference</h2>
			<h3 class="section_header">Glossary of Terms</h3>
<dl id="glossary">
	
<dt><a name="asset-backed-commercial-paper">Asset-backed commercial paper</a></dt>
<dd> A corporate debt due within a year, and backed by assets such as real estate, autos and other commercial assets. Asset-backed commercial paper is similar to a mortgage-backed security; both are packages of loans resold to other investors. However, asset-backed commercial paper includes assets other than home mortgages.</dd> 

<dt><a name="amlf">Asset-backed Commercial Paper Money Market Mutual Fund Liquidity Facility (AMLF)</a></dt>
<dd>The AMLF provides funding to banks and bank holding companies to purchase high-quality asset-backed commercial paper from money market mutual funds.</dd>

<dt><a name="bank-holding-company">Bank Holding Company (BHC)</a></dt>
<dd> A company that owns and/or controls one or more U.S. banks or one that owns, or has controlling interest in, one or more banks. A bank holding company may also own another bank holding company, which in turn owns or controls a bank; the company at the top of the ownership chain is called the top holder. </dd>

<dt><a name="call-option">Call option</a></dt>
<dd> An agreement that gives an investor the right (but not the obligation) to buy a stock, bond, commodity, or other instrument at a specified price within a specific time period. Call options give the holder the right to "call in" and buy an asset. The holder profits on a call when the underlying asset increases in price.</dd>

<dt><a name="certificates-of-deposit">Certificates of Deposit</a></dt>
<dd> A short-term deposit offered by banks and thrifts where depositors agree to keep their money in the account for a specified amount of time in exchange for a specified interest rate. Depositors face a penalty if money is withdrawn before the CD matures.</dd>

<dt><a name="commercial-paper">Commercial paper</a></dt>
<dd> Unsecured debt issued by a company or bank to cover short-term credit needs such as accounts receivable or inventory. The length of the debt can range from 2 to 270 days. Commercial paper can be discounted or interest-bearing. </dd>

<dt><a name="common-stock">Common Stock</a></dt>
<dd> Also called equity, is purchased, giving stockholders (shareholders) ownership and voting rights in a company, as well as entitlement to shares of the company’s profits through dividends and/or capital appreciation.</dd>	

<dt><a name="credit-default-swaps">Credit Default Swaps</a></dt>
<dd>A credit default swap is a type of insurance arrangement in which the buyer pays a premium at periodic intervals in exchange for a contingent payment in the event that a third party defaults. The size of the premium paid relative to the contingent payment generally increases with the likelihood of default.</dd>

<dt><a name="credit-extended-to-aig">Credit extended to AIG</a></dt>
<dd>In the fall of 2008, the Fed made two lines of credit available to AIG. The credit was intended to supply cash needed by AIG to compensate for a loss of liquidity due to devaluing assets. </dd>

<dt><a name="csv">CSV</a></dt>
<dd>Stands for comma separated values. A CSV is a computer file used for data tables that are in list form such as a financial spreadsheet. Each category is separated by commas and each line represents a row. CSVs help move such data between two different computer programs and can be opened in nearly all modern spreadsheet programs.</dd>

<dt><a name="currency-swaps">Currency Swaps</a></dt>
<dd>The Fed is contracting with 14 foreign central banks to make U.S. dollars available temporarily. After a set period of time the original amounts of the dollars will be exchanged for the foreign currency.</dd>

<dt><a name="daily-closing-price">Daily closing price</a></dt>
<dd> The price of the last transaction for a given stock or bond at the end of a daily trading session.</dd>

<dt><a name="deposit-insurance">Deposit insurance</a></dt>
<dd> A federal guarantee that each depositor at participating banks and thrifts will receive the total amount of their deposit up to a certain level if the financial institution becomes insolvent. (That level is currently $250,000, which is a temporary increase that took place in October 2008 from the regular guarantee amount of $100,000. Pending legislation would make the temporary increase in the deposit insurance limit to $250,000 permanent beyond 2009).</dd>

<dt><a name="dividends">Dividends</a></dt>
<dd> Earnings of a corporation that are distributed to stockholders, in proportion to the amount of stock owned, and usually paid on a quarterly basis.</dd>		

<dt><a name="eesa">EESA</a></dt>
<dd> <a href="http://www.treasury.gov/initiatives/eesa/">Emergency Economic Stabilization Act</a>.</dd>	

<dt><a name="equity">Equity</a></dt>
<dd> Ownership interest of shareholders in a corporation (also equity shares).</dd>		

<dt><a name="exercise-price">Exercise (or strike) price</a></dt>
<dd> The specified price on an option contract at which the contract may be exercised, where the call option buyer has the right to buy the stock - and a put option buyer has the right to sell the stock-at the exercise price.</dd>

<dt><a name="federal-agency-debt-securities">Federal agency debt securities</a></dt>
<dd>The Fed is purchasing up to $200 billion in debt issued by Fannie Mae, Freddie Mac and the Federal Home Loan Banks</dd>

<dt><a name="fips">Federal Information Processing Standard (FIPS)</a></dt>
<dd>A set of standards developed by the National Institute of Standards and Technology for encoding government data. Most commonly known for its numeric codes defining U.S. geographic locations (e.g. states, counties and cities).</dd>   

<dt><a name="insolvent">Insolvent</a></dt>
<dd> A firm whose liabilities exceed its assets.</dd>

<dt><a name="interest-rates">Interest rates</a></dt>
<dd> A rate charged to a borrower for the use of loaned money.</dd> 

<dt><a name="in-the-money-warrant">In-the-Money Warrant</a></dt>
<dd> In-the-money means that the current stock price is above the exercise (or strike) price of the warrant. (See also, Out-of-the-Money definition)</dd>

<dt><a name="loan">Loan</strong></a></dt>
<dd>A sum of money given from one party to another for use over a period of time. The money is paid back according to terms agreed upon by both parties, including the specified interest rates and the timeframe over which the loan will be repaid.</dd>

<dt><a name="loan-guarantee">Loan guarantee</a></dt>
<dd> A commitment on the part of the guaranteeing agency or enterprise to pay off a loan if the borrower defaults.</dd>

<dt><a name="maiden-lane-i">Maiden Lane LLC</a></dt>
<dd>The Fed created Maiden Lane LLC and extended a $29 billion credit line to the LLC for JPMorgan Chase to acquire certain assets of Bear Stearns. The LLC will manage those assets to maximize the likelihood that the investment is repaid.</dd>

<dt><a name="maiden-lane-ii">Maiden Lane II LLC</a></dt>
<dd>The Fed created Maiden Lane II to purchase residential mortgage-backed securities from AIG.</dd>

<dt><a name="maiden-lane-iii">Maiden Lane III LLC</a></dt>
<dd>The Fed created Maiden Lane III to purchase multi-sector collateralized debt obligations on which AIG had written credit default swap contracts.</dd>

<dt><a name="money-market-mutual-funds">Money-Market Mutual Funds</a></dt>
<dd>  An open-end mutual fund which invests only in money markets. Such funds invest in short term (one day to one year) debt such as Treasury bills, certificates of deposit, and commercial paper. The primary goal is the preservation of principal with modest dividends. Most deposits are not FDIC insured.</dd>

<dt><a name="mortgage-backed-securities">Mortgage-Backed Securities (MBS)</a></dt>
<dd> Debt obligations that represent claims to the cash flows from pools of mortgage loans, most commonly on residential property. Mortgage loans are purchased from banks, mortgage companies, and other originators and then assembled into pools by a governmental, quasi-governmental, or private entity. The entity then issues securities that represent claims on the principal and interest payments made by borrowers on the loans in the pool, a process known as securitization.</dd>

<dt><a name="newly-issued-securities">Newly issued securities</a></dt>
<dd> Stocks or bonds publicly offered for the first time in an Initial Public Offering, or an additional issuance of stocks or bonds by a public company.</dd>

<dt><a name="non-interest-bearing-accounts">Non-interest-bearing accounts</a></dt>
<dd> Accounts that do not earn interest.</dd>

<dt><a name="out-of-the-money-warrant">Out-of-the-money Warrant</a></dt>
<dd> Out-of-the-money means that the current stock price is below the exercise (or strike) price. (See also, In-the-Money definition)</dd>

<dt><a name="preferred-stock">Preferred Stock</a></dt>
<dd> refers to shares of stock or equity in a company that provides a specific dividend to be paid before dividends are paid to common stockholders, and preferred stock shares take precedence over common stock shares if the company liquidates. While preferred stockholders typically receive fixed dividends, they do not usually have voting rights in the company.</dd>

<dt><a name="primary-dealer-credit-facility">Primary Dealer Credit Facility</a></dt>
<dd>The Fed issues one-day loans to the 16 financial institutions (primary dealers) that trade directly with the Fed in exchange for eligible collateral.</dd>

<dt><a name="put-option">Put option</a></dt>
<dd> An option contract giving the owner the right, but not the obligation, to sell a specified amount of an underlying security at a specified price within a specified time. This is the opposite of a call option, which gives the holder the right to buy shares. A put becomes more valuable as the price of the underlying stock depreciates relative to the strike price.</dd>    

<dt><a name="senior-unsecured-debt">Senior unsecured debt</a></dt>
<dd> Unsecured debt is debt that has no collateral, Senior unsecured debt ranks ahead of any unsecured debt in the right of repayment in the event of default.</dd>

<dt><a name="stock-price">Stock price</a></dt>
<dd> Also share price, is the price of a single share of a company's stock, the ownership of which makes the possessor a shareholder of the company.</dd>

<dt><a name="strike-price">Strike price</a></dt>
<dd> See exercise price.</dd> 

<dt><a name="stock-option">Stock option</a></dt>
<dd> An option in which the holder has the right to buy or sell its stock at a specified price by a specific date.</dd> 

<dt><a name="subsidy-rate">Subsidy rate</a></dt>
<dd> In the case of the financial bailout of banks, the ratio of the subsidy to the initial disbursement of government funds. The subsidy rate shows the share of the disbursement that reflects a true subsidy cost to the government after the return on the investment is taken into account.</dd>

<dt><a name="ssfi">Systemically Significant Failing Institution (SSFI)</a></dt>
<dd>  In determining whether an institution is an SSFI, Treasury considers: 1) the extent to which the failure could threaten the viability of its creditors and counterparties; 2) The number and size of financial institutions that are seen by investors or counterparties as similarly situated to the failing institution, or that would otherwise be likely to experience indirect contagion effects from the failure; 3) Whether the institution is sufficiently important to the nation's economy that a failure would cause major disruptions to credit markets or payments and settlement systems; or 4) The extent of the institution's ability to access alternative sources of capital and liquidity.</dd>

<dt><a name="talf">TALF</a></dt>
<dd>  <a href="http://www.treasury.gov/initiatives/eesa/docs/CBLI-Investment-Program-Guidelines.pdf">Term Asset-backed Securities Loan Facility</a> is a Federal Reserve loan program that is intended to assist the credit markets in accommodating the credit needs of consumers and small businesses by facilitating the issuance of asset-backed securities (ABS) and improving the market conditions for ABS more generally. </dd>

<dt><a name="tarp">TARP</a></dt>
<dd> <a href="http://www.treasury.gov/initiatives/eesa/program-descriptions/">Troubled Asset Relief Program</a>.</dd>	

<dt><a name="tslf">Term Securities Lending Facility (TSLF)</a></dt>
<dd>Created in March 2008, the TSLF lends Fed-held Treasury securities in exchange for other types of securities held by the 16 financial institutions (known as primary dealers) that trade directly with the Fed. The maximum lending amount under this program is $200 billion.</dd>

<dt><a name="troubled-assets">Troubled assets</a></dt>
<dd>  In relation to TARP, troubled assets are defined as any residential or commercial mortgages - or any stocks and bonds, debt or other instruments based on such mortgages - that originated or were issued on or before March 14, 2008, the purchase of which the Treasury Secretary determines promotes financial market stability. The term can also apply to any other financial instrument that the Secretary, after consulting with the Federal Reserve Chair, determines the purchase of which is necessary to promote financial market stability, but only after such determination is given in writing to appropriate Congressional committees.</dd> 

<dt><a name="warrants">Warrants</a></dt>
<dd> Options to buy stock (equity) at a specific price within a certain time frame. In this case, the specific terms will be agreed upon between Treasury and the respective bank.</dd>

</dl>


		




	


<p><em><strong>Sources</strong>: Federal Reserve, Special Inspector General for TARP, Congressional Budget Office, <a href="http://investorwords.com">investorwords.com</a>, <a href="http://investopedia.com">investopedia.com</a>, <a href="http://businessdictioanry.com">businessdictioanry.com</a>, <a href="http://nolo.com">nolo.com</a>, <a href="http://teachmefinance.com">teachmefinance.com</a>, <a href="http://trading-glossary.com">trading-glossary.com</a>, <a href="http://useconomy.about.com">useconomy.about.com</a></em></p>

		
		
		
	</div>
	</div>

	<div class="span-5 last">
			<div>&nbsp;</div>
	</div>





</div> <!--ends container-->
{% endblock %}