{% extends "base_tarp.html" %}
{% load bailout_tags %}
{% load media %}


{% block additional_css %}
	{% css "ui.theme.css" %}
{% endblock %}

{% block additional_js %}

	{% js "jquery.autocomplete.js" %}
	
	{% js "swfobject.js" %}
	
{% endblock %}

{% block content %}

<script type="text/javascript">

	

$(document).ready(function(){
	swfobject.embedSWF('{% media_url %}/scripts/MapVis.swf', 'map-container', 800, 800, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', {}, {wmode:'transparent'});
	
	$('#tarpFilterInput').autocomplete('/projects/bailout/tarp/map/filter/institution/', {
		width: 260,
		selectFirst: true});
	
	function findValueCallback(event, data, formatted) {
		if (data)
		{
			if(this != false)
			{
				var show = {}
				
				var id = data[1];
				
				showBankShare(id);
			}
			else
			{	
			
			}
		
		}
		else
		{	
	
		}
	}
	
	
	$("#tarpFilterInput").result(function(event, data, formatted) {
		if (data)
		{
			if(this != false)
			{
				var show = {}
				
				var id = data[1];
				
				showBankShare(id, $('#tarpFilterInput').val());
				
			}
			else
			{	

			}
		
		}

	});
	
	$("select[@name='dataType']").change(
		function()
		{
			if ($("select[@name='dataType']").val() == 'branches')
			{	
				showBranches();
			}
			else if ($("select[@name='dataType']").val() == 'deposits')
			{
				showDeposits();
			}
			
		});
	
	$("input[@name='filterType']").change(
		function()
		{
			if ($("input[@name='filterType']:checked").val() == 'all')
			{
				$(".group").toggleClass("group_vert");
				$('#tarpFilterInput').val('');
				$('#tarpFilterInput').attr("disabled", true);
				
				showTARPShare(); 
			}
			else if ($("input[@name='filterType']:checked").val() == 'filter')
			{
				$('#tarpFilterInput').attr("disabled", false);
				showBankShare(-1);
			}
			$(this).blur();
		});
	$("input[@value='all']").attr('checked','checked');
	$("select[@name='dataType']").val('deposits');
	$('#tarpFilterInput').val('');
	$('#tarpFilterInput').attr("disabled", true); 
	
	
});

function showBankShare(bank_id, bank_name)
{
	var flex = null;
	flex = getFlexMovie("map-container");
	if((flex!=null) && (flex.loadBankShare!=null))
	    flex.loadBankShare(bank_id, bank_name);	
}

function showTARPShare()
{
	var flex = null;
	flex = getFlexMovie("map-container");
	if((flex!=null) && (flex.loadTARPShare!=null))
	    flex.loadTARPShare();	
}


function showBranches()
{
	var flex = null;
	flex = getFlexMovie("map-container");
	if((flex!=null) && (flex.showBranches!=null))
	    flex.showBranches();	
}

function showDeposits()
{
	var flex = null;
	flex = getFlexMovie("map-container");
	if((flex!=null) && (flex.showDeposits!=null))
	    flex.showDeposits();	
}


function getFlexMovie(movieName) {
    if (navigator.appName.indexOf("Microsoft") != -1) {
        return window[movieName]
    }
    else {
        return document[movieName]
    }
}




</script>

<div class="container top_solid_box">&nbsp;</div>
	<div class="container white">
	
		<div class="span-5">
				{% include "includes/bailout_left_nav.html" %}
		</div>
	
		
		<div class="span-15">
			
			<div class="tlr_padding">
				<h2 class="type_header">Database</h2>
				<h3 class="section_header">Methods for Describing Geographic Impact of the Troubled Asset Relief Program (TARP)</h3>

				<p>There is significant interest in understanding the geography of the various bailout programs. With large sums of money being injected into financial institutions across the country there is desire to ensure that the money is being allocated fairly. This is a well-founded concern, both in terms of ensuring equitable distribution of the intended stabilization measures as well as the subsidies being received by the financial industry. There have been a number of attempts at such analysis, including the recent launch of the Treasury Department's Local Impact map (link to http://financialstability.gov/impact/index.html). However, these attempts have largely failed to recognize the geographic complexity of the financial industry and for the most part do not paint a useful picture of actual funds distribution. Subsidyscope examines the current bailout mapping efforts and provides examples and data for several alternative methods. </p> 
				<p>Most mapping efforts have focused on the TARP Capital Purchase Program (CPP) both because of the program's size and the transparency of the fund allocations. The CPP allocation information provided by Treasury also includes the headquarters locations for the recipient institutions. While this piece of information is an attractive and readily accessible geographic indicator, it is of questionable utility given the wide reach of many financial institutions. Unfortunately, many of the available maps rely solely on this indicator, including Treasury's Local Impact map.</p> 
				<p>An examination of the Treasury map shows the shortcomings of this method. States with large financial centers are shown receiving a disproportionate share of CPP funds while states without a significant banking presence are shown receiving little or no funds. For example, the entire state of Arizona is shown as having received only $2.5 million in CPP funds; Montana received nothing.  The lack of bank headquarters in these states may indicate some disproportionate impact under CPP; however, the high degree of disparity shown in this map is suspect.  In reality, banks that have received TARP funds &mdash; although headquartered in other states &mdash; do engage in significant business in Arizona and Montana, a relationship not reflected in this map.  As a result, this map and others using headquarters locations as an impact metric present a misleading representation of CPP distribution.<sup>1</sup></p> 
				<p>Overcoming the limitations of existing maps is challenging given the complexity of the financial industry; no solution can perfectly capture the flows of money provided by the bailout. However, Subsidyscope proposes an alternative methodology to help illustrate the geographic distribution of banking activity for a given institution. While imperfect, this metric may provide a more useful picture of the impact of bailout funds than the location of the institution's headquarters.</p> 
				<p>By examining existing data sets showing the geography of bank branch locations, deposits and lending activity we create three metrics for measuring the geography of banking activity. These metrics allow us to move beyond the location of a bank's headquarters and offer a means for measuring the share of activity for any given bank within a specific location. We use the county (or county equivalent) as the core unit of geography though the underlying data could be interpreted at other levels of specificity (e.g. state or census tract). We also combine data for all organizations within a given ownership hierarchy such that the geography of subsidiary banking activity is reflected in the data for bank holding companies.</p>
				<p>In order to calculate TARP impact using bank branches and deposits we collected a complete copy of the Federal Deposit Insurance Corporation's Share of Deposits database (as of June 2008). This database tracks branch locations and deposits for all FDIC member banks as well as institutions regulated by the Office of Thrift.  Using our derived data set, the share of activity for a given location can be viewed on an institution-by-institution basis or in aggregate for all TARP recipients. As might be expected, there is a high degree of correlation between branch locations and deposit shares; however, we provide both metrics for completeness.</p>
				<p>Similarly, we use home loan origination data from the Federal Financial Institutions Examination Council's Home Mortgage Disclosure Act (HMDA) data set from 2007 to track lending activity for a given institution. This data is merged using the Federal Reserve's Organizational Hierarchy database for HMDA reporting institutions.</p>
				<p>These data sets provide a means, although imperfect, for understanding the actual geography of impact for given institutions. Each shows a slightly different picture of an institution's activity and allows users to better understand the geographic complexity of the financial industry and better assess the distribution of TARP funds. </p> 


				<p><sup>1</sup>It is also worth noting that the Treasury map suffers from data quality problems in addition to the methodological concerns described above. As of April 17, 2009, the map failed to reflect the full list of CPP transactions, including a $15 billion transaction for Bank of America issued on October 28, 2008.  As a result, the value shown for North Carolina is artificially low, showing a total for CPP funds received of $13.6 billion instead of the correct figure of $28.6 billion as of the date viewed.<p>
			</div>

			
			<div class="span-4 last">&nbsp;</div>

	</div>
	<div class="span-24">
		<div class="lr_padding">
			<div id="table-filter" style="clear:left; margin: 25px;">
			
			<p><input type="radio" name="filterType" value="all" checked/> Show all TARP Recipients</p>
			<p><input type="radio" name="filterType" value="filter"/> Filter by TARP Recipient: <input size="30" id="tarpFilterInput"/></p>
			
			
			View share of: <select name="dataType">
				<option value="branches">Branches</option>
				<option value="deposits">Deposits</option>
				<option value="lending">Lending (2007 HMDA)</option>
			</select>
			
			</div> 
	
			
			<div id="map-container"><div id="tarpBubbleVis" style="text-align:center;">
					<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>
					
					<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>
				
				</div>
			</div>
			
			
		</div>
	</div>
</div>
			
{% endblock %}