{% extends "base_tarp.html" %}
{% load humanize %}
{% load bailout_tags %}
{% load media %}

{% block additional_css %}
	{% css "tarp-visualization.css" %}
{% endblock %}

{% block additional_js %}
	{% js "jquery.scrollTo-1.4.0-min.js" %}
	{% js "jquery.localscroll-1.2.6-min.js" %}
	{% js "jquery.serialScroll-1.2.1-min.js" %}
	{% js "raphael-packed.js" %}			
	{% js "jquery.tablesorter.js" %}
	{# avoid using js tag for this last one -- it needs to be served locally, not rewritten to use S3 #}
	<script type="text/javascript" src="{% url tarp-javascript %}"></script>
{% endblock %}

{% block content %}
<div class="container top_solid_box">&nbsp;</div>
<div class="container white">

	<div class="span-5">
			{% include "includes/bailout_left_nav.html" %}
	</div>

	
<div class="span-15">
	<div class="tlr_padding">
	<h2 class="type_header">Database</h2>
	<h3 class="section_header">Transactions under the Troubled Asset Relief Program (TARP)</h3>
	
	<p>This page is your gateway to information on the TARP transactions. Subsidyscope has gathered data on each transaction under the TARP program. The following table shows which companies received funds, how much they received, and when they received it.  Detailed data on individual transactions can be downloaded into a spreadsheet, and the visualization provides a quick view of the transactions over time.</p>

	<p>Although the government has provided a few companies with <a href="{% url glossary %}">loans</a> under TARP, nearly all the transactions have been purchases of <a href="{% url glossary %}">equity</a> stakes in those companies.  In exchange for funding from TARP, the government usually receives <a href="{% url glossary %}">preferred stock</a> and <a href="{% url glossary %}">warrants</a> from the company.</p>

	<p>The amount of funding provided through a TARP transaction can be found in the "Prices Paid" column of the table.  That is the official term used by the Treasury Department for its acquisition of preferred stock, warrants, loans, and other financial claims on companies receiving funds.  The table also includes information on the size of those companies, as measured by their assets.</p>

	<p>The amount of funding provided a company is a crucial piece of information needed to calculate the subsidies provided through TARP.  But it is not a measure of the subsidy itself.  To calculate the subsidies, the market value of the preferred stock, warrants, and loans must be deducted from the funding provided to the institution.  Although information on the subsidies to individual companies through TARP is still quite limited, some data can be found <a href="{% url tarp-subsidies %}">here</a>.</p>
</div>

	<div class="span-4 last">&nbsp;</div>

</div>
<div class="span-24">
	<div class="lr_padding">
	
	
	
	<a id="csv-link" href="{% url bailout.views.tarp_csv %}">Download as CSV</a>
	<h2 class="type_header" id="graph-header">Cumulative Funding</h2>
	
	<div id="raphael-container"><div id="raphael"></div></div>

	<div class="gray-label">transaction date &rarr;</div>

	<div class="gray-label">click on column headings to sort</div>
	
	<table class="tarp-table" id="tarp-header-table">
	<thead>
	<tr>
		<th class="date">Date</th>
		<th class="recipient">Recipient</th>
		<th class="price">Price Paid</th>
		<th class="assets">Company Assets&nbsp;*</th>
		<th class="city">City</th>
		<th class="state">State</th>
	</tr>
	</thead>
	</table>

	<div id="tarp-table-container">	
	<table class="tarp-table" id="tarp-data-table">
	<tbody>
	{% for t in transaction_list %}

	<tr id="row-{{ t.id }}" class="{% cycle 'even' 'odd' %}">
		<td class="date">{{ t.date }}<!-- ordinal: {{ forloop.counter }} --></td>
		<td class="recipient">{% institution_name t.institution %}</td>
		<td class="price">${{ t.price_paid|divide:1|floatformat:"-0"|intcomma}}</td>
		<td class="assets">{% if t.institution.total_assets_fixed %}${{ t.institution.total_assets_fixed|divide:1|floatformat:"-0"|intcomma }} {% else %}<em>not confirmed</em>{% endif %}</td>
		<td class="city">{{ t.institution.city }}</td>
		<td class="state">{{ t.institution.state }}</td>
	</tr>

	{% endfor %}
	</tbody>
	</table>
	</div>	
	
	<div class="footnotes">
	<p>Data Sources: Information on the TARP transactions is from the <a href="http://www.treasury.gov/initiatives/eesa/tranche-reports.shtml">Treasury Web site</a>. Asset information, with a few exceptions, came from the <a href="http://www2.fdic.gov/idasp/main.asp">Federal Deposit Insurance Corporation</a>; for institutions not found in the FDIC database, asset information from SNL Interactive, Google Finance or Securities and Exchange Commission filings (company 10Q reports) was used.</p>
		
	<p><em><a name="footnote-1" id="footnote-1"></a>*&nbsp;All asset values are for the quarter ending December 31, 2008 (retreived from the FDIC web site on March 13, 2009).</em></p>
	</div>

		</div>
	</div>
</div>

{% endblock %}