{% extends "base_tarp.html" %}
{% load bailout_tags %}
{% load media %}


{% block additional_css %}
	{% css "ui.theme.css" %}
{% endblock %}

{% block additional_js %}

	{% js "jquery.autocomplete.js" %}
	
	{% js "swfobject.js" %}
	
{% endblock %}

{% block content %}

<script type="text/javascript">

	

$(document).ready(function(){
	swfobject.embedSWF('{% media_url %}/scripts/MapVis.swf', 'mapVis', 800, 650, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', {}, {wmode:'transparent'});
	
	$('#tarpFilterInput').autocomplete('/projects/bailout/tarp/map/filter/institution/', {
		width: 260,
		selectFirst: true});
	
	function findValueCallback(event, data, formatted) {
		if (data)
		{
			if(this != false)
			{
				var show = {}
				
				var id = data[1];
				
				showBankShare(id);
			}
			else
			{	
			
			}
		
		}
		else
		{	
	
		}
	}
	
	
	$("#tarpFilterInput").result(function(event, data, formatted) {
		if (data)
		{
			if(this != false)
			{
				var show = {}
				
				var id = data[1];
				
				showBankShare(id, $('#tarpFilterInput').val());
				
			}
			else
			{	

			}
		
		}

	});
	
	$("select[@name='dataType']").change(
		function()
		{
			if ($("select[@name='dataType']").val() == 'branches')
			{	
				showBranches();
			}
			else if ($("select[@name='dataType']").val() == 'deposits')
			{
				showDeposits();
			}
			else if ($("select[@name='dataType']").val() == 'lending')
			{
				showLending();
			}
			
		});
	
	$("input[@name='filterType']").click(
		function()
		{
			if ($("input[@name='filterType']:checked").val() == 'all')
			{
				$(".group").toggleClass("group_vert");
				$('#tarpFilterInput').val('');
				$('#tarpFilterInput').hide();
				
				showTARPShare(); 
			}
			else if ($("input[@name='filterType']:checked").val() == 'filter')
			{
				$('#tarpFilterInput').show();
				showBankShare(-1);
			}
			$(this).blur();
		});
	$("input[@value='all']").attr('checked','checked');
	$("select[@name='dataType']").val('deposits');
	$('#tarpFilterInput').val('');
	$('#tarpFilterInput').hide();
	
	
});

function showBankShare(bank_id, bank_name)
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.loadBankShare!=null))
	    flex.loadBankShare(bank_id, bank_name);	
}

function showTARPShare()
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.loadTARPShare!=null))
	    flex.loadTARPShare();	
}


function showBranches()
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.showBranches!=null))
	    flex.showBranches();	
}

function showDeposits()
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.showDeposits!=null))
	    flex.showDeposits();	
}

function showLending()
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.showLending!=null))
	    flex.showLending();	
}

function getFlexMovie(movieName) {
    if (navigator.appName.indexOf("Microsoft") != -1) {
        return window[movieName]
    }
    else {
        return document[movieName]
    }
}




</script>

<div class="container top_solid_box">&nbsp;</div>
	<div class="container white">
	
		<div class="span-5">
				{% include "includes/bailout_left_nav.html" %}
		</div>
	
		
		<div class="span-15">
			
			<div class="tlr_padding">
				<h2 class="type_header">Database</h2>
				<h3 class="section_header">Mapping Geographic Impact of the Troubled Asset Relief Program (TARP)</h3>

				<p>There is keen public interest in the geography of the financial crisis and the resulting bailout programs. With large sums of money being injected into financial institutions across the country, there is a desire to ensure that the money is being allocated fairly and effectively. There is also an understanding that not all banks are created equally: Some shoulder more responsibility than others, having engaged in lending and investment practices that helped lead to the crisis. And, though not all communities have the same banks, the nation as a whole is responsible for correcting the problems that have emerged. Mapping which communities have received TARP funds can provide a fresh perspective on the crisis and the bailout.</p> 
		
			</div>
		</div>
			
		<div class="span-4 last">&nbsp;</div>
			
		
		<div class="span-24">
			
			<div class="lr_padding">
				<div id="map-container"  style="height: 850px; padding: 0 20px; margin: 25px 0; border: 1px solid #D3D3D3;">
				
					<h4>Banking Activity for TARP CPP Recipients</h4>
				
					<div id="table-filter" style="clear:left; margin-left: 25px; float: left;">
				
						<p><input type="radio" name="filterType" value="all" checked/> Show all TARP Recipients</p>
						<p><input type="radio" name="filterType" value="filter"/> Filter by TARP Recipient: <input size="30" id="tarpFilterInput"/></p>
					
					</div>	
					
					<div style="float: right;  margin-right: 25px;">
						View share of: <select name="dataType">
							<option value="branches">Branches</option>
							<option value="deposits">Deposits</option>
							<option value="lending">Lending (2007 HMDA)</option>
						</select>
					</div>
					
					<br clear="all"/> 
					
					<div style="margin-left: 50px;">
						<div id="mapVis" >
							<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>
							
							<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>
						
						</div>
					</div>
					
					<br clear="all"/>
					
					<div class="gray-label">Mouse over counties to see the activity for that area.</div>
					
				</div>
			</div>
		</div>

		<div class="span-5 last">&nbsp;</div>

		<div class="span-15">
			
			<div class="tlr_padding">
		
		
				<p>There have been a number of attempts at geographic analysis, including the recent launch of the Treasury Department's <a href="http://financialstability.gov/impact/index.html">Local Impact map</a>. However, these attempts have largely failed to recognize the complexity of the financial industry and for the most part do not paint a useful picture of the actual geography of funds distribution. Subsidyscope examines the current bailout mapping efforts and provides examples and data for several alternative methods.</p> 
				<p>Most mapping efforts have focused on the TARP Capital Purchase Program (CPP) both because of the program's size and the transparency of the funds allocations. The CPP information provided by Treasury also includes the headquarters locations for the recipient institutions. While this information is an attractive and readily accessible geographic indicator, it is of questionable utility given the wide geographic reach of many financial institutions. Financial institutions affect communities well outside of the state in which their headquarters is located. Unfortunately, many of the available maps rely solely on this indicator, including Treasury's Local Impact map.</p> 
				<p>An examination of the Treasury map demonstrates the shortcomings of this approach. States with large financial centers are shown receiving a majority share of CPP funds while states without a significant banking presence receive little or no funds. For example, the entire state of Arizona is shown as having received only $2.5 million in CPP funds; Montana received nothing. The lack of bank headquarters in these states may indicate an unequal distribution of funds under CPP; however, the high degree of disparity shown in this map is suspect. In reality, banks that have received TARP funds &mdash; although headquartered in other states &mdash; do engage in significant business in Arizona and Montana, a relationship not reflected in this map. As a result, this map and others using headquarters locations as an impact metric present a misleading representation of CPP funds distribution.<sup>1</sup></p> 
				<p>Overcoming the limitations of existing maps is challenging given the complexity of the financial industry; no solution can perfectly capture the flows of money provided by the bailout. However, Subsidyscope proposes an alternative methodology to help illustrate the geographic distribution of banking activity for a given institution.</p>
				<p>By examining existing data sets showing the geography of bank branch locations, deposits and lending activity we create three different metrics for measuring the geography of banking activity. These metrics offer a means for measuring the share of activity for a given bank within a specific region. We use the county (or county equivalent) as the core unit of geography though the underlying data could be interpreted at other levels of specificity (e.g. state or census tract). We also combine data for all organizations within a given ownership hierarchy such that the geography of subsidiary banking activity is reflected in the data for bank holding companies.</p>
				<p>In order to calculate TARP impact using bank branches and deposits we collected a complete copy of the Federal Deposit Insurance Corporation's Share of Deposits database (as of June 2008). This database tracks branch locations and deposits for all FDIC member banks as well as institutions regulated by the Office of Thrift Supervision. From this data the share of activity for a given location on an institution-by-institution basis or in aggregate for all TARP recipients is determined. As might be expected, there is a strong correlation between branch locations and deposit shares; however, we provide both metrics for completeness.</p>
				<p>Similarly, we use data on home loan originations from the Federal Financial Institutions Examination Council's Home Mortgage Disclosure Act (HMDA) database from 2007 to track lending activity for a given institution. This data is merged using the Federal Reserve's Organizational Hierarchy database for HMDA reporting institutions.</p>


				<div class="footnotes" style="border-top: 1px solid #D3D3D3; margin-top: 50px; padding-top: 10px;">
					<p><sup>1</sup>It is also worth noting that the Treasury map suffers from data quality problems in addition to the methodological concerns described above. As of April 17, 2009, the map failed to reflect the full list of CPP transactions, including a $15 billion transaction for Bank of America issued on October 28, 2008.  As a result, the value shown for North Carolina is artificially low, showing a total for CPP funds received of $13.6 billion instead of the correct figure of $28.6 billion as of the date viewed.<p>
				</div>
			</div>

			
			<div class="span-4 last">&nbsp;</div>
	</div>
	
	
	
</div>
			
{% endblock %}