{% extends "base_tarp.html" %}
{% load humanize %}
{% load bailout_tags %}
{% load media %}

{% block additional_css %}
	{% css "tarp-visualization.css" %}
{% endblock %}

{% block additional_js %}		
	{% js "jquery.swfobject.js" %}
{% endblock %}

{% block content %}
<div class="container main_container">
	{% include "includes/bailout_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h2>Treasury</h2>
			<h3>Transactions under the Troubled Asset Relief Program (TARP)</h3>		
		</div>
		
		<div id="content_area">
	
	<p>This page is your gateway to information on the TARP transactions. Subsidyscope has gathered data on each transaction under the TARP program. The following table shows which companies received funds, how much they received, and when they received it.  Detailed data on individual transactions can be downloaded into a spreadsheet, and the visualization provides a quick view of the transactions over time.</p>

	<p>Although the government has provided a few companies with <a href="{% url glossary %}">loans</a> under TARP, nearly all the transactions have been purchases of <a href="{% url glossary %}">equity</a> stakes in those companies.  In exchange for funding from TARP, the government usually receives <a href="{% url glossary %}">preferred stock</a> and <a href="{% url glossary %}">warrants</a> from the company.</p>

	<p>The amount of funding provided through a TARP transaction can be found in the "Prices Paid" column of the table.  That is the official term used by the Treasury Department for its acquisition of preferred stock, warrants, loans, and other financial claims on companies receiving funds.  The table also includes information on the size of those companies, as measured by their assets.</p>

	<p>The amount of funding provided a company is a crucial piece of information needed to calculate the subsidies provided through TARP.  But it is not a measure of the subsidy itself.  To calculate the subsidies, the market value of the preferred stock, warrants, and loans must be deducted from the funding provided to the institution.  Although information on the subsidies to individual companies through TARP is still quite limited, some data can be found <a href="{% url tarp-subsidies %}">here</a>.</p>
	
	</div>


<div class="non_content">
	
	<h2 style="margin-top: 50px" class="section_header">TARP Recipients</h2>
							

	<div class="flash-container" id="tarpVisDiv"></div>
	
	<script type="text/javascript">
				
		$('#tarpVisDiv').flash({   
					
						swf: '{% media_url %}/scripts/TARPBubbles.swf',   
						
						id: 'tarpBubbleVis',
						height: 750,
						width: 750,
						allowScriptAccess: 'always',
						wmode:'transparent',
						bgcolor:'#ffffff'
					}); 
	
	</script>
	
	<div class="footnotes">
		<p>Data Sources: Information on the TARP transactions is from the <a href="http://www.treasury.gov/initiatives/eesa/tranche-reports.shtml">Treasury Web site</a>. Asset information, with a few exceptions, came from the <a href="http://www2.fdic.gov/idasp/main.asp">Federal Deposit Insurance Corporation</a>; for institutions not found in the FDIC database, asset information from SNL Interactive, Google Finance or Securities and Exchange Commission filings (company 10Q reports) was used.</p>
		
		<p><em><a name="footnote-1" id="footnote-1"></a>*&nbsp;All asset values are as of September 30, 2008.</em></p>
	</div>
	
	
		</div>
	</div>	
</div>


{% endblock %}