{% extends "base_tarp.html" %}
{% load bailout_tags %}
{% load media %}


{% block additional_css %}
	{% css "ui.theme.css" %}
{% endblock %}

{% block additional_js %}

	{% js "jquery.autocomplete.js" %}
	
	{% js "swfobject.js" %}
	
{% endblock %}

{% block content %}

<script type="text/javascript">

	

$(document).ready(function(){
	swfobject.embedSWF('{% media_url %}/scripts/MapVis.swf?v=4', 'mapVis', 800, 650, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', {}, {wmode:'transparent'});
	
	$('#tarpFilterInput').autocomplete('/projects/bailout/tarp/map/filter/institution/', {
		width: 260,
		selectFirst: true});
	
	function findValueCallback(event, data, formatted) {
		if (data)
		{
			if(this != false)
			{
				var show = {}
				
				var id = data[1];
				
				showBankShare(id);
			}
			else
			{	
			
			}
		
		}
		else
		{	
	
		}
	}
	
	
	$("#tarpFilterInput").result(function(event, data, formatted) {
		if (data)
		{
			if(this != false)
			{
				var show = {}
				
				var id = data[1];
				
				showBankShare(id, $('#tarpFilterInput').val());
				
			}
			else
			{	

			}
		
		}

	});
	
	$("#tarpFilterInput").blur(function() {
		
		if($("#tarpFilterInput").val() == '')
		{
			$("#tarpFilterInput").addClass('pre_input');
			$("#tarpFilterInput").val('Enter company name');
			
			lastSearch = '';
		}
	});
	
	$("#tarpFilterInput").focus(function() {
		if($("#tarpFilterInput").hasClass('pre_input'))
		{
			$("#tarpFilterInput").removeClass('pre_input');
			$("#tarpFilterInput").val('');
		}
	});
	
	
	$("select[@name='dataType']").change(
		function()
		{
			if ($("select[@name='dataType']").val() == 'branches')
			{	
				showBranches();
			}
			else if ($("select[@name='dataType']").val() == 'deposits')
			{
				showDeposits();
			}
			else if ($("select[@name='dataType']").val() == 'lending')
			{
				showLending();
			}
			
		});
	
	$("input[@name='filterType']").click(
		function()
		{
			if ($("input[@name='filterType']:checked").val() == 'all')
			{
				$(".group").toggleClass("group_vert");
				$('#tarpFilterInput').hide();
				$("#tarpFilterInput").removeClass('pre_input');
				$("#tarpFilterInput").val('');
				
				
				showTARPShare(); 
			}
			else if ($("input[@name='filterType']:checked").val() == 'filter')
			{
				$("#tarpFilterInput").addClass('pre_input');
				$("#tarpFilterInput").val('Enter company name');
				$('#tarpFilterInput').show();
				
				showBankShare(-1);
			}
			$(this).blur();
		});
	$("input[@value='all']").attr('checked','checked');
	$("select[@name='dataType']").val('deposits');
	$("#tarpFilterInput").removeClass('pre_input');
	$("#tarpFilterInput").val('Enter company name');
	$('#tarpFilterInput').hide();
	
	
});

function showBankShare(bank_id, bank_name)
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.loadBankShare!=null))
	    flex.loadBankShare(bank_id, bank_name);	
}

function showTARPShare()
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.loadTARPShare!=null))
	    flex.loadTARPShare();	
}


function showBranches()
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.showBranches!=null))
	    flex.showBranches();	
}

function showDeposits()
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.showDeposits!=null))
	    flex.showDeposits();	
}

function showLending()
{
	var flex = null;
	flex = getFlexMovie("mapVis");
	if((flex!=null) && (flex.showLending!=null))
	    flex.showLending();	
}

function getFlexMovie(movieName) {
    if (navigator.appName.indexOf("Microsoft") != -1) {
        return window[movieName]
    }
    else {
        return document[movieName]
    }
}




</script>

<div class="container top_solid_box">&nbsp;</div>
	<div class="container white">
	
		<div class="span-5">
				{% include "includes/bailout_left_nav.html" %}
		</div>
	
		
		<div class="span-15">
			
			<div class="tlr_padding">
				<h2 class="type_header">Database</h2>
				<h3 class="section_header">Mapping Geographic Impact of the Troubled Asset Relief Program (TARP)</h3>

				<p>There is keen public interest in ensuring that the large sums of money injected into financial institutions across the country through the Troubled Asset Relief Program (TARP) are being allocated fairly and effectively. Mapping which communities received TARP funds can assist in this evaluation and provide a fresh perspective on the size and scope of the bailout. A number of attempts at geographic analysis, including the recent launch of the Treasury Department's <a href="http://financialstability.gov/impact/index.html">Local Impact map</a>, have largely failed to recognize the complexity of the financial industry and do not paint a complete picture of the geography of funds distributed. Subsidyscope improves upon such efforts and presents a map that provides a richer context for analyzing the reach of TARP funds throughout the country.</p> 
		
			</div>
		</div>
			
		<div class="span-4 last">&nbsp;</div>
			
		
		<div class="span-24">
			
			<div class="lr_padding">
				<div id="map-container"  style="padding: 0 20px; margin: 25px 0; border: 1px solid #D3D3D3;">
				
					<h4>Banking Activity for TARP CPP Recipients</h4>
				
					<p>Mouse over a county to see banking activity for TARP Capital Purchase Program (CPP) recipient institutions in that county.  Make a selection from the drop down menu to the right to view share of total deposits held in each county that are held by a TARP CPP recipient; share of total branches in each county that are managed by a TARP CPP recipient, or the percentage of total HMDA lending originated in each county by TARP CPP recipient banks. The geography of mortgage lending differs substantially from branch/deposit geography as many banks accept loan applications online or through local mortgage brokers. For example, Citigroup, which operates very few bank branches nationwide, issues loans in nearly every county through brokerage and online sales.</p>
				
					<div id="table-filter" style="clear:left; margin-left: 25px; float: left;">
				
						<p><input type="radio" name="filterType" value="all" checked/> Show all TARP Recipients</p>
						<p><input type="radio" name="filterType" value="filter"/> Filter by TARP Recipient: <input size="30" id="tarpFilterInput" value="Enter company name" class="pre_input"/></p>
					
					</div>	
					
					<div style="float: right;  margin-right: 25px;">
						View share of: <select name="dataType">
							<option value="branches">Branches (2008 FDIC)</option>
							<option value="deposits">Deposits (2008 FDIC)</option>
							<option value="lending">Lending (2007 HMDA)</option>
						</select>
					</div>
					
					<br clear="all"/> 
					
					<div style="margin-left: 50px;">
						<div id="mapVis" >
							<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>
							
							<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>
						
						</div>
					</div>
					
					<br clear="all"/>
					
					
					
				</div>
			</div>
		</div>

		<div class="span-5">&nbsp;</div>

		<div class="span-15">
			
			<div class="tlr_padding">
		
		
				<p>Most mapping efforts have focused on the TARP Capital Purchase Program (CPP) both because of the program's size and the transparency of the funds allocations. The Treasury provides headquarters locations for the recipient institutions in the CPP information on its Web site, which is an attractive and readily accessible geographic indicator. However, using a bank's headquarters to map its reach is of questionable utility given that many financial institutions affect communities well outside of the state in which their headquarters is located. Unfortunately, many of the available maps rely solely on this indicator, including Treasury's Local Impact map.</p>
				<p>A closer look at the Treasury map demonstrates the shortcomings of this approach. States with large financial centers are shown receiving a majority share of CPP funds while states without a significant banking presence receive little or no funds. For example, the entire state of Arizona is shown as having received only $2.5 million in CPP funds; Montana is shown as having received nothing. The lack of bank headquarters in these states may indicate an unequal distribution of funds under CPP; however, the high degree of disparity shown in Treasury's map is suspect. In reality, banks that have received TARP funds &mdash; although headquartered in other states &mdash; do engage in significant business in Arizona and Montana, a relationship not reflected in this map. As a result, this map and others use bank headquarters locations as an impact metric present a misleading representation of CPP funds distribution.*</p>
				<p>While no mapping technique can perfectly capture the flows of money provided by the bailout,  Subsidyscope's alternative methodology uses government data sets to illustrate the geography of bank branch locations, deposits and lending activity. These three metrics for measuring the geography of banking activity offer a means for estimating the share of activity for a given bank within a specific region. We use the county (or county equivalent) as the core unit of geography though the underlying data could be interpreted at other levels of specificity (e.g. state or census tract). We also combine data for all organizations within a given ownership hierarchy such that the geography of subsidiary banking activity is reflected in the data for bank holding companies.</p>
				<p>In order to calculate TARP impact using bank branches and deposits we collected a complete copy of the Federal Deposit Insurance Corporation's Summary of Deposits database (as of June 2008). This database tracks branch locations and deposits for all FDIC member banks as well as institutions regulated by the Office of Thrift Supervision. From this data we determine the share of activity for a given location on an institution-by-institution basis or in aggregate for all TARP recipients. As might be expected, there is a strong correlation between branch locations and deposit shares; however, we provide both metrics for completeness.</p>
				<p>Similarly, we use data on home loan originations from the Federal Financial Institutions Examination Council's Home Mortgage Disclosure Act (HMDA) database from 2007 to track lending activity for a given institution. This data is merged using the Federal Reserve's Organizational Hierarchy database for HMDA reporting institutions. The geography of mortgage lending differs substantially from branch/deposit geography as many banks accept loan applications online or through local mortgage brokers. For example, Citigroup, which operates very few bank branches nationwide, issues loans in nearly every county through brokerage and online sales.</p>			
				<p>To download the data powering this visualization use the link below.  The file contains banking activity figures with county/state names and <a href="{% url glossary %}">FIPS</a> codes for integration with data sets such those provided by the Census Bureau.  The file is in <a href="{% url glossary %}">CSV</a> format, which can be opened with any modern spreadsheet program.</p>
				<p><a id="csv-link" href="{% media_url %}/data/tarp_cpp_banking_activity_by_county.csv">Download CSV Data &raquo;</a></p>
				
				

				<div class="footnotes" style="border-top: 1px solid #D3D3D3; margin-top: 50px; padding-top: 10px;">
					<p>*It is also worth noting that the Treasury map suffers from data quality problems in addition to the methodological concerns described above. As of April 17, 2009, the map failed to reflect the full list of CPP transactions, including a $15 billion transaction for Bank of America issued on October 28, 2008.  As a result, the value shown for North Carolina is artificially low, showing a total for CPP funds received of $13.6 billion instead of the correct figure of $28.6 billion as of the date viewed.<p>
				</div>
			</div>

			
			<div class="span-4 last">&nbsp;</div>
	</div>
	
	
	
</div>
			
{% endblock %}