{% extends "base_sector.html" %}
{% load humanize %}
{% load bailout_tags %}
{% load media %}
{% load morsel_tags %}

{% block additional_css %}
	{% css "styles/ui.theme.css" %}
{% endblock %}

{% block content %}

<div class="container main_container">
	{% include "includes/bailout_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h2>{% morsel_sector_title %}</h2>
			<h3>{% morsel_page_title %}</h3>		
		</div>
		
		<div class="content_area">

	
			{% morsel text1 %}

			<p><img src="{% media_url %}/images/bac_pricing.png"/><br/><em>Source: Subsidyscope (The Pew Charitable Trusts)</em></p>

			{% morsel text2 %}
	
			<div class="footnotes">
			1. Congressional Oversight Panel, <a href="/projects/bailout/documents/22/">February Oversight Report (February 6, 2009)</a><br/>
			2. See <a href="http://www.sec.gov/Archives/edgar/data/93751/000119312508212289/d8k.htm"/>State Street Corporation's 8-K filing on October 13, 2008</a>;  
			</div>

		</div>
	</div>
</div>


	
{% endblock %}