{% load bailout_tags %}

<div id="tracker_box">

	<h3><a href="{% url tarp-warrants %}">TARP Warrant Tracker</a></h3>
	

		<div class="about_warrants">
		<p>Warrants in/out of money based on <b>{{ price_date|date:"F j, Y" }}</b> stock prices. <a href="{% url tarp-warrants %}">Learn more about TARP warrants and track other institutions.</a></p>
		</div>

		<table class="warrant_tracker" width="100%">
				<tr>
					<th align="left" width="25%">Current<br/> Stock Price</th>
					<th align="right" width="15%">Strike<br/> Price</th>
					<th align="right" width="25%">In/Out of<br/> Money ($)*</th>
					<th align="right" width="25%">In/Out of<br/> Money (%)*</th>
				</tr>
		</table>
	{% for t in transactions %}
		<div class="warrant_company">
			<span class="bold">{% institution_name_shorten t.institution %}</span>
		</div>
		<div class="warrant_details">

		
			<table class="warrant_tracker" width="100%">
				<tr>
					<td align="left" width="25%"><span class="current_price">{{ t.getLastClosingPrice|price }}</span></td>
					<td align="right" width="25%"><span class="strike_price">{{ t.warrant_reported_strike_price|price }}</span></td>
		
			
			{% if t.isInMoneyReportedStrikePrice %}
			<td align="right" width="25%"><span class="warrant_in">	
				{{ t.getMoneyPositionReportedStrikePrice|price }} 
			</span>
			</td>
			<td align="right" width="25%"><span class="warrant_in">	
				{{ t.getMoneyPercentage|percent }}%
			</span></td>
			{% else %}
			<td align="right" width="25%"><span class="warrant_out">
				{{ t.getMoneyPositionReportedStrikePrice|price }} 
			</span>
			</td>
			<td align="right" width="25%"><span class="warrant_out">
				{{ t.getMoneyPercentage|percent }}%
			</span></td>
			{% endif %}
			</tr>
			</table>
		</div>
		
		
	{% endfor %}
	

	<p style="font-size:11px;">*<strong>In/Out of Money ($)</strong> is the stock price minus the strike price; <strong>In/Out of Money (%)</strong> is the difference in the stock price and strike price divided by the strike price. It is the percentage by which the stock price is above or below the strike price.</p>
	
</div>