
{% extends "base.html" %}
{% load media %}
{% load humanize %}
{% load smarterif%}
{% block content %}
{% css "styles/faads-search.css" %}
<style>
form#transit-search fieldset { padding: 15px; }
form#transit-search label.text {margin-left: 15px;}
form#transit-search select { width: 100%; margin-right: 25px; padding: 5px; }
#form#transit-search input.submit {width: 80px; background-color: #F6F8FB; border: 1px solid #899EAB; padding: 0 3px; margin-left:10px;}
#form#transit-search input { margin: 15px; padding: 5px;  width: 80%;  }
form#transit-search span.filter-container { width: 40%; float:left; margin-left: 15px;}
.performance-metrics { margin-top:20px;}
.performance-metrics span.metric {display:block; padding: 10px 10px 10px 0px;width:100%; }
.performance-metrics span.metric span.metric-input {text-align:right;}
.performance-metrics span.metric label { display:block; float:left; width: 290px;}
.section div { padding-left:10px;}
</style>


<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
    <span class="span-24">
        <div id="header_area"><h3>Transit System Search</h3></div>
        <div class="content_area">
            <p>Some text on the search and what we're offering can go here I suppose. </p>    
            <form id="faads-search-form" method="post">
            <fieldset id="text-query-wrapper">
                <legend>Search by Transit System Name</legend>
                <div id="text-query-text-wrapper"> 
                <input id="id_text_query" name="system_name" type="text" class="name-search" {% if context.0 != "" %}value="{{context.0}}" {% endif %} />
                </div>
            </fieldset>
            <fieldset id="advanced-options" class="collapsed">
                <legend id="advanced-options">Advanced Options</legend>
                <div class="section">
                    <h4>Mode</h4>
                    <div id="assistance-action-recipient-wrapper" class="field-wrapper">
                        <div class="dropdown-wrapper">
                            <ul>
                            {% for m in modes %}
                                <li><label for="{{m.0}}"><input type="checkbox" name="modes_selected" value="{{m.0}}" />{{m.1}}</label></li>
                                {% if forloop.counter|divisibleby:"5" %}
                                </ul></div><div class="dropdown-wrapper"><ul>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="clear-left"></div>
                </div>
                <div class="section" style="padding-bottom:20px;">
                    <h4>Size of Urban Area</h4>
                    <div id="program-selector" style="padding-top:10px;">
                        <ul>
                            <li><label for="urban-select"><input id="urban-select" type="radio" name="size_select" value="urban" />Urban</label></li>
                            <li><label for="rural-select"><input id="rural-select" type="radio" name="size_select" value="rural" />Rural</label></li>
                            <li><label for="both-select"><input id="both-select" type="radio" name="size_select" value="both" />Both</label></li>
                            <li style="padding-left:45px;">Rural transit systems serve urbanized areas with less than 50,000 people</li>
                        </ul>
                    </div>
                    <div class="clear-left"></div>
                </div>
                <div class="section">
                    <h4>Location</h4>
                    <div class="dropdown-wrapper" style="padding-top:10px;">
                        <label for="state-select">By State:</label>
                        <select id="state-select" name="state_select">
                                <option value=""></option>
                            {% for state in states %}
                                <option value="{{state.abbreviation}}">{{state.name}}</option>    
                            {% endfor %} 
                        </select>
                        <span style="padding-left: 60px;padding-right:60px;font-weight:bold;">&mdash; or &mdash;</span>
                        <label for="uza-select">By Urban Area:</label>
                        <select id="uza-select" name="uza_select">
                                <option value=""></option>
                            {% for u in uza %}
                                <option value="{{u.id}}">{{u.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="clear-left" style="margin-bottom:40px;"></div>
                </div>               
                <div class="section last">
                    <h4>Performance Metrics</h4>
                    <div class="performance-metrics" >
                        <span class="metric"><label for="ofppm">Operations Funding per passenger mile: </label>&nbsp;<span class="metric-input"><input id="ofppm" type="text" name="ofppm_start" /><span style="padding-left:30px;padding-right: 30px;">&mdash;to&mdash;</span><input type="text" name="ofppm_end" /></span></span>   
                        <span class="metric"><label for="cfppm">Capital Funding per passenger mile: </label>&nbsp;<input id="cfppm" type="text" name="cfppm_start" /><span style="padding-left:30px;padding-right: 30px;">&mdash;to&mdash;</span><input type="text" name="cfppm_end" /></span>   
                        <span class="metric"><label for="ofpupt">Operations Funding per unlinked passenger trip: </label>&nbsp;<input id="ofpupt" type="text" name="ofpupt_start" /><span style="padding-left:30px;padding-right: 30px;">&mdash;to&mdash;</span><input type="text" name="ofpupt_end" /></span>   
                        <span class="metric"><label for="cfpupt">Capital Funding per unlinked passenger trip: </label>&nbsp;<input id="cfpupt" type="text" name="cfpupt_start" /><span style="padding-left:30px;padding-right: 30px;">&mdash;to&mdash;</span><input type="text" name="cfpupt_end" /></span>   
                    </div>
                    <div class="clear-left" style="margin-bottom:40px;"></div>
                </div> 
            </fieldset>
            <input id="reset-faads-search" type="button" value="Reset Search" />
            <input type="submit" class="faads-search-submit" value="Search" />
            </form>
       
            <div id="results">
            {% if error %} {{error}} 
            {% else  %}
                <table>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Urbanized Area</th>
                </tr>

            {% for transit in results %}
                <tr>
                    <td><a href="/transportation/transit/system/{{transit.trs_id}}/" >{{transit.name}}</a></td>
                    <td>{{transit.city}}</td>
                    <td>{{transit.state}}</td>
                    <td>{{transit.urbanized_area.name}}</td>
                </tr>
            {% endfor %}
                </table>
            {% endif %}
            </div>
        
        </div>
    </span>

</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $("#uza-select").change(function(){
       //form submit with uza as trump
        $("#transit-search").find("input[name='system_name']").val("")
            .end()
            .find("select[name='state']").val("")
            .end()
            .submit(); 
    });
    $("#state-select").change(function(){
        //form submit with state as trump
        $("#transit-search").find("input[name='system_name']").val("")
            .end()
            .find("select[name='uza']").val("")
            .end()
            .submit();
    });
    
    $('fieldset#advanced-options legend').click(function(){
        $(this).parent().toggleClass('collapsed'); 
    }); 
});
</script>


{% endblock content %}

