
{% extends "base.html" %}
{% load media %}
{% load humanize %}
{% load smarterif%}
{% block content %}
{% js "scripts/swfobject.js" %}
{% js "scripts/json2.js" %}

<style>
#info {padding: 10px; margin: 10px; border: 1px solid #AFAFAF;}
#info ul {margin:0; padding:0;}
#map {height:290px; width: 400px; }
.map-container {width: 45%; float:left;}
.pie-container { width: 50%; float:left;}
.info-container { clear:both; display: block; width: 50%; }
.line-chart-container {display:block; width:100%;}
.long-header {display:block; width: 100%;}
.matrix { margin: 5px auto; width: 840px; height:270px; clear:both; }
.matrix table {width: 840px; }
.matrix td {text-align:right; }
#matrix table.no-matrix {font-size:1.5em; font-style: italic; color:#6D6767; text-align:center;}
#matrix table.no-matrix td {text-align:center; }
.container h4 {font-size:1.1em; margin-top:0; margin-bottom:5px;}
.footnote {font-style:italic; font-size:.9em; text-align:right; display:block;margin-top:15px; }
.funding-type {float:left; position:relative; left: 3px; top 3px; margin: 25px 3px 3px 3px; }
.shadow2, .shadow3, .plain {position:relative; left: -1px; top: -1px; -moz-border-radius:10px;}
.shadow1 {background: #F1F0F1; -moz-border-radius: 10px; }
.shadow2 {background: #DBDADB; }
.shadow3 {background: #B8B6B8; }
.plain {background: #ffffff; border: 1px solid #848284; padding:10px;}
.ridership {float:left; margin-top:25px; }

</style>
<div class="container main_container">
{% include "includes/transportation_nav.html" %}

    <span class="span-24">
        <div id="header_area"><h3>{{system.name}}</h3></div>
        <div class="content_area">
            <h5>Funding Sources Over Time</h5>
            <div class="line-chart-container">
                <div id="fundingChart"></div>
                <span  class="footnote">Funding data may contain reconciliation amounts not displayed in the above pie charts.</span>
            </div>
            <div class="funding-type" id="fake-drop-shadow"><div class="shadow1"><div class="shadow2"><div class="shadow3"><div class="plain">    
                <h5 class="long-header">Funding Sources by Type</h5>
                <p>Use the dropdown to view this transit system's funding sources over the years, broken out by capital and operating expenses. You can also compare it with the overall sources of funding for transit systems in the same urbanized area and in the rest of the country.</p>
                <form id="year-select">
                    <label for="year">Select year:
                    <select name="year">
                       <option value="all">Total All Years</option>
                        {% for x in year_list %}
                            <option value="{{x}}" {%if x == 2008 %} selected {% endif %}>{{x}}</option>
                        {% endfor %}

                    </select>
                    </label>
                </form>
                <div class="pie-container">
                    <h4>Operating Funding - 2008</h4>
                    <div id="sourcesChart_operating"></div>
                </div>
                <div class="map-container">
                    <h4>Capital Funding - 2008</h4>
                    <div id="sourcesChart_capital"></div>
                </div>
                <!--<div class="map-container">
                    <h5>Location</h5>
                    <div id="map"></div>
                </div>-->
                <div class="matrix">
                    <span  class="footnote">Funding data may contain reconciliation amounts not displayed in the above pie charts.</span>
                    <h4>Funding Source Comparison - 2008</h4>
                    <span id="matrix">
                    <table>
                    <tr>
                        <th>Source</th>
                        <th>{{system.name}}</th>
                        <th>{{system.urbanized_area.name}}</th>
                        <th>National</th>
                    </tr>
                    {% for row in matrix_data %}
                    <tr>    
                        {% for cell in row %}
                        <td>{% if forloop.counter > 1 %}
                                {% if cell == 'n/a' %}
                                    {{cell}}
                                {% else %}
                                    ${{cell|floatformat:0|intcomma}}
                                {% endif %}
                            {% else %}
                                {{cell}}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </table>
                    </span>
                </div>
                <span class="footnote"> Source: Subsidyscope.org, using data from the National Transit Database</span>
                <!-- close fake drop shadow divs -->
                </div></div></div></div>
            </div>
           <!-- <div class="pie-container" style="width:40%; margin-right:0px;margin-left:65px;">
                <h5>Average Fares Generated by Mode</h5>
                <div id="fareChart"></div>
            </div>-->
           <!-- <div class="info-container">
                <h5>System Info</h5>
                <div id="info">
                    <ul>
                        <li>Population: {{system.urbanized_area.population|intcomma}}</li>
                        <li>Area: {{system.urbanized_area.area|intcomma}} sq. mi.</li>
                    </ul>
                </div>
            </div>-->
            <!--<div class="pie-container">
                <h5>System Expenses By Mode (Capital and Operating)</h5>
                <div id="modeChart"></div>
            </div>
            <div class="map-container">
                <h5>System Ridership By Mode (PMT)</h5>
                <div id="pmtChart"></div>
            </div>
            <div class="pie-container">
                <h5>System Ridership By Mode (UPT)</h5>
                <div id="uptChart"></div>
            </div>-->
        
            <div class="ridership">
                <h5 style="clear:both;">Ridership Data (Averages for 1991-2008)</h5>
                <table style="text-align:right;">
                    <tr>
                        <th>Mode</th>
                        <th>Avg Operating Expenses</th>
                        <th>Avg Capital Expenses</th>
                        <th>Avg Revenue Hours</th>
                        <th>Avg Revenue Miles</th>
                        <th>Avg Passenger Miles Travelled</th>
                        <th>Avg Unlinked Passenger Trips</th>
                    </tr>
                {% for o in mode_operations %}
                    <tr>
                    <td>{{o.mode}}</td>
                    <td>${{o.op_exp|floatformat:0|intcomma}}</td>
                    <td>${{o.cap_exp|floatformat:0|intcomma}}</td>
                    <td>{{o.vrh|floatformat:0|intcomma}}</td>
                    <td>{{o.vrm|floatformat:0|intcomma}}</td>
                    <td>{{o.pmt|floatformat:0|intcomma}}</td>
                    <td>{{o.upt|floatformat:0|intcomma}}</td>
                    </tr>
                {% endfor %}
                </table>
                <span class="footnote"> Source: Subsidyscope.org, using data from the National Transit Database</span>
                <span class="summary-csv"><a style="background: transparent url(/media/images/download_icon_smaller.png) no-repeat scroll 0 6px; padding-left: 25px; padding-top: 7px;" href="{% url transit-ridership-download  system.trs_id %}">Download ridership stats for this system</a></span>
            </div>

            <script type="text/javascript" charset="utf-8">
                function linechart(){
                    return JSON.stringify({{fund_line_data|safe}});
                }
                function piechart_operating(){
                    return JSON.stringify({{fund_pie_data_operating|safe}});
                }
                function piechart_capital(){
                    return JSON.stringify({{fund_pie_data_capital|safe}});
                }
                function farechart(){
                    return JSON.stringify({{fares_data|safe}});
                }
                /*function modechart(){
                    return JSON.stringify({{fund_mode_data|safe}});
                }
                function pmtchart(){
                    return JSON.stringify({{pmt_data|safe}});
                }
                function uptchart(){
                    return JSON.stringify({{upt_data|safe}});
                }*/
                swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "fundingChart", "900", "300", "9.0.0", "expressInstall.swf", {"get-data": "linechart"});
                swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "sourcesChart_operating", "450", "305", "9.0.0", "expressInstall.swf", {"get-data": "piechart_operating"});
                swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "sourcesChart_capital", "450", "305", "9.0.0", "expressInstall.swf", {"get-data": "piechart_capital"});
                //swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "fareChart", "350", "305", "9.0.0", "expressInstall.swf", {"get-data":"farechart"});

                $("#year-select").change(function(e){
                   //reload pie charts
                   $("#sourcesChart_operating")[0].reload("/transportation/transit/system/{{system.trs_id}}/operating/"+ e.target.value + "/");
                   $("#sourcesChart_operating").siblings("h4").text("Operating Expenses - "+e.target.value)
                   $("#sourcesChart_capital")[0].reload("/transportation/transit/system/{{system.trs_id}}/capital/"+ e.target.value + "/");
                    $("#sourcesChart_capital").siblings("h4").text("Capital Expenses - "+e.target.value)

                   //reload matrix, unless all years, then grey out
                        $("#matrix table").remove();

                   if(e.target.value != 'all'){
                        $("#matrix").load("/transportation/transit/system/{{system.trs_id}}/matrix/"+e.target.value+"/", function(){ 
                            $(this).find("table").fadeIn("slow");
                            $(this).siblings("h4").text("Funding Source Comparison - "+ e.target.value)
                        
                        });
                   } else {
                       $("#matrix").siblings("h4").text(" "); 
                       $("#matrix").append('<table class="no-matrix"><tbody><tr><td>Matrix data not available for aggregate</td></tr></tbody></table>');
                   }
                });
        
/*              
                
                swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "modeChart", "450", "305", "9.0.0", "expressInstall.swf", {"get-data": "modechart"});
                swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "pmtChart", "450", "305", "9.0.0", "expressInstall.swf", {"get-data": "pmtchart"});
                swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "uptChart", "450", "305", "9.0.0", "expressInstall.swf", {"get-data": "uptchart"});
  */          </script>
            <!--<script src="http://www.google.com/jsapi?key=ABQIAAAAhsWrZ8VHxDxF9jrKbcsQ0xRvfLFziSZqANDNArw6yp0kxlhceBS-wjqDyDClpSNt9y_iJB5a-HjMig" type="text/javascript" charset="utf-8"></script>-->
<!--            <script type="text/javascript" charset="utf-8">
                //google.load("maps", "2");
            </script>
            <script type="text/javascript" charset="utf-8"> 
                function init() {
                    
                    //var mapoptions = { zoom: 11, mapTypeId: google.maps.MapTypeId.ROADMAP};
                    var map =  new GMap2(document.getElementById("map"));
                    var geocoder = new GClientGeocoder();

                    geocoder.getLatLng('{{system.city}}, {{system.state.abbreviation}}', function(point){
                        map.setCenter(point, 11);
                        var marker = new GMarker(point);
                        map.addOverlay(marker);
                        map.addControl(new GSmallMapControl());
                        //marker.openInfoWindowHTML('{{system.city}}, {{system.state.abbreviation}}');
                    });
                }

                init();
            </script>
-->
        </table>

        </div>
    </span>

</div>

{% endblock content %}
