
{% extends "base.html" %}
{% load media %}
{% load humanize %}
{% load smarterif%}
{% block content %}
{% js "scripts/swfobject.js" %}
{% js "scripts/json2.js" %}

<style>
#info {padding: 10px; margin: 10px; border: 1px solid grey;}
#map {height:305px; width: 450px; }
</style>
<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
    <span class="span-24">
        <div id="header_area"><h3>{{system.name}}</h3></div>
        <div class="content_area">
            <h5>Funding by year</h5>
            <div id="fundingChart"></div>

            <h5>Funding Sources</h5>
            <div id="sourcesChart"></div>
            
            <h5>Location</h5>
            <div id="map"></div>

            <h5>System Info</h5>
            <div id="info">
                <ul>
                    <li>Population: {{system.urbanized_area.population}}</li>
                    <li>Area: {{system.urbanized_area.area}}</li>
                </ul>
            </div>
            

            <script type="text/javascript" charset="utf-8">
                function linechart(){
                    return JSON.stringify({{fund_line_data|safe}});
                }
                function piechart(){
                    return JSON.stringify({{fund_pie_data|safe}});
                }
                swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "fundingChart", "900", "200", "9.0.0", "expressInstall.swf", {"get-data": "linechart"});
                swfobject.embedSWF("/media/scripts/open-flash-chart.swf", "sourcesChart", "450", "305", "9.0.0", "expressInstall.swf", {"get-data": "piechart"});
            </script>
            <script src="http://www.maps.google.com/maps/api/js?sensor=false&key=ABQIAAAAhsWrZ8VHxDxF9jrKbcsQ0xRvfLFziSZqANDNArw6yp0kxlhceBS-wjqDyDClpSNt9y_iJB5a-HjMig" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript" charset="utf-8">
                function init() {
                    var geocoder = new google.maps.Geocoder();
                    var mapoptions = { zoom: 11, mapTypeId: google.maps.MapTypeId.ROADMAP};
                    var map = new google.maps.Map(document.getElementById("map"), mapoptions);
                    geocoder.geocode({'address': '{{system.city}}, {{system.state.abbreviation}}'}, function(results, status){
                            if( status == google.maps.GeocoderStatus.OK){
                                console.log(results[0].geometry.location);
                                map.setCenter(results[0].geometry.location);
                                var marker = new google.maps.Marker({
                                    map: map,
                                    position: results[0].geometry.location
                                });
                            } else {  }
                        }
                    );
                }

                init();
            </script>

        </table>

        </div>
    </span>

</div>

{% endblock content %}
