{% extends "base_about.html" %}

{% block refresh %}
	<meta http-equiv="refresh" content="2;url=http://subsidyscope.org" /> 
{% endblock %}

{% block content %}
<div class="container top_solid_box">&nbsp;</div>
	{% include "includes/generic_nav.html" %}
	<div class="container white">
		<div class="span-24">
			<div id="header_area_flat">
				<h3>Thank you for contacting Subsidyscope</h3>		
			</div>
			
			<div class="content_area">
				<p>We appreciate your interest in Subsidyscope.  If your message requires a response, we will get back to you as soon as possible.</p>
			</div>
		</div>
	</div>
{% endblock %}