{% extends "base_about.html" %}

{% block content %}

<div class="container top_solid_box">&nbsp;</div>
	<div class="container white">
		<div class="span-24">
			<div id="header_area_flat">
				<h3>Contact Subsidyscope</h3>		
			</div>
			
			<div class="content_area">	
				<p>For press inquiries, please contact Jeremy Ratner at 202-552-2137.</p>
				<div id="contact_form">
    				<form action="." method="post" id="contactus">
					<ul>
			    		{{ form.as_ul }}	
        	    		<li><p class="submit"><input type="submit" value="Send your question or comment to Subsidyscope"></p></li>
					</ul>
    				</form>
				</div>
		
			</div>
		</div>
	</div>



{% endblock %}