
.slice-1 { fill: #621D11; stroke: #e0d1d1; stroke-width:2; }
.slice-2 { fill: #ea8640; stroke: #e0d1d1; stroke-width:2; }
.slice-3 { fill: #f2d64b; stroke: #e0d1d1; stroke-width:2; }
.slice-4 { fill: #be5227; stroke: #e0d1d1; stroke-width:2; }
.slice-5 { fill: #e9ece3; stroke: #e0d1d1; stroke-width:2; }
.slice-6 { fill: #9f9f9f; stroke: #e0d1d1; stroke-width:2; }
.pie-label-left, .pie-label-right { display: none;}

