<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% load media %}
<html lang="en">
<head>
	<link rel="icon" type="image/ico" href="{% media_url %}/images/favicon.ico">
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link  href="{% media_url %}/favicon.ico" rel="shortcut icon" type="image/ico" />
	        {% css "screen.css" %}
        	{% css_print "print.css" %}
        	{% css_ie "ie.css" %}
        	{% css "style.css" %}
	        
            {% js "jquery-1.2.6.min.js" %}
            {% js "jquery.corner.js" %}
            {% js "jquery.scrollTo-1.4.0-min.js" %}
            {% js "jquery.localscroll-1.2.6-min.js" %}
            {% js "jquery.serialScroll-1.2.1-min.js" %}
            {% js "subsidy.js" %}

	        <title>{% block title %}Subsidyscope.com{% endblock %}</title>
</head>
<body>
	<div class="container" style="margin-top:30px; padding:0; margin-bottom:0;">
		<div class="span-12">
			<div id="top_nav"><a href="/">Home</a> | <a href="/board/">Advisory Board</a> | <a href="/press/">Press</a> | <a href="/contact/">Contact</a></div>
		</div>

		<div class="span-12 last">
		<div id="updates"><form action="/mailinglist/subscribe/" method="post" id="update_email">Sign up for email updates: <input type="text" name="email"><input type="submit" class="submit" value="Sign Up"></form></div>
		</div>
	</div>

	<div class="container noicon questions_container">
		<div class="span-24 question_box">&nbsp;</div>	
		<div class="span-8"><a href="/"><img src="{% media_url %}/images/subsidy_logo.png" class="subsidy_logo" border="0"></a></div>
		<div class="span-16 last">
			<ul class="questions">
			<li class="dark"><a href="/#what_is_subsidyscope">// What is Subsidyscope?</a></li>
			<li class="lite"><a href="/#what_is_included_in_database">// What is included in Subsidyscope’s database?</a></li>
			<li class="dark"><a href="/#why_is_a_database_needed">// Why is a database needed?</a></li>
			<li class="lite"><a href="/#will_there_be_analysis_of_the_data">// Will there be analysis of the subsidy data?</a></li>
			<li class="dark"><a href="/#who_is_involved">// Who is involved in Subsidyscope?</a></li>
			</ul>
		</div>
		
{% block content %}


{% endblock %}
</div> <!-- ends the container from the main content area-->	
<div class="container footer_container">
<div class="span-1">&nbsp;</div>
<div class="span-18"> <p class="footer"><a href="http://www.pewtrusts.org/" class="footer">The Pew Charitable Trusts</a> is driven by the power of knowledge to solve today’s most challenging problems. Pew applies a rigorous, analytical approach to improve public policy, inform the public and stimulate civic life. We partner with a diverse range of donors, public and private organizations and concerned citizens who share our commitment to fact-based solutions and goal-driven investments to improve society.</p> </div>
<div class="span-5 last"><a href="http://www.pewtrusts.org"><img src="{% media_url %}/images/pew_logo.png"></a></div>
  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1265484-28");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>