{% extends "base_projects.html" %}
{% load media %}

{% load menubuilder %}
{% block content %}
<div class="container main_container">
	{% include "includes/generic_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h2>Project Updates</h2>
			<h3>{{ item.title }}</h3>		
		</div>
		
					{% recursive_menu %}

    <div class="page-content">
			<div id="update_item">
				<p style="margin-top:1em"><span class="update_date">{{ item.date|date:"F j, Y" }}</span> &ndash; 
	
				{% if item.extended_text %}

					{{ item.extended_text|safe }}

				{% else %}
				
					{{ item.text|safe }}

				{% endif %}
				
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
