
<span class="breadcrumbs">
    


			    {% for item in list %}
       
				{% if forloop.last %}

				{% else %}
                    {% if forloop.first %}
                         &raquo;&nbsp;<a href="{% url tax_expenditures-group item.id %}?estimate={{ estimate_type }}{% if year %}&year={{ year }}{% endif %}">{{ item.name }}</a>
                    {% else %}

        				&raquo; <a href="{% url tax_expenditures-group item.id %}?estimate={{ estimate_type }}{% if year %}&year={{ year }}{% endif %}">{{ item.name }}</a>
                    {% endif %}
				{% endif %}
				{% endfor %}



</span>
