{% load humanize %}

{% if treasury_summary %}
	<tr>
		<th>Treasury</th>
		{% for value in treasury_summary %}<td style="background-color: {% cycle '#eee' '#fff' %};">{% ifequal value.amount None %}{% if value.notes %}{% else %}-{% endif %}{% else %}{{ value.amount|floatformat:0|intcomma }}{% endifequal %}{% if value.notes %}*{% endif %}</td>{% endfor %}
	</tr>
{% endif %}


{% if jct_summary %}
<tr>
	<th>JCT</th>
	{% for value in jct_summary %}<td style="background-color: {% cycle '#eee' '#fff' %};">{% ifequal value.amount None %}{% if value.notes %}{% else %}-{% endif %}{% else %}{{ value.amount|floatformat:0|intcomma }}{% endifequal %}{% if value.notes %}*{% endif %}</td>{% endfor %}
</tr>
{% endif %}

