{% extends 'base.html' %}

{% block content %}

<div class="container top_solid_box">&nbsp;</div>
<div class="container white">

	<div class="span-5">
	</div>

	
	<div class="span-15">
	
		<div class="tlr_padding">
		    <h2>Search</h2>
		    
		    <form id="update_email" action="." method="GET">
				{{ form.query }}
				<input class="submit" type="submit" value="Search"/>
			</form>
				    

			<p>&nbsp;</p>
			{% if page_result_set %}
			<strong>Results:</strong>
			<ul style="padding-top: 15px;">
				{% for page in page_result_set %}
					<li  style="padding-bottom: 15px; margin-bottom: 15px; width: 800px; border-bottom: 1px solid #CCCCCC;">
					<div style="float: right; text-transform:uppercase; color: #999; height: 15px;">
						<img style="margin-right: 5px; vertical-align: top;" src="http://dev.subsidyscope.com/media/images/sector_icons/1_sm.png"/>
						<strong>Bailout</strong></div>
					<strong><a href="{{ page.url }}/">{{ page.title }}</a></strong><br/>{% for text in page.highlighted.text %}{{ text }}{% endfor %}</li>
				{% endfor %} 
			</ul>
			{% else %}
				<ul>
					<em>No results found.</em>
				</ul>
				<p>&nbsp;</p>
			{% endif %}
	    </div>
	</div>
	
	<div class="span-4 last">&nbsp;</div>
	
</div> 
   
   
{% endblock %}