<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load media %}
{% load morsel_tags %}

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link  href="{% media_url %}/favicon.ico" rel="shortcut icon" type="image/ico" />
	<link rel="alternate" type="application/rss+xml" title="Subsidyscope Project Updates" href="{% url django.contrib.syndication.views.feed "updates" %}"></link>
	{% css "screen.css" %}
	{% css_print "print.css" %}
	{% css_ie "ie.css" %}
	{% css "style.css" %}
	{% block additional_css %}{% endblock %}
	
	{% js "jquery-1.2.6.min.js" %}
	{% js "jquery.autocomplete.js" %}
	{% block additional_js %}{% endblock %}

	{% css "transportation.css" %}


	<title>{% block title %}Subsidyscope.com{% endblock %}{% morsel_page_title page_title %}</title>
</head>
<body>
{% include "includes/top_default_header.html" %}


{% block content %}
{% endblock %}

{% include "includes/bottom_default_footer.html" %}
</body>
</html>