<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% load media %}
{% load morsel_tags %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link  href="{% media_url %}/favicon.ico" rel="shortcut icon" type="image/ico" />
	{% css "styles/screen.css" %}
  {% css_print "styles/print.css" %}
  <!--[if IE ]>{% css "styles/ie.css" %}<![endif]-->
  {% css "styles/style.css" %}
	{% block additional_css %}{% endblock additional_css%}

	{% js "scripts/jquery-1.3.2.min.js" %}
	{% block additional_js %}{% endblock additional_js%}

	<title>{% block title %}Subsidyscope.com{% endblock %}{% morsel_page_title show_sector page_title %}</title>
</head>
<body>
{% include "includes/top_default_header.html" %}

{% block content %}
{% endblock %}

{% include "includes/bottom_default_footer.html" %}
</body>
</html>