<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% load media %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link  href="{% media_url %}/favicon.ico" rel="shortcut icon" type="image/ico" />
	        {% css "screen.css" %}
        	{% css_print "print.css" %}
        	{% css_ie "ie.css" %}
        	{% css "style.css" %}
			{% block additional_css %}{% endblock additional_css%}

	        {% js "jquery-1.2.6.min.js" %}
			{% block additional_js %}{% endblock additional_js%}

	        <title>{% block title %}Subsidyscope.com{% endblock %}</title>
</head>
<body>
{% include "includes/page_top.html" %}
{% block content %}
{% endblock %}
{% include "includes/footer.html" %}