{% extends "base.html" %}
{% load media %}
{% load project_update_tags %}
{% load bailout_tags %}

{% block content %}

<script type="text/javascript">
$(function () {
                        var tabContainers = $('div.tabs > div');
                        tabContainers.hide().filter(':first').show();
                        
                        $('div.tabs ul.tabNavigation a').click(function () {
                                tabContainers.hide();
                                tabContainers.filter(this.hash).show();
                                $('div.tabs ul.tabNavigation a').removeClass('selected');
                                $(this).addClass('selected');
                                return false;
                        }).filter(':first').click();
                });
</script>
	

<div class="container top_solid_box">&nbsp;</div>
<div class="container white">
	<div class="span-11">
		<div class="feature_leftside">
	

<!-- feature box toggle layers -->
		
<div id="feature_box">
	<div class="tabs">
										
				<div id="first"> <!-- assumes multiple news items -->
					<img src="/media/images/front/feature_graphic_1.jpg" width="415">
					<h2><a href="#">Where does this link go?</a></h2>	
					<p class="feature_content"><strong>March 28, 2009&ndash;</strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
					
					<ul class="feature_nav tabNavigation">
						<li><a href="#first"><img src="/media/images/front/feature_nav_selected.png"></a></li>
						<li><a href="#second"><img src="/media/images/front/feature_nav_unselected.png"></a></li>
						<li><a href="#third"><img src="/media/images/front/feature_nav_unselected.png"></a></li>
					</ul>
					
				</div> <!-- end first feature div -->
				
				<div id="second">
					<img src="/media/images/front/feature_graphic_2.jpg" width="415">
					<h2><a href="#">Second article headline</a></h2>	
					<p class="feature_content"><strong>April 12, 2009&ndash;</strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
					<ul class="feature_nav tabNavigation">
						<li><a href="#first"><img src="/media/images/front/feature_nav_unselected.png"></a></li>
						<li><img src="/media/images/front/feature_nav_selected.png"></li>
						<li><a href="#third"><img src="/media/images/front/feature_nav_unselected.png"></a></li>
					</ul>
				</div>  <!-- end second feature div -->
				
				<div id="third">
					<img src="/media/images/front/feature_graphic_3.jpg" width="415">
					<h2><a href="#">Third Article Headline</a></h2>	
					<p class="feature_content"><strong>May 1, 2009&ndash;</strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
					
					<ul class="feature_nav tabNavigation">
						<li><a href="#first"><img src="/media/images/front/feature_nav_unselected.png"></a></li>
					 	<li><a href="#second"><img src="/media/images/front/feature_nav_unselected.png"></a></li>
						<li><img src="/media/images/front/feature_nav_selected.png"></li>
					</ul>
				</div>	 <!-- end third feature div -->			
	</div> <!--ends tabs class-->
</div><!-- end feature box -->
	
	
		<div class="updates_box">
			<div class="updates_head">
			<h2>Subsidyscope Project Updates</h2>
			<a title="Click here for news feed" href="{% url django.contrib.syndication.views.feed "updates" %}"><img src="/media/images/rss_icon.png"></a>
			</div>
			{# display project updates #}			
			{% project_updates %}
		</div> 
<!-- ends update box-->

</div> <!-- ends feature left side -->		

</div>
	
<div class="span-13 last">
	<div class="feature_rightside">
		<div id="intro">
		<p class="intro_copy"><strong>Subsidyscope</strong>, launched by The Pew Charitable Trusts, aims to raise public awareness about the role of federal subsidies in the economy. <a href="/about/" class="intro_more">Read More »</a></p>		
		</div>
		
		<div id="taxonomy" style="">
			<div class="left_tax">
				<div class="tax_item"><h3><a href="/projects/bailout/">Financial Bailout</a></h3>
				<p>Data and Analysis of TARP, et al.</p>
				</div>
				<div class="tax_item"><h3 class="coming">Housing</h3>
				<p>Summer 2009</p>
				</div>
			</div>
			
			<div class="right_tax">
				<div class="tax_item"><h3 class="coming">Transportation</h3>
				<p>May 2009</p>
				</div>
			
				<div class="tax_item"><h3 class="coming">Energy</h3>
				<p>Fall 2009</p>
				</div>
			</div>
		</div>				
	</div>
	
	<div class="span-5">
		<div id="news_box">
			<div class="news_head"><h2>In The News</h2><a title="Click here for news feed" href="http://feeds.delicious.com/v2/rss/subsidyscope?count=15"><img src="/media/images/rss_icon.png"></a>
			</div>
			<ul id="news_box_items">				
			</ul>	
		</div>
		
		<script type="text/javascript">
		$(function(){
			$.getJSON('http://pipes.yahoo.com/pipes/pipe.run?_id=mP_UbrA53hGDlgAZpgt1Yg&_render=json&_callback=?',
			function(data){		
				$.each(data.value.items, function(i,item){
					if(i<5)
					{
						$('<a>').attr('href',item.link).text(item.title).appendTo('#news_box_items').wrap('<li>');
					}
				});		      
			});
		});
		</script>
		
	</div>
	
	
	<div class="span-8 last">
		
		{% bank_search %}

		{% tarp_warrant_tracker %}
		
		<div class="front_about">
			<h3 class="front_about_head">Who is Involved?</h3>			
			<p>Subsidyscope is guided by a broad and bipartisan <a href="/board/">advisory board</a> of top experts in federal spending, taxes, and finance. <a href="http://www.sunlightfoundation.com">The Sunlight Foundation</a>, Pew's research and technology partner, is developing the database and Web site to facilitate the distribution of data across the Web. </p>
		</div>
		
	</div>
	
	
	
	
	
</div>	
	
</div> <!--ends container-->
{% endblock %}
