{% extends "base.html" %}
{% load media %}
{% load project_update_tags %}
{% load news_brief_tags %}
{% load bailout_tags %}
{% load carousel_tags %}
{% block content %}
{% js "cookie.js" %}
{% js "carouselinit.js" %}
<script type="text/javascript">
$(function () {
	function DeliciousItemHasTag(item, tag)
	{
		var hasTag = false;
		if(typeof(item.category)!='undefined')
		{
			if(typeof(item.category.length)!='undefined')
			{
				for(c in item.category)
					if(item.category[c].content==tag)
					{
						hasTag = true;
						break;
					}						
			}
			else
			{
				if(item.category.content==tag)
					hasTag = true;
			}
		}
		return hasTag;
	}
	
	// set up "in the news" block
	$(function(){
		var MAX_NEWS_ITEMS = 10;
		//$.getJSON('http://pipes.yahoo.com/pipes/pipe.run?_id=mP_UbrA53hGDlgAZpgt1Yg&_render=json&_callback=?',
		$.ajax({
		  url: "http://pipes.yahoo.com/pipes/pipe.run?_id=mP_UbrA53hGDlgAZpgt1Yg&_render=json&_callback=?",
		  cache: false,
		  dataType: "json",
		  success: function(data){		
			$.each(data.value.items, function(i,item){	
				if((i<MAX_NEWS_ITEMS) && !(DeliciousItemHasTag(item, 'olddelicious')) && !(DeliciousItemHasTag(item, 'nohp')))
				{
					var link = $('<li><a href="' + item.link + '">' + item.title + '</a></li>');
					$('#subsidyscope-in-the-news .news_box_items').append(link);
				}
			});		      
			$('#subsidyscope-in-the-news').show();
		}});
	});

});
</script>


<div class="container top_solid_box">&nbsp;</div>
<div class="container white">
	<div class="span-11">
		<div class="feature_leftside">
	

<!-- feature box toggle layers -->
		
<div id="feature_box">
	<div class="tabs">
								
		{% carousel_entries 1 %}	
			
	</div> <!--ends tabs class-->
</div><!-- end feature box -->
	
	
		<div class="updates_box">
			<div class="updates_head">
			<h2>Subsidyscope Project Updates</h2>
			<a title="Click here for news feed" href="{% url django.contrib.syndication.views.feed "updates" %}"><img src="/media/images/rss_icon.png"></a><span id="rss-explanation">&nbsp;(<a href="{% url about_rss %}">What's this?</a>)</span>
			</div>
			{# display project updates #}			
			{% project_updates  0%}
		</div> 
<!-- ends update box-->

</div> <!-- ends feature left side -->		

</div>
	
<div class="span-13 last">
	<div class="feature_rightside">
		<div id="intro">
		<p class="intro_copy"><strong>Subsidyscope</strong>, launched by The Pew Charitable Trusts, aims to raise public awareness about the role of federal subsidies in the economy. <a href="{% url faq %}" class="intro_more">Read More »</a></p>		
		</div>
		
		<div id="taxonomy" style="">
			<div class="left_tax">
				<div class="tax_item">
					<div id="tax_icon"><a href="/projects/bailout/"><img src="/media/images/sector_icons/1_lg.png" border="0" alt="Financial Bailout"></a></div>	
					<div>	
						<h3><a href="/projects/bailout/">Financial Bailout</a></h3>
						<p>	<a href="{% url bailout_treasury_index %}">Treasury</a>, 
							<a href="{% url bailout_fdic_index %}">FDIC</a>, 
							<a href="{% url bailout_federal_reserve_index %}">Federal Reserve</a>,<br/>
							<a href="{% url bailout_other_index %}">Other Agencies</a>
						</p>	
					</div>
				</div>
				
				<div class="tax_item">
					<div id="tax_icon"><img src="/media/images/sector_icons/philanthropy/philanthropy_lg_grey.png" border="0" alt="Philanthropy"></div>	
						<div>
							<h3 class="coming">Philanthropy</h3>
							<p>Fall 2009</p>
						</div>
					</div>
				</div>
			
			<div class="right_tax">
				<div class="tax_item">
					<div id="tax_icon"><a href="{% url transportation-index %}"><img src="/media/images/sector_icons/transportation/trans_lg.png" border="0" alt="Transportation"></a></div>	
						<div><h3><a href="{% url transportation-index %}">Transportation</a></h3>
							<p>
  							<a href="{% url transportation-aviation %}">Aviation</a>,
  							<a href="{% url transportation-highways %}">Highways</a>, 
  							<a href="{% url transportation-maritime %}">Maritime</a>,<br/>
  							<a href="{% url transportation-rail %}">Rail</a>,
  							<a href="{% url transportation-transit %}">Transit</a>
  						</p>
						</div>	
				</div>
			
				<div class="tax_item">
					<div id="tax_icon"><img src="/media/images/icon_lrg_energy_grey.png" border="0" alt="Energy"></div>	
						<div>
							<h3 class="coming">Energy</h3>
							<p>Coming soon</p>
						</div>
					</div>
				
			</div>
		</div>				
	</div>
	
	<div class="span-5">
		<div class="news_box">
			<div class="news_head"><h2>Downloadable Data</h2>
			</div>	
			<p><a href="{% url datasets %}"><img src="{% media_url %}/images/download_icon_small.png" class="alignright" style="margin: 1em 0.25em 1em 0.6em"/></a>Subsidyscope releases all of its data in open formats. <a href="{% url datasets %}">Learn more</a>.</p>
		</div>	
		
		<div class="news_box">
			<div class="news_head"><h2>Contact Us</h2>
			</div>
			<p>Have a suggestion, question or concern? <a href="{% url contact_form %}">Let us know</a>.</p>
		</div>	
		
		<div class="news_box" id="subsidyscope-in-the-news">
			<div class="news_head"><h2>Subsidyscope In The News</h2><a title="Click here for news feed" href="http://feeds.delicious.com/v2/rss/subsidyscope?count=15"><img src="/media/images/rss_icon.png"></a>
			</div>
			<ul class="news_box_items">				
			</ul>	
		</div>
	</div>
	
	
	<div class="span-8 last">
		
		{% news_briefs %}
		
		{% bank_search %}

		{% tarp_warrant_tracker %}
		
		<div class="front_about">
			<h3 class="front_about_head">Who is Involved?</h3>			
			<p>Subsidyscope is guided by a broad and bipartisan <a href="/board/">advisory board</a> of top experts in federal spending, taxes, and finance. <a href="http://www.sunlightfoundation.com">The Sunlight Foundation</a>, Pew's research and technology partner, is developing the database and Web site to facilitate the distribution of data across the Web. </p>
		</div>
		
	</div>
	
	
	
	
	
</div>	
	
</div> <!--ends container-->
{% endblock %}
