<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Subsidyscope is undergoing maintenance.</title>
<style>
#massage { width:300px; margin-left:auto; margin-right:auto; text-align:center;}
</style>	
</head>

<body>
<div id="massage">
<img src="http://media.sunlightprojects.org/subsidyscope/images/subsidy_logo.png">
<p>Subsidyscope is undergoing maintenance. Please check back in a few moments.</p>
</div>

</body>
</html>
