{% extends "base.html" %}
{% load media %}

{% block content %}


<div class="container white">
	
	<!--
		This is here so I don't forget about it in the future.
		<div class="span-24">
		<div class="subnav">
		<h3 class="location_header"><a href="/projects/bailout/">The Financial Bailout</a> : Troubled Asset Relief Program (TARP)</h3>
		</div>
	</div>
-->
	<div class="span-6">
			{% include "includes/bailout_left_nav.html" %}
	</div>


	<div class="span-13">
	<div class="full_padding">
		<h2 class="type_header">projects</h2>
		<h3 class="section_header">Subsidyscope</h3>
		
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>

		<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		
	
	</div>
	</div>

	<div class="span-5 last">
			<div>&nbsp;</div>
	</div>





</div> <!--ends container-->
{% endblock %}