{% extends "base.html" %}

{% load media %}
{% load morsel_tags %}
{% load te_tags %}

{% block content %}


<script>

	function reloadPage()
	{
		$("#loaderForm").submit();
	}
	
	function changeYear(year)
	{
		$("#displayYear").val(year)
		$("#loaderForm").submit();
		return false;
	}
	
	function toggleLine(line_id)
	{
		var source_elem = $('#' + line_id + '_source')[0];
	
		if(source_elem && source_elem.style.display == 'none')
		{
		     $('#' + line_id + '_source').show();
		     $('#' + line_id + '_toggle').removeClass('plus');
		     $('#' + line_id + '_toggle').addClass('minus');
		}
		else
		{
		     $('#' + line_id + '_source').hide();
		     $('#' + line_id + '_toggle').removeClass('minus');
		     $('#' + line_id + '_toggle').addClass('plus');
		}     
		     
		     
		var footnote_elem = $('#' + line_id + '_footnotes')[0];
	
		if(footnote_elem && footnote_elem.style.display == 'none')
		     $('#' + line_id + '_footnotes').show();
		else
		     $('#' + line_id + '_footnotes').hide();                       
	
		return false;
	}

</script>

<div class="container main_container">
    {% include "includes/pted_group_nav.html" %}
    <div class="span-24">
        <div id="header_area">
            <h3>Pew's Tax Expenditure Database</h3>
        </div>
        <div class="content_area">
             	
        	<h5 style="margin-top:20px;">{{ group.name }}</h5> 
        
        	{{ group.description|safe }}
        	        	
        	<div style="float: right; text-align: right;">
        		<a href="{% url tax_expenditures-csv group.id %}">Download data as CSV file</a>
        	</div>
        	<br clear="all"/>
        	<div style="float: right; text-align: right;">
        
        	<form id="loaderForm" action="{% url tax_expenditures-group group.id %}" method="GET" style="margin-bottom: 5px;">
        		<strong>Display estimates for: </strong><select name="estimate" id="displayEstimate" onchange="reloadPage();"><option value="3" {% ifequal estimate 3 %}selected{% endifequal %}>Corporations & Individuals</option><option value="1" {% ifequal estimate 1 %}selected{% endifequal %}>Corporations</option><option value="2" {% ifequal estimate 2 %}selected{% endifequal %}>Individuals</option></select>
        		
        		<strong>Show fiscal years: </strong><select name="year" id="displayYear" onchange="reloadPage();">{% for choice in year_choices %}<option value="{{ choice.value }}" {% ifequal year choice.value %}selected{% endifequal %}>{{ choice.label }}</option>{% endfor %}</select>
        	</form>
        	</div>
        
        	
        	<strong>Summary by Fiscal Year ($ millions)<a href="#footnote-1" class="footnote">1</a></strong><br/>
        	<div id="subsidy-charts"  style="margin-bottom: 35px;"> 
				<table>				
				<tbody style="border-right: 1px solid #999;">
					<tr class="header-row"> 
					  <td style="border-left: 1px solid #999;">&nbsp;</td>
					  {% for year in estimate_years %}<td style="width: 67px; text-align: right; {% if forloop.last  %} border-right: 1px solid #999;{% endif %}">{% if forloop.first  %}{% te_previous_year previous_year %}{% endif %}{{year}}{% if forloop.last  %}{% te_next_year next_year %}{% endif %}</td>{% endfor %}
					</tr>
					
					{% te_group_summary group source estimate estimate_years %}

				</tbody>
				</table>
			</div>  	
        
        {% if subgroups%}
        	<strong>{% if group.parent %}JCT {% endif %}Tax Expenditures within {{ group.name }} by Fiscal Year ($ millions)</strong><br/>
        		{% if group.parent %}Multiple JCT line items correspond with this Treasury line item.  The JCT estimates have been aggregated below to create an accurate comparison.{% endif %}
        	<div id="subsidy-charts"  style="margin-bottom: 35px;"> 
				<table>
				
				<tbody style="border-right: 1px solid #999; border-left: 1px solid #999;">
				
					<tr class="header-row"> 
					  <td style="border-left: 1px solid #999;">&nbsp;</td>
					  {% for year in estimate_years %}<td style="width: 67px; text-align: right;{% if forloop.last  %} border-right: 1px solid #999;{% endif %}">{% if forloop.first  %}{% te_previous_year previous_year %}{% endif %}{{year}}{% if forloop.last  %}{% te_next_year next_year %}{% endif %}</td>{% endfor %}
					 
					</tr>
				
					{% for subgroup in subgroups %}
						
						<tr><td style="text-align: left; border-right: 1px solid #999; border-left: 1px solid #999; border-top: solid 1px #999; border-bottom: solid 1px #ccc;" colspan="15"><strong><a href="{% url tax_expenditures-group subgroup.id %}?estimate={{ estimate }}&year={{ year }}">{{ subgroup.name }}</a></td></tr>
						
						{% te_group_summary subgroup source estimate estimate_years %}
						
					{% endfor %}
				
				</tbody>
				</table>
				
			</div>
		{% endif %}
		
		
		{% if group.parent %}
	        {% te_expenditure_detail group report_years estimate_years estimate 'Treasury' previous_year next_year %}      
	        	
	        {% te_expenditure_detail group report_years estimate_years estimate 'JCT' previous_year next_year %}    
	    {% endif %}
		
	
		{% if  group.parent %}
		
			<div style="width: 350px; display:inline; float: right; ">
				<div style="border: solid 1px #ccc; width: 20px; height: 20px; background-color: #aaf; display: inline; float: left; margin-right: 10px;"></div>
				<div>Latest estimate, included in summary totals at top of page</div>
			</div>
			<br clear="all"/>
			<div style="width: 350px; float: right; margin-top: 10px;">
				<div style="border: solid 1px #ccc; width: 20px; height: 20px; background-color: #ddd; display: inline; float: left; margin-right: 10px;"></div>
				<div>Previous estimate</div>
			</div>
		
		
		{% endif %}
		
		<cite>
		* Contains tax expenditures estimated to be between -$50 million and $50 million. When aggregated, the sum of these estimates are unknown and thus are rounded to zero. For more information, see the methodology.
		</cite>
	
		
		<br/>
		<br/>

	
		{% if not group.parent %}
		<cite>
			Notes: Estimate years, presented along the horizontal axis (varying across the columns), correspond to the years of estimates within a specific budget or document. The estimate presented is the most recent estimate made for that year. All estimates are reported in nominal dollars by fiscal year. Click on specific tax expenditures for more information and data.
		</cite>
		{% else %}
		<cite>
			Notes: Report years, presented along the vertical axis (varying down the rows) correspond to the year of the budget of document in which the estimates were obtained. Estimate years, presented along the horizontal axis (varying across the columns), correspond to the years of estimates within a specific budget or document. All estimates are reported in nominal dollars by fiscal year.
		</cite>
		{% endif %}
		
		<br/>
		<br/>
		
		<cite>
		{% if group.notes %}
        		{{ group.notes|safe }}
        	{% endif %}
		</cite>
		
		<br/>
		<br/>
		
		<ol class="footnotes">
			<li><a name="footnote-1"></a>Summing tax expenditures often provides a reasonably good estimate for the total cost of groups of tax expenditures, though it does not capture the potential interactions among tax expenditures if any single one is changed or repealed.</li>
		</ol>
		
		</div>
	</div>
</div>


{% endblock content %}
