{% extends "base.html" %}

{% load media %}
{% load morsel_tags %}
{% load te_tags %}

{% block content %}


<script>
function reloadPage()
{
	if($('#displayEstimate').val() == '1') 
		$("#loaderForm").attr("action", '{% url tax_expenditures-group group.id 1 %}');
	else if($('#displayEstimate').val() == '2') 
		$("#loaderForm").attr("action", '{% url tax_expenditures-group group.id 2 %}');
	else if($('#displayEstimate').val() == '3') 
		$("#loaderForm").attr("action", '{% url tax_expenditures-group group.id 3 %}');
		
	$("#loaderForm").submit();
}


</script>

<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
    <div class="span-24">
        <div id="header_area">
            <h3>Pew's Tax Expenditure Database</h3>
        </div>
        <div class="content_area">
        
        	{% te_breadcrumb group estimate%}
        
        	
        	<h5 style="margin-top:20px;">{{ group.name }}</h5> 
        
        	{{ group.description|safe}}
        	
        	<form id="loaderForm" action="" method="GET"></form>
        	
        	<div style="float: right; text-align: right;">
        		<a href="{% url tax_expenditures-csv group.id %}">Download data as CSV file</a>
        	</div>
        	<br clear="all"/>
        	<div style="float: right; text-align: right;">
        		<strong>Display estimates for: </strong><select id="displayEstimate" onchange="reloadPage();"><option value="3" {% ifequal estimate 3 %}selected{% endifequal %}>Corporations & Individuals</option><option value="1" {% ifequal estimate 1 %}selected{% endifequal %}>Corporations</option><option value="2" {% ifequal estimate 2 %}selected{% endifequal %}>Individuals</option></select>
        	</div>
        
        	
        	<strong>Summary ($ millions)</strong><br/>
        	<div id="subsidy-charts"  style="margin-bottom: 35px;"> 
				<table>				
				<tbody>
					<tr class="header-row"> 
					  <td></td>
					  {% for year in te_years %}<td style="text-align: right;">{{year}}</td>{% endfor %}
					 
					</tr>
					
					{% te_group_summary group source estimate %}

				</tbody>
				</table>
			</div>
        	
        {% if treasury_expenditures %}
        
        	<strong>Treasury Tax Expenditure Estimates ($ millions)</strong><br/>
        	<div id="subsidy-charts"  style="margin-bottom: 35px;"> 
				<table>
				
				<tbody>
				
					<tr class="header-row"> 
					  <td></td>
					  {% for year in te_years %}<td  style="text-align: right;">{{year}}</td>{% endfor %}
					 
					</tr>
					
					<tr><td style="text-align: left;"><strong>Report Year</strong></td></tr>
					{% for expenditure in treasury_expenditures %}
						
						{% te_expenditure_detail expenditure estimate %}
						
					{% endfor %}
				
				</tbody>
				</table>
				
				<div style="margin-bottom: 50px;">
					<div style="float: right;">
						<div style="width: 150px; display:inline; float: left;"></div><div style="border: solid 1px #ccc; width: 20px; height: 20px; background-color: #ddd; display: inline; float: left; margin-right: 10px;"></div><div>Old estimate</div></div>
						<div style="width: 200px; display:inline; float: right;"><div style="border: solid 1px #ccc; width: 20px; height: 20px; background-color: #ddf; display: inline; float: left; margin-right: 10px;"></div><div>Estimate included in total</div></div>
					</div>
				</div>
			
        
        {% endif %}
        
        
        {% if jct_expenditures %}
        
        	<strong>JCT Tax Expenditure Estimates ($ millions)</strong><br/>
        	<div id="subsidy-charts" style="margin-bottom: 35px;"> 
				<table>
				
				<tbody>
				
					<tr class="header-row"> 
					  <td></td>
					  {% for year in te_years %}<td style="text-align: right;">{{year}}</td>{% endfor %}
					 
					</tr>
					
					<tr><td style="text-align: left;"><strong>Report Year</strong></td></tr>
					{% for expenditure in jct_expenditures %}
						
						{% te_expenditure_detail expenditure estimate %}
						
					{% endfor %}
				
				</tbody>
				</table>
				<div>
					* Contains estimates between -$50 million and $50 million.
					<div style="float: right;">
						<div style="width: 150px; display:inline; float: left;"></div><div style="border: solid 1px #ccc; width: 20px; height: 20px; background-color: #ddd; display: inline; float: left; margin-right: 10px;"></div><div>Old estimate</div></div>
						<div style="width: 200px; display:inline; float: right;"><div style="border: solid 1px #ccc; width: 20px; height: 20px; background-color: #ddf; display: inline; float: left; margin-right: 10px;"></div><div>Estimate included in total</div></div>
					</div>
				</div>
        
        {% endif %}
        	
        
        {% if subgroups%}
        	<strong>Tax Expenditures within {{ group.name }} ($ millions)</strong><br/>
        	<div id="subsidy-charts"  style="margin-bottom: 35px;"> 
				<table>
				
				<tbody>
				
					<tr class="header-row"> 
					  <td></td>
					  {% for year in te_years %}<td style="text-align: right;">{{year}}</td>{% endfor %}
					 
					</tr>
				
					{% for subgroup in subgroups %}
						
						<tr style="border-top: solid 1px #ccc;"><td  style="text-align: left;">&nbsp;<span style="position: absolute; width: 100%"><strong><a href="{% url tax_expenditures-group subgroup.id estimate %}">{{ subgroup.name }}</a></strong></span></td>{% for year in te_years %}<td style="background-color: {% cycle '#eee' '#fff' %};"></td>{% endfor %}</tr>
						
						{% te_group_summary subgroup source estimate %}
						
					{% endfor %}
				
				</tbody>
				</table>
				
			</div>
		{% endif %}
		
		</div>
	</div>
</div>

{% endblock content %}