{% extends "base.html" %}

{% load media %}
{% load morsel_tags %}
{% load te_tags %}

{% block content %}

<script>
function reloadPage()
{
	if($('#displayEstimate').val() == '1') 
		$("#loaderForm").attr("action", '{% url tax_expenditures-main 1 %}');
	else if($('#displayEstimate').val() == '2') 
		$("#loaderForm").attr("action", '{% url tax_expenditures-main 2 %}');
	else if($('#displayEstimate').val() == '3') 
		$("#loaderForm").attr("action", '{% url tax_expenditures-main 3 %}');
		
	$("#loaderForm").submit();
}

</script>


<div class="container main_container">
    {% include "includes/transportation_nav.html" %}
    <div class="span-24">
        <div id="header_area">
            <h3>{% morsel_page_title %}</h3>
        </div>
        <div class="content_area">
        
        
        	{% morsel text1 %}
        
        	<form id="loaderForm" action="" method="GET"></form>
        	
        	
        	
        	<div style="float: right; text-align: right;">
        		<a href="{% url tax_expenditures-csv group.id %}">Download data as CSV file</a>
        	</div>
        	<br clear="all"/>
        	<div style="float: right; text-align: right;">
        		<strong>Display estimates for: </strong><select id="displayEstimate" onchange="reloadPage();"><option value="3" {% ifequal estimate 3 %}selected{% endifequal %}>Corporations & Individuals</option><option value="1" {% ifequal estimate 1 %}selected{% endifequal %}>Corporations</option><option value="2" {% ifequal estimate 2 %}selected{% endifequal %}>Individuals</option></select>
        	</div>
        	
        	<h5 style="margin-top:20px;">Summary of Tax Expenditures ($ millions) <a href="#footnote-1" class="footnote">1</a></h5> 
        	
        
        	<div id="subsidy-charts"> 
				<table>
				
				<tbody>
				
					<tr class="header-row"> 
					  <td></td>
					  {% for year in te_years %}<td style="text-align: right;">{{year}}</td>{% endfor %}
					 
					</tr>
					{% for group in groups %}
						
						<tr style="border-top: solid 1px #ccc;"><td  style="text-align: left;" colspan="8"><strong><a href="{% url tax_expenditures-group group.id estimate %}">{{ group.name }}</a></strong></td></tr>
						
						{% te_group_summary group source estimate te_years %}
						
					{% endfor %}
				
				</tbody>
				</table>
			</div>
			
		<cite>
		* Contains estimates between -$50 million and $50 million, rounded to zero in total.
		</cite>
		
		<br/>
		<br/>
		
		
		<ol class="footnotes">
			<li><a name="footnote-1"></a>Summing tax expenditures often provides a reasonably good estimate for the total cost of groups of tax expenditures, though it does not capture the potential interactions among tax expenditures if any single one is changed or repealed.</li>
		</ol>
		
			
			
		</div>
	</div>
</div>

{% endblock content %}
