{% load humanize %}
{% load te_tags %}



<strong>Summary of {{ source }} Tax Expenditure Estimates by Report Year ($ millions)</strong><br/>
Click the plus for source information and footnotes from original report.
<div id="subsidy-charts"  style="margin-bottom: {% ifequal source 'JCT' %}15{% else %}35{% endifequal %}px;"> 
	<table>
	
	<tbody  style="border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
	
		<tr class="header-row" >
			<td  style="border-bottom: none;"></td>
			<td  style="border-bottom: none;" colspan="{{ estimate_years|length }}">Estimate Year</td>
		</tr>
	
		<tr class="header-row" > 
		  <td  style="border-top: none;"></td>
		  {% for year in estimate_years %}<td  style="border-top: none; width: 70px; text-align: right; {% if forloop.last  %} border-right: 1px solid #999;{% endif %}">{% if forloop.first  %}{% te_previous_year previous_year %}{% endif %}{{year}}{% if forloop.last  %}{% te_next_year next_year %}{% endif %}</td>{% endfor %}
		 
		</tr>
		
		<tr><td style="border-right: 1px solid #ccc; border-left: 1px solid #ccc; width: 100px; "><strong>Report Year</strong></td><td style="border-right: 1px solid #ccc; " colspan="14"></td></tr>
		
			{% for line in lines %}
				
				<tr>
				
					<td style="border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid  #ccc;"><a id="{{ line.id }}_toggle" class="plus" href="#" onclick="toggleLine('{{ line.id }}');return false;" ></a><span><em>{{ line.report_year }}</em></span></td>
						
						{% for item in line.data %}
						
							{% ifnotequal item None %}
								<td style="background-color: {{ item.color }}; text-align: right; border-right: 1px solid #ccc; border-top: 1px solid  #ccc;">{{ item.value|floatformat:0|intcomma }}{% if item.notes %}*{% endif %}</td>
							{% else %}
							 	<td style="border-right: 1px solid #ccc; border-top: 1px solid  #ccc;"></td>
							{% endifnotequal %}
							
						{% endfor %}
					
					</tr>
					
					<tr id="{{ line.id }}_source" style="display: none;">
						<td style="text-align: right;  border-top: 1px solid  #eee; border-left: 1px solid #ccc;"><strong>Source:</strong></td><td colspan="14" style="text-align: left;  border-top: 1px solid  #eee; border-right: 1px solid #ccc; ">{{ line.source }}</td>
					</tr>
					
					{% if line.footnotes %}
						<tr id="{{ line.id }}_footnotes" style="display: none;">
								<td style="text-align: right; border-left: 1px solid #ccc;"><strong>Footnotes:</strong></td><td colspan="14" style="text-align: left; border-right: 1px solid #ccc; ">{{ line.footnotes|safe }}</td>
						</tr>
					{% endif %}
					
			{% endfor %}
		
		</tbody>
		</table>
		
</div>
