{% load humanize %}






<strong>Summary of {{ source }} Tax Expenditure Estimates by Report Year ($ millions)</strong><br/>
Click <img src="/media/images/collapse_plus.png"/>for source information and footnotes from original report.
<div id="subsidy-charts"  style="margin-bottom: 35px;"> 
	<table>
	
	<tbody  style="border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
	
		<tr class="header-row" > 
		  <td></td>
		  {% for year in estimate_years %}<td  style="text-align: right;">{{year}}</td>{% endfor %}
		 
		</tr>
		
		<tr><td style="border-right: 1px solid #ccc; width: 100px;"><strong>Report Year</strong></td><td colspan="14"></td></tr>
		
		{% for line in lines %}
			
			<tr>
	
				<td style="border-right: 1px solid #ccc; border-top: 1px solid  #ccc;"><em>{{ line.report_year }}{% if line.footnotes %}&dagger;{% endif %} <a href="#" onclick="toggleLine('{{ line.id }}');return false;"><img id="{{ line.id }}_toggle" src="/media/images/collapse_plus.png"/></a></em></td>
					
					{% for item in line.data %}
						{% ifnotequal item None %}
							<td style="background-color: {{ item.color }}; text-align: right; border-right: 1px solid #ccc; border-top: 1px solid  #ccc;">{{ item.value|floatformat:0|intcomma }}{% if item.notes %}*{% endif %}</td>
						{% else %}
						 	<td style="border-right: 1px solid #ccc; border-top: 1px solid  #ccc;"></td>
						{% endifnotequal %}
					{% endfor %}
				
				</tr>
				
				<tr id="{{ line.id }}_source" style="display: none;">
					<td style="text-align: right;  border-top: 1px solid  #eee;"><strong>Source:</strong></td><td colspan="14" style="text-align: left;  border-top: 1px solid  #eee;">{{ line.source }}</td>
				</tr>
				{% if line.footnotes %}
					<tr id="{{ line.id }}_footnotes" style="display: none;">
							<td style="text-align: right;"><strong>Footnotes:</strong></td><td colspan="14" style="text-align: left;">{{ line.footnotes }}</td>
						
						
					</tr>
				{% endif %}
	
				
			{% endfor %}
		
		</tbody>
		</table>
		
		<div style="margin-bottom: 50px;">
			<div style="float: right;">
				<div style="width: 150px; display:inline; float: left;"></div>
				<div style="border: solid 1px #ccc; width: 20px; height: 20px; background-color: #ddd; display: inline; float: left; margin-right: 10px;"></div>
				<div>Previous estimate</div>
			</div>
			<div style="width: 350px; display:inline; float: right;">
				<div style="border: solid 1px #ccc; width: 20px; height: 20px; background-color: #aaf; display: inline; float: left; margin-right: 10px;"></div>
				<div>Latest estimate, included in summary totals at top of page</div>
			</div>
		</div>
</div>
