{% load humanize %}

<tr>
	<td  class="program"><a href="/tax_expenditures/expenditure/{{ expenditure.id }}/"><strong>{{ expenditure.name }}</strong></a></td>	
</tr>
<tr class="odd">
	<td class="subprogram"><em>Treasury</em></td>
	{% for data_point in data %}
		<td style="text-align: right;">{% if data_point.treasury %}${{ data_point.treasury|floatformat:0|intcomma }}{% else %}-{% endif %}</td>
	{% endfor %}
</tr>
<tr class="even">
	<td class="subprogram"><em>Joint Committee on Taxation</em></td>
	{% for data_point in data %}
		<td style="text-align: right;">{% if data_point.jct %}${{ data_point.jct|floatformat:0|intcomma }}{% else %}-{% endif %}</td>
	{% endfor %}
</tr>