{% load humanize %}

{% if treasury_summary %}
<tr style="border-right: 1px solid #999; border-left: 1px solid #999;">
	<td style="text-align: right; padding-right: 15px; border-right: 1px solid #ccc;"><em>Treasury</em></td>
	{% for value in treasury_summary %}<td style="text-align: right; border-left: 1px solid #ccc; background-color: {% cycle '#eee' '#fff' %};">{% ifequal value.amount None %}{% if value.notes %}{% else %}-{% endif %}{% else %}{{ value.amount|floatformat:0|intcomma }}{% endifequal %}{% if value.notes %}*{% endif %}</td>{% endfor %}
</tr>
{% endif %}

{% if jct_summary %}
<tr style="border-right: 1px solid #999; border-left: 1px solid #999;">
	<td style="text-align: right; padding-right: 15px; border-right: 1px solid #ccc;"><em>JCT</em></td>
	{% for value in jct_summary %}<td style="text-align: right; border-left: 1px solid #ccc; background-color: {% cycle '#eee' '#fff' %};">{% ifequal value.amount None %}{% if value.notes %}{% else %}-{% endif %}{% else %}{{ value.amount|floatformat:0|intcomma }}{% endifequal %}{% if value.notes %}*{% endif %}</td>{% endfor %}
</tr>
{% endif %}

