

<div class="container footer_container">
	<p>
		<a href="http://www.pewtrusts.org/">The Pew Charitable Trusts</a> is driven by the power of knowledge to solve today’s most challenging problems. Pew applies a rigorous, analytical approach to improve public policy, inform the public and stimulate civic life. We partner with a diverse range of donors, public and private organizations and concerned citizens who share our commitment to fact-based solutions and goal-driven investments to improve society.
	</p>
	<a href="http://www.pewtrusts.org" class="pew-logo">The Pew Charitable Trusts</a>
</div>



<script type="text/javascript">
if(!window.location.host.match(/(staging|127\.0\.0\.1|localhost)/i)){ 
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1265484-28");
pageTracker._trackPageview();
} catch(err) {}</script>
