<div class="secondary-nav">
	<div class="top-five-pages">
		<h4>Top Pages</h4>
		<ol>
			<li>
			<a href="/tax_expenditures/db/">Pew's Tax Expenditure Database</a>
			</li>
			<li>
			<a href="/transportation/amtrak/">Analysis Shows Amtrak Lost $32 Per Passenger in 2008</a>
			</li>
			<li>
			<a href="/transportation/highways/funding/">Analysis Finds Shifting Trends in Highway Funding</a>
			</li>
			<li>
			<a href="/housing/tax-expenditures/">Tax Expenditures in the Housing Sector</a>
			</li>
			<li>
			<a href="/energy/tax-expenditures/">Tax Expenditures in the Energy Sector</a>
			</li>
		</ol>
	</div>
	<div class="internal-ad">
	
	<a href="#">Browse Pew’s </br>Tax Expenditure Database <span class="ad-more">»</span></a>
	</div>
</div>
