   	<div class="secondary-nav">
	<ul class="single">
		<li>
			<a href="/tax_expenditures/summary/">Summary</a>
		</li>
	</ul>
	<ul class="single">
		<li>
			<a href="/tax_expenditures/methodology/">Methodology</a>
		</li>
	</ul>
	<ul class="expanded">
		<li class="active"><span class="accordion"></span>
		<a href="/tax_expenditures/db/">Database</a>
			<ul>
				<li>Energy</li>
				<li>Housing</li>
				<li>Transportation</li>
			</ul>
		</li>
	</ul>

  <!-- {% include "includes/pted_group_nav.html" %}-->




</div>