{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}

{% block content %}

<div class="container main_container">
	<div class="span-24">
		<div id="header_area">
			<h3>Glossary of Terms</h3>		
		</div>
		
		<div class="content_area">

            <dl id="glossary">
                {% for item in glossary_items %}
                {% spaceless %}
                <dt>
                    <a name="{{ item.slug }}" href="#{{ item.slug }}">
                        {{ item.term }}
                        {% if item.acronym %}({{ item.acronym }}){% endif %}
                    </a>
                </dt>
                {% endspaceless %}
                <dd>{{ item.definition|safe }}</dd>
                {% endfor %}
            </dl>
            <p>
                <em>
                    <strong>Sources</strong>:
                    Federal Reserve,
                    Special Inspector General for TARP,
                    Congressional Budget Office,
                    <a href="http://investorwords.com">investorwords.com</a>,
                    <a href="http://investopedia.com">investopedia.com</a>,
                    <a href="http://businessdictioanry.com">businessdictionary.com</a>,
                    <a href="http://nolo.com">nolo.com</a>,
                    <a href="http://teachmefinance.com">teachmefinance.com</a>,
                    <a href="http://trading-glossary.com">trading-glossary.com</a>,
                    <a href="http://useconomy.about.com">useconomy.about.com</a>
                </em>
            </p>
        </div>
    </div>
</div>
{% endblock %}
