{% extends "base_documents.html" %}

{% load webdesign %}

{% block content %}
<div class="container main_container">
	{% include "includes/bailout_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h3>Key Documents</h3>		
		</div>
		
		<div id="content_area">
			<p>Subsidyscope provides a clearinghouse for government documents and reports related to the financial rescue. This compilation will be updated regularly. </p>
		</div>
	
	<div class="non_content">
	
			<table class="pdf-table" id="pdf-data-table">
				
			<tr id="header-row">
				<th class="date">Date</th>
				<th class="title">Title</th>
				<th class="description">Description</th>
				<th class="source">Source</th>
			</tr>
				
			{% for pdf in object_list %}
			    <tr class="{% cycle 'odd' 'even' %}">
					<td class="date">{{ pdf.date }}</td>
					<td class="title">{% ifequal pdf.document_type 'PDF' %}<a href="{% url bailoutpdf_detail pdf_id=pdf.id %}">{{ pdf.title }}</a>{% else %}<a href="{{ pdf.link_url }}">{{ pdf.title }}</a>{% endifequal %}</td>
					<td class="description">{{ pdf.description|safe }}</td>
					<td class="source"><a href="{{ pdf.source_url }}">{{ pdf.source_name }}</a></td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>

<style type="text/css">
.pdf-table
{
	width:98%; border: 0 !important;
}

.pdf-table .source, .pdf-table .date
{
	text-align: center;
}

.pdf-table td
{
	border: 1px solid #ccc;
}

.pdf-table th
{
	border-width: 0px 0px 1px 0px;
}
</style>
{% endblock %}