{% extends "base_documents.html" %}

{% block content %}
<script type='text/javascript' src='http://www.scribd.com/javascripts/view.js'></script>
<div class="container main_container">
	{% include "includes/bailout_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h2>Key Documents</h2>
			<h3>{{ pdf.title }}</h3>		
		</div>
		
		<div class="content_area">
		{% if pdf.local_copy %}<a style="float: right" class="pdf-download-link" href="{{ pdf.local_copy.url|urlencode }}">Download Document &raquo;</a>{% endif %}
	<p>{{ pdf.description|safe }}</p>
		</div>

		<div class="non_content">

			<div id='embedded_flash'><a href="http://www.scribd.com"></a></div>

<script type="text/javascript">
	var scribd_doc = scribd.Document.getDocFromUrl( 'http://' + window.location.host + '{{ pdf.local_copy.url|urlencode }}', '{{ scribd_publisher_id }}' );    
	scribd_doc.addParam( 'jsapi_version', 1 );
	scribd_doc.addParam('public', true);
	scribd_doc.addEventListener( 'iPaperReady', function(e){
		
	});
	scribd_doc.write( 'embedded_flash' );
</script>

		</div>
	</div>
</div>

{% endblock %}