{% extends "base.html" %}
{% load media %}
{% load morsel_tags %}
{% load carousel_tags %}
{% load project_update_tags %}
{% load faads_tags %}
{% block content %}
{% js "scripts/cookie.js" %}
{% js "scripts/carouselinit.js" %}



<div class="container main_container">

{% load navigation_tags %}
{% navigation main-nav %}
{% navigation sub-nav %}
    {% include "includes/nonprofits_nav.html" %}
	<div class="span-11">
		<div class="feature_leftside">
            <div id="feature_box">
			    <div class="tabs" style="height: 400px;">
                    {% carousel_entries 3 %}
                </div>
			</div><!-- end feature box -->
			
			<div class="updates_box">
				<div class="updates_head">
				<h2>Nonprofit Sector Updates</h2>
                <a title="Click here for news feed" href="{%url feed_project_updates "nonprofits" %}"><img src="/media/images/rss_icon.png" /></a><span id="rss-explanation">&nbsp;(<a href="{%url about_rss%}">What's this?</a>)</span>
				</div>
		      
		      {% project_updates 3 %}	
            
            </div> 	<!-- ends update box-->
		</div> <!-- ends feature left side -->		
	</div> <!-- ends span 11 -->

	<div class="span-13 last">
		<div class="feature_rightside">
			<div id="intro">	
			<img src="/media/images/sector_icons/nonprofits/nonprofits_lg.png" border="0" alt="Nonprofit Sector" class="sector_header_icon">
			<span class="sector_header">Nonprofits</span>
			<p class="sector_intro_copy">{% morsel text1 %}</p>		
			</div>

				<!--
				<div id="sector_taxonomy_box" style="">
					<ul id="sector_taxonomy">
						
						<li><img src="/media/images/sector_icons/transportation/transportation_aviation.png"><a href="{% url transportation-aviation %}">Aviation</a></li>
						<li><img src="/media/images/sector_icons/transportation/transportation_highways.png"><a href="{% url transportation-highways %}">Highways</a></li>
						<li><img src="/media/images/sector_icons/transportation/transportation_maritime.png"><a href="{% url transportation-maritime %}">Maritime</a></li>
					</ul>
					<ul id="sector_taxonomy" class="second-tier">
					  <li><img src="/media/images/sector_icons/transportation/transportation_rail.png"><a href="{% url transportation-rail %}">Rail</a></li>					  
					  <li><img src="/media/images/sector_icons/transportation/transportation_transit.png"><a href="{% url transportation-transit %}">Transit</a></li>
					</ul>
				</div>
				-->
				<div id="sector_taxonomy_box_bottom">&nbsp;</div>
		</div>
</div>

<div class="span-13 last">
  <div class="sectorpage-quick-search-container">{% faads_quick_search nonprofits %}</div>
</div>

<div class="span-13 last graphs">
            
    {% morsel text2 %}
    
</div>

<style type="text/css">
.border {border-bottom: 1px solid #afafaf;float:left; margin-bottom: 25px; padding-bottom: 20px;}
.graph-container {float:left; position:relative;}
.hhsubsidy{float:right; width:95px; padding: 10px; margin: 5px 5px 5px 30px; border: 2px solid #afafaf; text-align:center;}
.hoveranchor {display: block; position:absolute;}
.deanchor { height:29px; width:143px; top:180px; left:15px; }
.teanchor {height: 29px; width: 130px; top: 180px; left: 195px;}
.rtanchor {height:29px; width: 100px; top:0px; left: 20px;}
.hovertext {border: 1px solid black; margin:0px; background-color: #efefef; width: 250px; position:absolute; padding:10px; }
.first { top:65px; left:150px;}
.second {top: -90px; left:315px;}
</style>

</div>




{% endblock %}
