{% extends "base_sector.html" %}
{% load humanize %}
{% load webdesign %}
{% load media %}
{% load morsel_tags %}

{% block additional_js %}
	{% js "scripts/swfobject.js" %}
{% endblock %}

{% block additional_css %}
	<style type="text/css">@import "{% url bailout-visualization-css %}";</style>
{% endblock %}

{% block content %}

<div class="container main_container">
	{% include "includes/bailout_nav.html" %}
	<div class="span-24">
		<div id="header_area">
			<h2>{% morsel_sector_title %}</h2>
			<h3>{% morsel_page_title %}</h3>		
		</div>
		
		<div class="content_area">

			{% morsel text1 glossarize %}
					
		</div>

		<div class="non_content">
			<div id="bank-failures-container" style="width: 800px; margin: 0 auto 1em auto"><h4 style="text-align: center">Bank Failures</h3><div id="bankFailureVis" style="text-align:center;">				

				<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>				
				<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>			
			</div>
			
			<div class="attribution">Source: <a href="http://www.subsidyscope.com">www.subsidyscope.com</a>. Data from <a href="http://www2.fdic.gov/qbp/qbpSelect.asp?menuItem=QBP">FDIC Quarterly Banking Profile</a> (<a href="{% url fdic_qbpsnapshot_csv %}">Download CSV</a>).</div>
			</div>
			<script type="text/javascript">
			$(function(){
				swfobject.embedSWF('{% media_url %}/scripts/fdic_bank_failures-1.1.swf', 'bankFailureVis', 800, 300, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', 
				{
					width: 800,
					height: 300,	       
					data_url: 'http://' + window.location.host + '{% url fdic_bank_failures_xml %}',
					policy_file: 'http://' + window.location.host + '/crossdomain.xml'
				},
				{
					bgcolor: '#ffffff'
				}
				
				);			
			});
			</script>

		
			<div id="bank-failures-container" style="width: 800px; margin: 0 auto 1em auto"><h4 style="text-align: center">Deposit Insurance Fund Balance</h3><div id="DIF-fund-balance" style="text-align:center;">				
				<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>				
				<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>			
			</div>
			
			<div class="attribution">Source: <a href="http://www.subsidyscope.com">www.subsidyscope.com</a>. Data from <a href="http://www2.fdic.gov/qbp/qbpSelect.asp?menuItem=QBP">FDIC Quarterly Banking Profile</a> (<a href="{% url fdic_qbpsnapshot_csv %}">Download CSV</a>).</div>
			</div>
			<script type="text/javascript">
			$(function(){
				swfobject.embedSWF('{% media_url %}/scripts/fdic_line_chart-1.1.swf', 'DIF-fund-balance', 800, 300, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', 
				{
					width: 800,
					height: 300,	       
					data_url: 'http://' + window.location.host + '{% url fdic_qbpsnapshot_xml %}',
					policy_file: 'http://' + window.location.host + '/crossdomain.xml',
					field_to_examine: 'fund_balance'
				},
				{
					bgcolor: '#ffffff'
				}
				
				);			
			});
			</script>
		</div>
			
		<div class="content_area">
			{% morsel text2 glossarize %}		
		</div>
		
		<div class="non_content">	

			<div id="bank-failures-container" style="width: 800px; margin: 0 auto 1em auto"><h4 style="text-align: center">Deposit Insurance Fund Reserve Ratio</h3><div id="DIF-reserve-ratio" style="text-align:center;">				
				<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>				
				<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>			
			</div>

			<div class="attribution">Source: <a href="http://www.subsidyscope.com">www.subsidyscope.com</a>. Data from <a href="http://www2.fdic.gov/qbp/qbpSelect.asp?menuItem=QBP">FDIC Quarterly Banking Profile</a> (<a href="{% url fdic_qbpsnapshot_csv %}">Download CSV</a>).</div>

			</div>
			<script type="text/javascript">
			$(function(){
				swfobject.embedSWF('{% media_url %}/scripts/fdic_line_chart-1.1.swf', 'DIF-reserve-ratio', 800, 300, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', 
				{
					width: 800,
					height: 300,	       
					data_url: 'http://' + window.location.host + '{% url fdic_qbpsnapshot_xml %}',
					policy_file: 'http://' + window.location.host + '/crossdomain.xml',
					field_to_examine: 'reserve_ratio'
				},
				{
					bgcolor: '#ffffff'
				}
				
				);			
			});
			</script>
		</div>
		
		<div class="content_area">
			{% morsel text3 glossarize %}
		</div>
		
		<div class="non_content">
			
			<div id="bank-failures-container" style="width: 800px; margin: 0 auto 1em auto"><h4 style="text-align: center">FDIC Problem Institutions</h3><div id="problem-institutions" style="text-align:center;">				
				<p>To view this content, JavaScript must be enabled, and you need the latest version of the Adobe Flash Player.</p>				
				<a href="http://www.adobe.com/go/getflashplayer" class="noHover" target="_top"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" border="0" width="112" height="33"></a>			
			</div>
			
			<div class="attribution">Source: <a href="http://www.subsidyscope.com">www.subsidyscope.com</a>. Data from <a href="http://www2.fdic.gov/qbp/qbpSelect.asp?menuItem=QBP">FDIC Quarterly Banking Profile</a> (<a href="{% url fdic_qbpsnapshot_csv %}">Download CSV</a>).</div>
			
			</div>
			<script type="text/javascript">
			$(function(){
				swfobject.embedSWF('{% media_url %}/scripts/fdic_line_chart-1.1.swf', 'problem-institutions', 800, 300, '9.0.0', '{% media_url %}/scripts/playerProductInstall.swf', 
				{
					width: 800,
					height: 300,	       
					data_url: 'http://' + window.location.host + '{% url fdic_qbpsnapshot_xml %}',
					policy_file: 'http://' + window.location.host + '/crossdomain.xml',
					field_to_examine: 'problem_institutions'
				},
				{
					bgcolor: '#ffffff'
				}
				
				);			
			});
			</script>			
		</div>
		
		<div class="content_area">
			{% morsel text4 glossarize %}			
		</div>
	</div>
</div>


{% endblock %}