{% extends "base_sector.html" %}
{% load humanize %}
{% load webdesign %}
{% load media %}
{% load morsel_tags %}
 


{% block additional_js %}
	{% js "scripts/jquery.pngFix.pack.js" %}
	<script src="{% url bailout-visualization-js %}" type="text/javascript"></script>
{% endblock %}

{% block additional_css %}
	<style type="text/css">@import "{% url bailout-visualization-css %}";</style>
{% endblock %}

{% load menubuilder %}
{% block content %}

<div id="fin_bailout" class="wrapper clearfix">
	<div class="secondary-header">
			<h3>{% morsel_page_title %}</h3>		
		</div>
		
			{% recursive_menu %}

    <div class="page-content">

			<div class="section-floating-nav">
				<h3 class="front_about_head">FDIC</h3>
				{% include "includes/bailout_fdic_nav.html" %}
			</div>

			{% morsel text1 %}

		</div>
	</div>
</div>


{% endblock %}