{% extends "base_sector.html" %}
{% load humanize %}
{% load webdesign %}
{% load media %}
{% load morsel_tags %}
 


{% block additional_js %}
	{% js "scripts/swfobject.js" %}
{% endblock %}

{% load menubuilder %}
{% block content %}

<div id="fin_bailout" class="wrapper clearfix">
	<div class="secondary-header">
			<h3>{% morsel_sector_title %}</h3>
		</div>
		
			{% recursive_menu %}

    <div class="page-content">
		<h2>{% morsel_page_title %}</h2>		
	
			{% morsel text1 glossarize %}			
		</div>	
	</div>
</div>


{% endblock %}